<!-- <app-header-after-login></app-header-after-login>
<div class="side-data-cont">
    <app-sidebar-after-login></app-sidebar-after-login>
</div> -->
<div class="main-detail">
  <div class="conatiner-fluid p-0">
    <div class="main-dashboard-cnt">
      <div class="row m-0">
        <div class="col-md-12">
          <div class="dashbrd-hdr">
            <h3>Message</h3>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md-12">
          <div class="comments-section">
            <div class="row m-0">
                <div class="col-md-12 p-0">
                    <div class="ass-name-det">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-data">
                                    <h3>Daniel Thompson</h3>
                                    <p>Dec 31, 2019 - 05:25 PM</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                    <div class="attach-cnt">
                                        <a href="javascript:void(0)" class="attachment-cnt"><span class="icon-attach"></span>Accreditation Application for PTP Provider.xlsx</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ass-name-det">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-data">
                                    <h3>Brayn Williams</h3>
                                    <p>Dec 25, 2019 - 07:02 PM</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                                        esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ass-name-det">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-data">
                                    <h3>Peter Robertson</h3>
                                    <p>Nov 01, 2019 - 09:56 PM</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                                        esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ass-name-det">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-data">
                                    <h3>Peter Robertson</h3>
                                    <p>Nov 01, 2019 - 09:56 PM</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="assess-doc">
                                    <div class="data-attach">
                                        <h5>New Registration</h5>
                                    </div>
                                    <div class="bttn-details">
                                        <a class="cancel-bttn">DETAILS</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cmnt-content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Name</mat-label>
                                            <input  matInput autocomplete="off" placeholder="Name">
                                            <mat-error></mat-error>      
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Message</mat-label>
                                            <input  matInput autocomplete="off" placeholder="Message">
                                            <mat-error></mat-error>      
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="matupload position-relative">
                                            <mat-form-field  class="lng-data">
                                                <input matInput name="trade_license_name" placeholder="Upload Document" >
                                            </mat-form-field>
                                            <span class="fileupload">
                                                <input type="file" required>
                                                <span class="icon-attach attach-data"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="bttns-appln mb-0">
                                            <button class="submit-bttn">SEND MESSAGE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>