<!-- <p>trainer-service-list works!</p> -->
<app-loader *ngIf="!loader"></app-loader>
<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard-table">
            <flash-messages></flash-messages>
            <div class="row mb-4">
                <div class="col-md-8">                    
                    <div class="dashbrd-hdr">
                        <h3>Training Service</h3> 
                    </div>
                </div>
                <!-- <div class="col-md-4"> 
                    <div class="tbl-filter-data">
                        <ul>
                            <li>
                                <div class="filter">
                                    <a href="javascript:void(0)" class="border-right"><span class="icon-switch"></span></a>
                                    <a href="javascript:void(0)" (click)="filterSearchSec()"><span class="icon-filter"></span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
            
            <!-- <div class="row m-0">
                <div class="col-md-4">
                    <div class="user-details">
                        <mat-form-field class="cab-data">
                            <mat-label>Export As</mat-label>                             
                            <mat-select placeholder="Export" (selectionChange)="exportFile()"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="exportAs" required>
                                <mat-option value="csv">Export as CSV</mat-option>
                                <mat-option value="xls">Export as XLS</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="user-details">
                        <mat-form-field class="cab-data">
                            <mat-label>Show</mat-label>                              
                            <mat-select placeholder="Show" (selectionChange)="showData()"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="show_data" required>
                                <mat-option value="25">25</mat-option>
                                <mat-option value="50">50</mat-option>
                                <mat-option value="75">75</mat-option>
                                <mat-option value="100">100</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="advSearch" class="tbl-filter-data">
                <div class="filter-dash filter_certification">
                    <div class="close-bttn">
                        <span class="icon-close" (click)="filterSearchSec()"></span>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-4">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Payment Status</mat-label>                             
                                    <mat-select placeholder="Select" 
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="paymentStatusValue" required>
                                        <mat-option value="paid">Paid</mat-option>
                                        <mat-option value="pending">Pending</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Search Text</mat-label> 
                                <input type="text" matInput [(ngModel)]="applicationNo" placeholder="Search by Application No" (keypress)="_service.inputFilter($event, _service.regExNumb)">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row m-0">
                        <div class="col-md-12"> 
                            <div class="filter-search">
                                <a href="javascript:void(0)" (click)="filterSearchSubmit()" class="search-fil">SEARCH</a>
                                <a href="javascript:void(0)" (click)="filterSearchReset('load')">RESET</a>
                            </div>         
                        </div>
                    </div>
                </div>
                
            </ng-container> -->

            <ng-container class="tbl-filter-data">
                <div class="filter-dash filter_certification">
                    <!-- <div class="close-bttn">
                        <span class="icon-close" (click)="filterSearchSec()"></span>
                    </div> -->
                    <div class="row m-0">
                        <div class="col-md-4">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Searchable Column</mat-label> 
                                    <mat-select placeholder="Select" (selectionChange)="searchableColumn()" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchValue">
                                        <mat-option value="cab_name">Applicant</mat-option>
                                        <mat-option value="form_meta">Training Type</mat-option>
                                        <mat-option value="accr_status">Status</mat-option>
                                        <mat-option value="course_title">Course Title</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> 
                        </div>

                        <div class="col-md-4 field_show" id="applicant">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                <mat-label>Search Text</mat-label> 
                                <input type="text" matInput [(ngModel)]="searchText" placeholder="Search Text">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-4 field_show" id="accreditation_type" [ngStyle]="{'display':'none'}">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Accreditation Type</mat-label>                             
                                    <mat-select placeholder="Select" 
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText">
                                        <mat-option *ngFor="let item of selectAccrType;" [value]="item.value">{{item.title}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-4 field_show" id="status" [ngStyle]="{'display':'none'}">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Status</mat-label>                             
                                    <mat-select placeholder="Select" 
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText">
                                        <mat-option *ngFor="let item of selectStatus;" [value]="item.value">{{item.title}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row m-0">
                            <div class="col-md-12"> 
                                <div class="filter-search">
                                    <a href="javascript:void(0)" (click)="filterSearchSubmit()" class="search-fil">SEARCH</a>
                                    <!-- <a href="javascript:void(0)" (click)="filterSearchReset('load')">RESET</a> -->
                                    <a href="javascript:void(0)" (click)="exportFile()" class="space-left">EXPORT</a>
                                </div>         
                            </div>
                        </div>
                    </div>
                </div>
                
            </ng-container>

            <div class="row m-0">
                <div class="col-md-2">
                    <div class="user-details">
                        <mat-form-field class="cab-data">
                            <mat-label>Show</mat-label>                              
                            <mat-select placeholder="Show" (selectionChange)="showData()"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="show_data">
                                <mat-option value="25">25</mat-option>
                                <mat-option value="50">50</mat-option>
                                <mat-option value="75">75</mat-option>
                                <mat-option value="100">100</mat-option>
                                <!-- <mat-option value="pdf">Export as PDF</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            
        
        <div class="table-dashboard-cont">
            <div class="row m-0">
                <div class="col-md-12 p-0">
                    <!-- @{{trainerdata | json}} -->
                    <table id="accreditation-service-export">
                        <tr>
                            <th>Application No
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'id', curSortDir.id)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.id"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.id"></span>
                                </a>
                            </th>
                            <th>Application Date
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'created_date', curSortDir.created_date)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.created_date"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.created_date"></span>
                                </a>
                            </th>
                            <th width="15%">Status
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'application_status', curSortDir.application_status)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.application_status"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.application_status"></span>
                                </a>
                            </th>
                            <th>Training Type
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'training_form_type', curSortDir.training_form_type)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.training_form_type"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.training_form_type"></span>
                                </a>
                            </th>
                            <th>Payment Status
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'payment_status', curSortDir.payment_status)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.payment_status"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.payment_status"></span>
                                </a>
                            </th>
                            <th>Applicant
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'applicant', curSortDir.applicant)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.applicant"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.applicant"></span>
                                </a>
                            </th>
                            <th>Action</th>
                        </tr>
                        <!-- trainerdata.records != undefined && -->
                    <ng-container *ngIf="trainerdata != undefined && trainerdata.length > 0">
                        <tr *ngFor="let item of trainerdata | paginate: { itemsPerPage: pageLimit, totalItems: pageTotal, currentPage: pageCurrentNumber }; let i2 = index;">
                            <td class="fnt-clr">
                                <a href="javascript:void(0)" routerLink="/dashboard/operations/training-service-details/{{item.id}}" title="View" alt="View">
                                {{item.id}}</a></td>
                            <td>
                                {{item.created | date :'dd-MMM-yyyy' }}
                            </td>
                            <td [ngClass]="{'pending': (item.application_status === 'pending' || item.application_status == 'draft' || item.application_status == 'application_process' || item.application_status == 'under_process'|| item.application_status == 'payment_pending'), 'under-review':item.application_status === null || item.application_status === 'under_review', 'complete': item.application_status === 'complete'}">
                                <span *ngIf="item.application_status == 'pending' || item.application_status == 'draft'">Pending</span>
                                <span *ngIf="item.application_status == 'application_process'">Application Process</span>
                                <span *ngIf="item.application_status == 'under_process'">Under Process</span>
                                <span *ngIf="item.application_status == null || item.application_status === 'under_review'">Under Review</span>
                                <span *ngIf="item.application_status == 'payment_pending'">Payment Pending</span>
                                <span *ngIf="item.application_status == 'complete'">Complete</span>
                            </td>  
                            <td>
                                <span *ngIf="item.training_form_type == 'public_training'">Public Training</span>
                                <span *ngIf="item.training_form_type == 'inprimise'">In Premise</span>
                            </td>
                            <td [ngClass]="{'complete': item.payment_status == 'paid', 'under-review':item.payment_status === 'pending' }">
                                <span *ngIf="item.payment_status == 'paid'">Paid</span>
                                <span *ngIf="item.payment_status == 'pending' || item.payment_status == null">Pending</span>
                                <!-- <span *ngIf="item.payment_status == null">Unpaid</span> -->
                            </td>
                            <td>
                                <span *ngIf="item.cabDetails != undefined && item.cabDetails.length > 0">
                                        {{item.cabDetails[0].cab_name}}
                                </span>
                            </td>
                            <td class="action fnt-clr">
                                <!-- *ngIf="(item.application_status == null && item.application_status === 'under_review')" -->
                                <a href="javascript:void(0)" *ngIf="(item.payment_status == 'paid' && item.application_status != 'complete')" (click)="serviceStatus(i2,item.id)" alt="Delete"><span class="icon-tick"></span></a>
                                <!-- <a href="javascript:void(0)" *ngIf="item.application_status == 'complete'" alt="Delete"><span class="icon-tick"></span></a> -->
                                <a href="javascript:void(0)" *ngIf="(item.application_status == null || item.application_status == 'application_process' || item.application_status === 'under_review' || item.application_status == 'pending' || item.payment_status == 'pending' || item.application_status == 'draft') && item.payment_status != 'paid'" (click)="open(courseVoucher, item.id,i2)" alt="Upload Proforma Invoice" title="Upload Proforma Invoice"><span class="icon-document-pen"></span></a>
                               
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="dataLoad && trainerdata.length == 0">
                        <tr>
                            <td colspan="5">
                                No Records
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="!dataLoad">
                        <tr>
                            <td colspan="7" align="center">
                                Loading...
                            </td>
                        </tr>
                    </ng-container>
                    </table>
                    <ng-container *ngIf="trainerdata != undefined && trainerdata.length > 0">
                        <pagination-controls (click)="paginationReset()" (pageChange)="pageCurrentNumber = $event"></pagination-controls>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <ng-template #courseVoucher let-modal>
            <div class="modal-header course-pop">
              <h4 class="modal-title" id="modal-basic-title">UPLOAD PROFORMA INVOICE</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span class="icon-close"></span>
              </button>
            </div>
            <div class="modal-body">                 
                <form #voucherForm="ngForm">

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="cab-data">
                                <mat-label>Voucher Number</mat-label>
                                <input type="text" [ngModelOptions]="{standalone: true}"
                                matInput placeholder="Voucher Number" 
                                [(ngModel)]="voucherSentData.voucher_no" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="cab-data">
                                <mat-label>Voucher Date</mat-label>
                                <input matInput [matDatepicker]="voucher_date" [min]="minDate" readonly="true" placeholder="Voucher Date" 
                                name="voucher_date" (click)="_service._openCalendar(voucher_date)" 
                                [(ngModel)]="voucherSentData.voucher_date" required>
                                <mat-datepicker-toggle matSuffix [for]="voucher_date"></mat-datepicker-toggle>
                                <mat-datepicker #voucher_date  disabled="false"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="cab-data">
                                <mat-label>Amount</mat-label>
                                <input type="number" [ngModelOptions]="{standalone: true}" 
                                matInput placeholder="Amount" 
                                [(ngModel)]="voucherSentData.amount" required>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <span class="fileupload">
                                <input type="file" name="voucher_invoice"                                
                                (change)="validateFile($event, 'voucher_invoice')" required>
                                <span class="icon-attach attach-data"></span>
                            </span>
                            <p class="error" *ngIf="paymentReceiptValidation == false">Please Upload a valid file (ex: pdf)</p>
                        </div>
                    </div>
                    <div class="row" [ngStyle]="{'margin-top': '10px'}">
                        <div class="col-md-12">
                            <div class="bttns-health">
                                <button type="submit" (click)="voucherSentSubmit(voucherForm)" class="cancel-bttn">SUBMIT</button>
                                <button type="button" class="submit-bttn submit-health" (click)="modal.close('Cancel click')">CANCEL</button>
                            </div>
                            
                        </div>
                    </div>                    
                </form>
            </div>
        </ng-template>
       
    </div>
    </div>
</div>
