<app-loader *ngIf="!loader"></app-loader>
<!-- <app-header-after-login></app-header-after-login>
<div class="side-data-cont">
    <app-sidebar-after-login></app-sidebar-after-login>
</div> -->
<div class="main-detail">
  <div class="conatiner-fluid p-0">
    <div class="main-dashboard-cnt">
      <div class="row m-0">
        <div class="col-md-12">
          <div class="dashbrd-hdr">
            <h3>Message</h3>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md-12">
          <div class="comments-section">
            <div class="row m-0">
                <div class="col-md-12 p-0">
                    <!-- <div class="ass-name-det">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-data">
                                    <h3>Daniel Thompson</h3>
                                    <p>Dec 31, 2019 - 05:25 PM</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                    <div class="attach-cnt">
                                        <a href="javascript:void(0)" class="attachment-cnt"><span class="icon-attach"></span>Accreditation Application for PTP Provider.xlsx</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    
                    <div class="ass-name-det" *ngFor="let row of messageList; let i = index;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-data">
                                    <h3>{{row.title}}</h3>
                                    <p>{{row.user.date_joined | date}}</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="assess-doc" *ngIf="row.meta_title == 'user_registration'">
                                    <div class="data-attach">
                                        <h5>{{row.message}}</h5>
                                    </div>
                                    <div class="bttn-details">
                                        <a *ngIf="row.user.users_type=='cab_client'" class="cancel-bttn" (click)="getRouteId(row.user.id)" routerLink="/dashboard/cab_client/message-detail/{{row.user.id}}">DETAILS</a>

                                        <a *ngIf="row.user.users_type=='assessors'" class="cancel-bttn" (click)="getRouteId(row.user.id)" routerLink="/dashboard/assessors/message-detail/{{row.user.id}}">DETAILS</a>

                                        <a *ngIf="row.user.users_type=='trainers'" class="cancel-bttn" (click)="getRouteId(row.user.id)" routerLink="/dashboard/trainers/message-detail/{{row.user.id}}">DETAILS</a>

                                        <a *ngIf="row.user.users_type=='candidate'" class="cancel-bttn" (click)="getRouteId(row.user.id)" routerLink="/dashboard/candidate/message-detail/{{row.user.id}}">DETAILS</a>

                                        <a *ngIf="row.user.users_type=='operations'" class="cancel-bttn" (click)="getRouteId(row.user.id)" routerLink="/dashboard/operations/message-detail/{{row.user.id}}">DETAILS</a>
                                    </div>
                                </div>

                                <div class="ass-details" *ngIf="row.meta_title != 'user_registration'">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                    <div class="attach-cnt">
                                        <a href="javascript:void(0)" class="attachment-cnt"><span class="icon-attach"></span>Accreditation Application for PTP Provider.xlsx</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cmnt-content">
                                <form #ngForm="ngForm" (ngSubmit)="onSubmit(ngForm)">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Name</mat-label>
                                                <input name="title" [(ngModel)]="chatMessage.title" required matInput autocomplete="off" placeholder="Name">     
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Message</mat-label>
                                                <input name="message" [(ngModel)]="chatMessage.message" matInput autocomplete="off" placeholder="Message">
                                                <mat-error></mat-error>      
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="matupload position-relative">
                                                <mat-form-field class="lng-data">
                                                    <input name="upload_message" [(ngModel)]="chatMessage.upload_message" matInput name="message" placeholder="Upload Document" >
                                                </mat-form-field>
                                                <span class="fileupload">
                                                    <input type="file" name="upload_message_file" [(ngModel)]="chatMessage.upload_message_file" (change)="validateFile($event)" required>
                                                    <!-- <mat-error class="error" *ngIf="!file_validation">Please Upload a valid file (ex: pdf,xlsx,xlx)</mat-error>  -->
                                                    <span class="icon-attach attach-data"></span>
                                                </span>
                                                <p class="error" *ngIf="!file_validation">Please Upload a valid file (ex: pdf,xlsx,xlx)</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="bttns-appln mb-0">
                                                <button class="submit-bttn">SEND MESSAGE</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>