<app-loader *ngIf="!loader"></app-loader>
<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard">
            <div class="row">
                <div class="col-md-4">
                    <div class="trainer-details">
                        <div class="trainer-name">
                            <h4>{{userDetails?.first_name}} {{userDetails?.last_name}}</h4>
                            <div class="acc_verified">
                                <span class="icon-check-circle"></span>
                                <span class="tooltip_data">Account Verified</span>
                            </div>
                        </div>
                        <div class="trainer-detail">
                            <!-- <span class="trainer-data"><span class="icon-company"></span>Navigators Software Pvt. Ltd.</span> -->
                            <span class="trainer-data"><span class="icon-Page"></span>{{userDetails.email}}</span>
                            <!-- <span class="trainer-data"><span class="icon-call"></span>+971 254-3269</span> -->
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="trainer-content">
                        <div class="trainer-type">
                            <span>Code</span>
                        </div>
                        <div class="trainer-type-data">
                            <span>{{step1Data?.cab_code}}</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="trainer-content">
                        <div class="trainer-type">
                            <span>Authorized Representative</span>
                        </div>
                        <div class="trainer-type-data">
                            <span>{{step1Data?.cab_name}}</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="trainer-content">
                        <div class="trainer-type">
                            <span>Designation</span>
                        </div>
                        <div class="trainer-type-data">
                            <span>{{userDetails?.designation}}</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="trainer-content">
                        <div class="trainer-type">
                            <span>Contact Number</span>
                        </div>
                        <div class="trainer-type-data">
                            <span>{{userDetails?.contact}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="trainer-main-details">
                        <div class="user-icons">
                            <span class="icon-user-dash"></span>
                        </div>
                        <div class="trainer-data-det">
                            <div class="trainer-pro">
                                <span>Profile</span>
                            </div>
                            <div class="trainer-maindata trainer-update">                                
                                <span>Update 
                                    <a routerLink="/dashboard/{{userType}}/company-profile">
                                        <span [ngStyle]="{'color': '#FFF', 'font-size':'31px'}">></span>
                                    <!-- <span class="icon-right-arrow"></span> -->
                                    </a>
                                </span>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="trainer-main-details trainer2">
                        <div class="user-icons">
                            <span class="icon-doc-write"></span>  
                        </div>
                        <div class="trainer-data-det">
                            <div class="trainer-pro">
                                <span>Certificates</span>
                            </div>
                            <div class="trainer-maindata">
                                <span *ngIf="dashboardItemData.totalCabDirectoryCount != ''">{{dashboardItemData.totalCabDirectoryCount}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="trainer-main-details trainer3">
                        <div class="user-icons">
                            <span class="icon-calendar"></span>
                        </div>
                        <div class="trainer-data-det">
                            <div class="trainer-pro">
                                <span>Events</span>
                            </div>
                            <div class="trainer-maindata">
                                <span *ngIf="dashboardItemData.totalEventCount != ''">{{dashboardItemData.totalEventCount}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="trainer-main-details trainer4" [ngStyle]="{'height': '97px'}">
                        <div class="user-icons">
                            <span class="icon-doc-diff"></span>
                        </div>
                        <div class="trainer-data-det">
                            <!-- @{{dashboardTradeLicExDate}}
                            @{{dashboardTradeLicFile}} -->
                            <div class="trainer-pro">
                                <span>Records</span>
                            </div>
                            <div class="trainer-maindata">
                                <span>1</span>
                            </div>                            
                        </div>                        
                    </div> 
                    <div class="lic-expire" *ngIf="!dashboardTradeLicExStatus" [ngStyle]="{'height':'35px'}">                       
                        <ng-container>
                            <span>{{licence_document_file}}</span>
                            <div class="icn-appln" [ngStyle]="{'padding': '0px'}">                                
                                <a target="_blank" [href]="licence_document_path"> 
                                <span class="icon-download"  [ngStyle]="{'font-size': '11px'}"></span>
                                </a>
                              </div>
                        </ng-container>
                    </div>
                    <div class="lic-expire" *ngIf="dashboardTradeLicExStatus" [ngStyle]="{'height':'35px'}">
                        <ng-container>
                            <span>Trade License expired on : {{dashboardTradeLicExDate | date}}</span>
                        </ng-container>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="service-links">
            <div class="row m-0">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="trainer_head">
                                <h4>Service</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash">Type</p>
                                            <p class="sub-head-dash">IB</p>
                                        </div>
                                        <div class="view-all">
                                            <p>View all type<span class="icon-right-arrow"></span></p> 
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo">
                                    <span class="icon-file-tray"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash">Scheme</p>
                                            <p class="sub-head-dash">25</p>
                                        </div>
                                        <div class="view-all">
                                            <p>View all type<span class="icon-right-arrow"></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo">
                                    <span class="icon-doc-write"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash">Applications Accreditation</p>
                                            <p class="sub-head-dash">
                                                <ng-container *ngIf="dashboardItemData.completeAccrCount != null">
                                                {{dashboardItemData.completeAccrCount}}</ng-container><span class="active-dash">Active</span></p>
                                        </div>
                                        <div class="view-all">
                                            <p>From last week</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo">
                                    <a routerLink="/dashboard/status/all">
                                        <span class="icon-pages"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash">Applications Registration</p>
                                            <p class="sub-head-dash">
                                                <ng-container *ngIf="dashboardItemData.completeRegCount != null">
                                                {{dashboardItemData.completeRegCount}}</ng-container>
                                                <span class="active-dash complete-dash">Completed</span></p>
                                        </div>
                                        <div class="view-all">
                                            <p>From last week</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo">
                                    <a routerLink="/dashboard/registration-status">
                                        <span class="icon-pages"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="trainer_head">
                                <h4>Billing</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash head-dash-bill">Vouchers</p>
                                            <p class="sub-head-dash" *ngIf="dashboardItemData.voucherCount != ''">{{dashboardItemData.voucherCount}}<span class="active-dash">active</span></p>
                                        </div>
                                        <div class="view-all">
                                            <p>From last week</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo bill-logo">
                                    <span class="icon-tag"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash head-dash-bill">Payments</p>
                                            <p class="sub-head-dash">
                                            <ng-container *ngIf="dashboardItemData.paymentCount != null">
                                                {{dashboardItemData.paymentCount}}</ng-container>
                                            </p>
                                        </div>
                                        <div class="view-all"> 
                                            <p>From last week</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo bill-logo">
                                    <span class="icon-wallet"></span>
                                </div>
                            </div>
                            <!-- <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash head-dash-bill">Processed</p>
                                            <ul class="bill-details">
                                                <li>8 <span>Online</span></li>
                                                <li>2 <span>Manul</span></li>
                                            </ul>
                                        </div>
                                        <div class="view-all">
                                            <p>From last week</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo bill-logo">
                                    <span class="icon-computer"></span>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-md-6">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash">Applications Training</p>
                                            <p class="sub-head-dash" >
                                              <ng-container *ngIf="dashboardItemData.completeTrainingCount != null">{{dashboardItemData.completeTrainingCount}}</ng-container>
                                                <span class="active-dash complete-dash">Completed</span></p>
                                        </div>
                                        <div class="view-all">
                                            <p>From last week</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo">
                                    <a routerLink="/dashboard/training-status">
                                        <span class="icon-pages"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash head-dash-bill">Vouchers</p>
                                            <p class="sub-head-dash">17<span  class="active-dash expired-dash">Expired</span></p>
                                        </div>
                                        <div class="view-all">
                                            <p>From last week</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo bill-logo">
                                    <span class="icon-tag"></span>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-md-6">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash head-dash-bill">Payments</p>
                                            <p class="sub-head-dash">                                                 
                                                <ng-container *ngIf="dashboardItemData.paymentConfirmedCount != undefind && dashboardItemData.paymentConfirmedCount != null">
                                                    {{dashboardItemData.paymentConfirmedCount}}</ng-container>
                                                <ng-container *ngIf="dashboardItemData.paymentConfirmedCount == undefind || dashboardItemData.paymentConfirmedCount == null">
                                                    0
                                                </ng-container>
                                                <span class="active-dash confirmed-dash">Confirmed</span></p>
                                        </div>
                                        <div class="view-all">
                                            <p>From last week</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo bill-logo">
                                    <a routerLink="/dashboard/accounts">
                                    <span class="icon-wallet"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>Service Links</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="service_data">
                                <h3>ACCREDITATION</h3>
                                <a href="javascript:void(0)" routerLink="/dashboard/cab_client/application-accreditation">Apply</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service_data">
                                <h3>REGISTRATION</h3>
                                <a href="javascript:void(0)" routerLink="/dashboard/cab_client/application-registration">Apply</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service_data">
                                <h3>TRAINING</h3>
                                <a href="javascript:void(0)" routerLink="/dashboard/cab_client/training-course">Apply</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service_data">
                                <h3>PAYMENT</h3>
                                <a href="javascript:void(0)" routerLink="/dashboard/accounts">Apply</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-events">
            <div class="row m-0">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>Recent Updates</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="event_timings client_timings">
                                <!-- <div class="date-cnt">
                                    <span>20/01/2020</span>
                                </div>
                                <div class="activity-details">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.
                                            Ut enim ad minim veniam, quis nostrud exercitation.<span>05:25 PM</span>
                                        </li>
                                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu fugiat nulla pariatur.<span>05:21 PM</span></li>
                                        <li>On the other hand, we denounce with righteous indignation and dislike men
                                            who are so beguiled and demoralized by the charms
                                            of pleasure of the moment.<span>05:25 PM</span></li>
                                        <li>These cases are perfectly simple and easy to distinguish. In a free hour,
                                            when our power of choice is untrammelled and when
                                            nothing prevents.<span>05:21 PM</span></li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.
                                            Ut enim ad minim veniam, quis nostrud exercitation.<span>05:25 PM</span>
                                        </li>
                                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu fugiat nulla pariatur.<span>05:21 PM</span></li>
                                    </ul>
                                </div> -->
                                <div class="date-cnt">
                                    <span>Last Activity</span>
                                </div>
                                <div class="activity-details">
                                    <ul>
                                        <ng-container *ngFor = "let item of dashboardRecentUpdates">
                                        <li>{{item.title}}<span> on {{item.date | date}} at {{item.time}}</span></li>
                                        </ng-container>
                                        <!-- <li>These cases are perfectly simple and easy to distinguish. In a free hour,
                                            when our power of choice is
                                            untrammelled and when nothing prevents.<span>05:21 PM</span></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments-section">
            <div class="row m-0">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>Communication</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 *ngIf="recordsTotal==0">No New Message</h5>
                    <div class="ass-name-det"
                        *ngFor="let row of messageList | paginate: config; let i = index;">
                        <div class="row" *ngIf="row.meta_title != 'user_registration'">
                            <div class="col-md-12">
                                <div class="ass-data">
                                    <h3>{{row.title}}</h3>
                                    <div class="date_wrapper">
                                        <p>{{row.created | date}}</p>
                                        <div class="reply_msg" (click)="getUserDetails(row.user)"
                                            *ngIf="row.meta_title != 'user_registration'"
                                            routerLink="/dashboard/message-reply/{{row.id}}">
                                            <span class="icon-chat"></span>
                                            Reply
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row" *ngIf="row.meta_title != 'user_registration'">
                            <div class="col-md-12">
                                <div class="assess-doc">
                                    <div class="data-attach">
                                        <h5>{{row.message}}</h5>
                                    </div>
                                </div>

                                <div class="ass-details" *ngIf="row.meta_title != 'user_registration'">
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                        dolor in reprehenderit in
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est
                                        laborum. </p> -->
                                    <div class="attach-cnt" *ngIf="row.document!=null">
                                        <a href="{{constant.mediaPath+row.document}}" target="_blank"
                                            class="attachment-cnt"><span class="icon-attach"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                    <!-- <div class="hdr-sec">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="trainer_head">
                                    <h4>Write A Comment</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cmnt-content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Name</mat-label>
                                            <input  matInput autocomplete="off" placeholder="Name">
                                            <mat-error></mat-error>      
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-8">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Message</mat-label>
                                            <input  matInput autocomplete="off" placeholder="Message">
                                            <mat-error></mat-error>      
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="matupload position-relative">
                                            <mat-form-field  class="cab-data">
                                                <input matInput name="trade_license_name" placeholder="Upload Document" >
                                            </mat-form-field>
                                            <span class="fileupload">
                                                <input type="file" required>
                                                <span class="icon-attach attach-data"></span>
                                            </span>
                                        </div>
                                        <span class="place_holder_doc">Only PDF, below 2 MB</span>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row message_detail">
                                            <div class="col-md-6">
                                                <div class="form-subheader">
                                                    <span>Message Type</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="cab-data">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="initial_data">
                                                                <mat-radio-button value="1" >Public</mat-radio-button>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="initial_data">
                                                                <mat-radio-button value="2">Private</mat-radio-button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Notify Team</mat-label>
                                            <mat-select placeholder="">
                                                <mat-option>1</mat-option>
                                            </mat-select>
                                            <mat-error></mat-error>      
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-12">
                                        <div class="bttns-appln mb-0">
                                            <button class="submit-bttn">SEND MESSAGE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>