
<div class="main-detail">
    <div class="container-fluid p-0">
        <!-- <div class="filter-dash">
            <div class="close-bttn">
                <span class="icon-close"></span>
            </div>
            <div class="row m-0">
                <div class="col-md-4">
                    <div class="usr-details">
                        <mat-form-field class="cab-data" >
                            <mat-label>Email Address</mat-label>
                            <input matInput  type="text"
                                formControlName="email" required placeholder="Email">
                        </mat-form-field> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="usr-details">
                        <mat-form-field class="cab-data" >
                            <mat-label>Email Address</mat-label>
                            <input matInput  type="text"
                                formControlName="email" required placeholder="Email">
                        </mat-form-field> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="usr-details">
                        <mat-form-field class="cab-data" >
                            <mat-label>Email Address</mat-label>
                            <input matInput  type="text"
                                formControlName="email" required placeholder="Email">
                        </mat-form-field> 
                    </div>
                </div>
            </div>
        </div> -->
        <div class="main-dashboard">
            <div class="row">
                <div class="col-md-3">
                    <div class="dsh-wrapper">
                        <div class="trainer-main-details">
                            <div class="user-icons">
                                <span class="icon-user"></span>
                            </div>
                            <div class="trainer-data-det">
                                <div class="trainer-pro">
                                    <span>CAB</span>
                                </div>
                                <div class="trainer-maindata trainer-update">
                                    <span>144</span>
                                </div>
                            </div>
                        </div>
                        <div class="date-update">
                            <div class="data-bg">
                                <h6 ><span class="icon-uparrow"></span>22 New since last month</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dsh-wrapper">
                        <div class="trainer-main-details trainer2">
                            <div class="user-icons">
                                <span class="icon-documents"></span>
                            </div>
                            <div class="trainer-data-det">
                                <div class="trainer-pro">
                                    <span>Certificates</span>
                                </div>
                                <div class="trainer-maindata trainer-update">
                                    <span>324</span>
                                </div>
                            </div>
                        </div>
                        <div class="date-update update2">
                            <div class="data-bg">
                                <h6 ><span class="icon-uparrow"></span>22 New since last month</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dsh-wrapper">
                        <div class="trainer-main-details trainer3">
                            <div class="user-icons">
                                <span class="icon-doc"></span>
                            </div>
                            <div class="trainer-data-det">
                                <div class="trainer-pro">
                                    <span>Documents</span>
                                </div>
                                <div class="trainer-maindata trainer-update">
                                    <span>542</span>
                                </div>
                            </div>
                        </div>
                        <div class="date-update update3">
                            <div class="data-bg">
                                <h6 ><span class="icon-dwarrow"></span>22 Expiring since last month</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dsh-wrapper">
                        <div class="trainer-main-details trainer4">
                            <div class="user-icons">
                                <span class="icon-calendar"></span>
                            </div>
                            <div class="trainer-data-det">
                                <div class="trainer-pro">
                                    <span>Training Events</span>
                                </div>
                                <div class="trainer-maindata trainer-update">
                                    <span>324</span>
                                </div>
                            </div>
                        </div>
                        <div class="date-update update4">
                            <div class="data-bg">
                                <h6 ><span class="icon-uparrow"></span>22 Completed this year</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="trainer_head">
                                <h4>CONTENT</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="dash-main">
                               <div class="dash-logo">
                                   <span class="icon-documents"></span> 
                               </div>
                               <div class="usermain">
                                    <div class="main-status">
                                        <p class="head-dash">Pages</p>
                                        <p class="sub-head-dash">37</p>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="dash-main">
                               <div class="dash-logo">
                                   <span class="icon-documents"></span> 
                               </div>
                               <div class="usermain">
                                    <div class="main-status">
                                        <p class="head-dash">Banners</p>
                                        <p class="sub-head-dash">64 <span><span class="icon-uparrow"></span>12 New</span></p>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="dash-main">
                               <div class="dash-logo">
                                   <span class="icon-documents"></span> 
                               </div>
                               <div class="usermain">
                                    <div class="main-status">
                                        <p class="head-dash">Pages</p>
                                        <p class="sub-head-dash">37</p>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="dash-main">
                               <div class="dash-logo">
                                   <span class="icon-documents"></span> 
                               </div>
                               <div class="usermain">
                                    <div class="main-status">
                                        <p class="head-dash">Pages</p>
                                        <p class="sub-head-dash">37</p>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="trainer_head">
                                <h4>Messages</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="dash-main dash-msg">
                               <div class="dash-logo">
                                   <span class="icon-documents"></span> 
                               </div>
                               <div class="usermain">
                                    <div class="main-status">
                                        <p class="head-dash">Registration</p>
                                        <p class="sub-msg-dash">2 Pending | 10 Approved</p>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="dash-main dash-msg">
                               <div class="dash-logo">
                                   <span class="icon-documents"></span> 
                               </div>
                               <div class="usermain">
                                    <div class="main-status">
                                        <p class="head-dash">Cntct Forms</p>
                                        <p class="sub-msg-dash">8 Messages</p>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="dash-main dash-msg">
                               <div class="dash-logo">
                                   <span class="icon-documents"></span> 
                               </div>
                               <div class="usermain">
                                    <div class="main-status">
                                        <p class="head-dash">Page Enqrs</p>
                                        <p class="sub-msg-dash">12 Messages</p>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="dash-main dash-msg">
                               <div class="dash-logo">
                                   <span class="icon-documents"></span> 
                               </div>
                               <div class="usermain">
                                    <div class="main-status">
                                        <p class="head-dash">Faq</p>
                                        <p class="sub-msg-dash">16 Active Qtns</p>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="dash-main dash-msg">
                               <div class="dash-logo">
                                   <span class="icon-documents"></span> 
                               </div>
                               <div class="usermain">
                                    <div class="main-status">
                                        <p class="head-dash">Poll</p>
                                        <p class="sub-msg-dash">3 Active Polls</p>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="dash-main dash-msg">
                               <div class="dash-logo">
                                   <span class="icon-documents"></span> 
                               </div>
                               <div class="usermain">
                                    <div class="main-status">
                                        <p class="head-dash">Survey</p>
                                        <p class="sub-msg-dash">3 Active Srvys</p>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="trainer_head">
                                <h4>Masters</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="dash-main">
                               <div class="dash-logo">
                                   <span class="icon-documents"></span> 
                               </div>
                               <div class="usermain">
                                    <div class="main-status">
                                        <p class="head-dash">Courses</p>
                                        <p class="sub-head-dash">27</p>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="dash-main">
                               <div class="dash-logo">
                                   <span class="icon-documents"></span> 
                               </div>
                               <div class="usermain">
                                    <div class="main-status">
                                        <p class="head-dash">Documents</p>
                                        <p class="sub-head-dash">19 <span><span class="icon-uparrow"></span>12 New</span></p>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="dash-main">
                               <div class="dash-logo">
                                   <span class="icon-documents"></span> 
                               </div>
                               <div class="usermain">
                                    <div class="main-status">
                                        <p class="head-dash">Criteria</p>
                                        <p class="sub-head-dash">23</p>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="dash-main">
                               <div class="dash-logo">
                                   <span class="icon-documents"></span> 
                               </div>
                               <div class="usermain">
                                    <div class="main-status">
                                        <p class="head-dash">Scope</p>
                                        <p class="sub-head-dash">25</p>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-events">
            <div class="row m-0">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>Activity (Recent Updates)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="event_timings">
                                <div class="date-cnt">
                                    <span>20/01/2020</span>
                                </div>
                                <div class="activity-details">
                                    <ul>
                                        <li><span class=""></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.<span>05:25 PM</span></li>
                                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.<span>05:21 PM</span></li>
                                        <li>On the other hand, we denounce with righteous indignation and dislike men who.<span>05:25 PM</span></li>
                                        <li>These cases are perfectly simple and easy to distinguish.<span>05:21 PM</span></li>
                                    </ul>
                                </div>
                                <div class="date-cnt">
                                    <span>20/01/2020</span>
                                </div>
                                <div class="activity-details">
                                    <ul>
                                        <li><span class=""></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.<span>05:25 PM</span></li>
                                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.<span>05:21 PM</span></li>
                                        <li>On the other hand, we denounce with righteous indignation and dislike men who.<span>05:25 PM</span></li>
                                        <li>These cases are perfectly simple and easy to distinguish.<span>05:21 PM</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>Views (Most visited pAges)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="event_timings">
                                <div class="dash-system-table">
                                    <table>
                                        <tr>
                                            <th width="80%">Page URL</th>
                                            <th>Views</th>
                                        </tr>
                                        <tr>
                                            <td>https://sp1.eiac.gov.ae/about-us/board-directors</td>
                                            <td>1,563</td>
                                        </tr>
                                        <tr>
                                            <td>https://sp1.eiac.gov.ae/about-us/board-directors</td>
                                            <td>1,563</td>
                                        </tr>
                                        <tr>
                                            <td>https://sp1.eiac.gov.ae/about-us/board-directors</td>
                                            <td>1,563</td>
                                        </tr>
                                        <tr>
                                            <td>https://sp1.eiac.gov.ae/about-us/board-directors</td>
                                            <td>1,563</td>
                                        </tr>
                                        <tr>
                                            <td>https://sp1.eiac.gov.ae/about-us/board-directors</td>
                                            <td>1,563</td>
                                        </tr>
                                        <tr>
                                            <td>https://sp1.eiac.gov.ae/about-us/board-directors</td>
                                            <td>1,563</td>
                                        </tr>
                                        <tr>
                                            <td>https://sp1.eiac.gov.ae/about-us/board-directors</td>
                                            <td>1,563</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>User List & Activity</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <div class="dash-system-table">
                                <table>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Email Address</th>
                                        <th>Contact No</th>
                                        <th>Type</th>
                                        <th>Group</th>
                                        <th>Designation</th>
                                        <th>Last Activity</th>
                                    </tr>
                                    <tr>
                                        <td>Bob Robertson</td>
                                        <td>bobrobertson@gmail.com</td>
                                        <td>(485) 587-9652</td>
                                        <td>Client</td>
                                        <td>CAB's</td>
                                        <td>Designer</td>
                                        <td>22/02/2019, 11:02:25 AM</td>
                                    </tr>
                                    <tr>
                                        <td>Bob Robertson</td>
                                        <td>bobrobertson@gmail.com</td>
                                        <td>(485) 587-9652</td>
                                        <td>Client</td>
                                        <td>CAB's</td>
                                        <td>Designer</td>
                                        <td>22/02/2019, 11:02:25 AM</td>
                                    </tr>
                                    <tr>
                                        <td>Bob Robertson</td>
                                        <td>bobrobertson@gmail.com</td>
                                        <td>(485) 587-9652</td>
                                        <td>Client</td>
                                        <td>CAB's</td>
                                        <td>Designer</td>
                                        <td>22/02/2019, 11:02:25 AM</td>
                                    </tr>
                                    <tr>
                                        <td>Bob Robertson</td>
                                        <td>bobrobertson@gmail.com</td>
                                        <td>(485) 587-9652</td>
                                        <td>Client</td>
                                        <td>CAB's</td>
                                        <td>Designer</td>
                                        <td>22/02/2019, 11:02:25 AM</td>
                                    </tr>
                                    <tr>
                                        <td>Bob Robertson</td>
                                        <td>bobrobertson@gmail.com</td>
                                        <td>(485) 587-9652</td>
                                        <td>Client</td>
                                        <td>CAB's</td>
                                        <td>Designer</td>
                                        <td>22/02/2019, 11:02:25 AM</td>
                                    </tr>
                                    <tr>
                                        <td>Bob Robertson</td>
                                        <td>bobrobertson@gmail.com</td>
                                        <td>(485) 587-9652</td>
                                        <td>Client</td>
                                        <td>CAB's</td>
                                        <td>Designer</td>
                                        <td>22/02/2019, 11:02:25 AM</td>
                                    </tr>
                                    <tr>
                                        <td>Bob Robertson</td>
                                        <td>bobrobertson@gmail.com</td>
                                        <td>(485) 587-9652</td>
                                        <td>Client</td>
                                        <td>CAB's</td>
                                        <td>Designer</td>
                                        <td>22/02/2019, 11:02:25 AM</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>