<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">

                <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()">
                    <div class="login-frm">
                        <div class="logos">
                            <img src="/assets/images/logo-left.png" alt="">
                            <img src="/assets/images/logo-right.png" alt="">
                        </div>
                    <div class="login-data">
                        <div class="login-hdr">
                            <h3>Forgot your Password</h3>
                            <h4>Enter your email address which you used during the on-boarding and we will send you link to reset your password.</h4>
                        </div>
                        <div class="usr-details" >
                            <mat-form-field class="cab-data" >
                                <mat-label>Email Address</mat-label>
                                <input matInput  type="text" formControlName="email" required placeholder="Email">
                            </mat-form-field>
                        </div>
                        
                            <div class="login-bttn">
                                <button type="submit" class="login">SEND RESET PASSWORD</button>
                            </div>
                            <div class="no-acc">
                                <p>Remember your password? <a routerLink="/sign-in">Backto Sign-In</a></p>
                            </div>
                      </div>

                    </div>
                </form>

                <div class="copyright">
                    <p>Copyright © EIAC Accreditation Center 2019, All Rights Reserved.</p>
                </div>
            </div>
            <div class="col-lg-4 p-0">
                <div class="bg-img"></div>
            </div>
        </div>
    </div>
</div>
