<app-loader *ngIf="!loader"></app-loader>
<!-- <app-header-after-login></app-header-after-login>
<div class="side-data-cont">
    <app-sidebar-after-login></app-sidebar-after-login>
</div> -->
<div class="main-detail">
    <div class="conatiner-fluid">
      <div class="main-dashboard-cnt">
        <div class="row">
          <div class="col-md-6">
            <div class="dashbrd-hdr">
              <div class="dash-wrap">
                <h3>{{cabUserDetails?.first_name}} {{cabUserDetails?.last_name}}</h3>
                <p>{{cabStep1?.designation}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tab-data">
                <!-- <mat-tab-group>
                    <mat-tab label="First"> Content 1 </mat-tab>
                    <mat-tab label="Second"> Content 2 </mat-tab>
                </mat-tab-group> -->
                <ul>
                  <li><a href="javascript:void(0)" id="personal_details">PERSONAL DETAILS</a></li>
                  <!-- <li><a href="javascript:void(0)" id="application_info" (click)="tabClick('application_info')" class="tab-active">APPLICATION INFO</a></li> -->
                </ul>
            </div>
          </div>
        </div>
  
        <div class="row">
            <div class="col-md-12 message-det">
                <div class="row appl-cnt">
                    <div class="col">
                        <div class="appln-data">
                            <h5>Date of Birth</h5>
                        </div>
                        <div class="appln-details">
                            <span>{{cabStep1?.dob | date}}</span>
                        </div>
                    </div>
                    <div class="col border-left-dash">
                        <div class="appln-data">
                            <h5>Personal Email</h5>
                        </div>
                        <div class="appln-details">
                            <span>{{cabUserDetails?.email}}</span>
                        </div>
                    </div>
                    <div class="col border-left-dash">
                        <div class="appln-data">
                            <h5>Nationality</h5>
                        </div>
                        <div class="appln-details">
                            <span>{{cabStep1?.nationality}}</span>
                        </div>
                    </div>
                    <div class="col border-left-dash">
                        <div class="appln-data">
                            <h5>Phone Number</h5>
                        </div>
                        <div class="appln-details">
                            <span>{{cabUserDetails?.contact}}</span>
                        </div>
                    </div>
                    <div class="col border-left-dash">
                        <div class="appln-data">
                            <h5>Fax Number</h5>
                        </div>
                        <div class="appln-details">
                            <span>{{cabStep1?.fax_no}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="row" *ngIf="tabId == 'personal_details'">
            <div class="col-md-6">
                <div class="row appln-cnt-data ">
                <div class="col-md-12 p-0">
                    <div class="row">
                    <div class="col-md-12">
                        <div class="appln-subhdr">
                        <h5>OFFICE DETAILS</h5>
                        <!-- <hr> -->
                        </div>
                    </div>
                    </div>
                    <div class="row msg-det">
                    <div class="col-md-12">
                        <div class="table-appln">
                        <table>
                            <tr>
                            <td>Office/Institution</td>
                            <td>{{cabStep1?.office}}</td>
                            </tr>
                            <tr>
                            <td>Office Address</td>
                            <td>{{cabStep1?.office_address}}</td>
                            </tr>
                            <tr>
                            <td>Company Mail</td>
                            <td>{{cabStep1?.office_email}}</td>
                            </tr>
                            <tr>
                            <td>Office Phone</td>
                            <td>{{cabStep1?.office_tel_no}}</td>
                            </tr>
                            <tr>
                            <td>P.o. Box Mailing Address</td>
                            <td>{{cabStep1?.mailing_address}}</td>
                            </tr>
                        </table>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row appln-cnt-data ">
                <div class="col-md-12 p-0">
                    <div class="row">
                    <div class="col-md-12">
                        <div class="appln-subhdr">
                        <h5>APPLICANT DETAILS</h5>
                        <!-- <hr> -->
                        </div>
                    </div>
                    </div>
                    <div class="row msg-det">
                    <div class="col-md-12">
                        <div class="table-appln">
                        <table>
                            <tr>
                            <td>Office/Institution</td>
                            <td>{{cabStep1?.applicant_office}}</td>
                            </tr>
                            <tr>
                            <td>Office Address</td>
                            <td>{{cabStep1?.applicant_office_address}}</td>
                            </tr>
                            <tr>
                            <td>Company Mail</td>
                            <td>{{cabStep1?.applicant_email}}</td>
                            </tr>
                            <tr>
                            <td>Office Phone</td>
                            <td>{{cabStep1?.applicant_office_tel_no}}</td>
                            </tr>
                            <tr>
                            <td>P.o. Box Mailing Address</td>
                            <td>{{cabStep1?.applicant_address}}</td>
                            </tr>
                        </table>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
  
        <!-- <div class="row" *ngIf="tabId == 'application_info'">
            <div class="col-md-6">
                <div class="row appln-cnt-data ">
                    <div class="col-md-12 p-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="appln-subhdr">
                                <h5>APPLICANT INFORMATION</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row msg-det">
                            <div class="col-md-12">
                                <div class="table-appln">
                                <table>
                                    <tr>
                                    <td>Entity Commercial Name</td>
                                    <td>{{cabStep1?.applicant_commercial_name}}</td>
                                    </tr>
                                    <tr>
                                    <td>Location</td>
                                    <td>{{cabStep1?.applicant_location}}</td>
                                    </tr>
                                    <tr>
                                    <td>Mailing Address</td>
                                    <td>{{cabStep1?.applicant_address}}</td>
                                    </tr>
                                    <tr>
                                    <td>Phone (with Area Code)</td>
                                    <td>{{cabStep1?.applicant_tel_no}}</td>
                                    </tr>
                                    <tr>
                                    <td>Fax (with Area Code)</td>
                                    <td>{{cabStep1?.applicant_fax_no}}</td>
                                    </tr>
                                    <tr>
                                    <td>Official Email Address</td>
                                    <td>{{cabStep1?.applicant_email}}</td>
                                    </tr>
                                    <tr>
                                    <td>Official Website</td>
                                    <td>{{cabStep1?.applicant_website}}</td>
                                    </tr>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-12">
                <div class="bttns-health bttn-review" *ngIf="approveRejectStatus == ''">
                    <button class="cancel-bttn" type="button" (click)="approveOrReject('reject')">REJECT</button>
                    <button class="submit-bttn submit-health" type="button" (click)="approveOrReject('approve')">APPROVE</button>
                </div>
                <div class="bttns-health bttn-review" *ngIf="approveRejectStatus != ''">
                    <button class="cancel-bttn" *ngIf="approveRejectStatus == '2'" type="button">REJECTED</button>
                    <button class="submit-bttn submit-health" *ngIf="approveRejectStatus == '1'" type="button">APPROVED</button>
                </div>
            </div>
        </div>

      </div>
    </div>
  </div>