<app-loader *ngIf="!loader"></app-loader>
<div class="main-content">

    <section>
        <div class="form_main">
            <div class="container-fluid">
                <div class="form-hdr">
                    <div class="row">
                        <div class="col-md-12 p-0 mb-3">
                            <div class="dashbrd-hdr">
                                <h3>No Objection Certificate</h3>
                            </div>
                        </div>
                    </div>
                </div> 

                <!-- Header Stepper -->
                <div id="page_header"></div>
                <ng-container>
                    <div class="row user_main">
                        <div class="col-md-12">
                            <div class="user-steps">
                                <!--   -->
                                <ng-container *ngFor="let item of headerSteps; let k=index;">
                                    <div class="user-next" [ngClass]="(item.activeClass != '') ? item.activeClass : ''">
                                        <div class="usernext-icon">
                                            <span [ngClass]="(item.activeClass === 'user-done') ? 'icon-tick' : item.icon"></span>
                                        </div>

                                        <div class="user-details-pending" id="course_header">
                                            <span [innerHTML]="item.desc" (click)="Service.headerStepMove(item.title, headerSteps,'menu')" [ngStyle]="{'cursor':'pointer'}"></span>
                                        </div>
                                    </div>
                                    <div class="next-step" *ngIf="k < headerSteps.length-1">
                                        <span class="icon-arrow-right"></span>
                                    </div>
                                </ng-container>                              
                            </div>
                        </div>
                    </div>
                </ng-container>

                <!-- Header Stepper -->
                
                <div class="cust-stepper" id="application_information">
                    <form #ngForm1="ngForm" (ngSubmit)="onSubmitApplicationInformation(ngForm1);" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr form_subhdr">
                                                <h5>1. APPLICANT INFORMATION</h5>
                                                <span>*If you want the certificate issued on a different address please update below</span>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-md-12 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>CAB Name official and Commercial Name</mat-label>
                                                <input readonly="true" (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" placeholder="CAB Name official and Commercial Name" name="official_commercial_name" [(ngModel)]="step1Data.official_commercial_name"  required>
                                                <mat-error></mat-error>      
                                            </mat-form-field>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-8">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Registered Physical Location Address</mat-label>
                                                <input matInput (keyup)="getPlaceName($event)" [matAutocomplete] = "auto"   
                                                placeholder="Registered Physical Location Address" name="physical_location_address" 
                                                [(ngModel)]="step1Data.physical_location_address" required>
                                                <mat-autocomplete #auto = "matAutocomplete" >
                                                    <mat-option *ngFor = "let searchCountryList of searchCountryLists" [value] = "searchCountryList.place_name">
                                                    {{searchCountryList.place_name}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div> 

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Mailing Address</mat-label>
                                                <input type="email"  matInput autocomplete="off"  placeholder="Mailing Address"   name="mailing_address" [(ngModel)]="step1Data.mailing_address"  required>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <mat-form-field class="cab-data">
                                                <mat-label>PO Box No./ZIP Code</mat-label>
                                                <input  (keypress)="Service.IsNumeric($event)" 
                                                matInput autocomplete="off"  placeholder="PO BOX NO./Zip Code" name="po_box" 
                                                [(ngModel)]="step1Data.po_box" required>
                                                <mat-error></mat-error> 
                                            </mat-form-field>
                                            <p class="error" *ngIf="step1Data.po_box && !Service.checkInput('onlyNumberWithPlus',step1Data.po_box)">Please Enter Correct Zip Code</p> 
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Country</mat-label>
                                                <mat-select placeholder="Select" name="country" [(ngModel)]="step1Data.country" required>
                                                    <mat-option [value]="item.name" (click)="statelistById(item.id)" *ngFor="let item of getCountryLists; let i = index;">{{item.name}}</mat-option>
                                                </mat-select> 
                                            </mat-form-field>
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <mat-form-field class="cab-data">
                                                <mat-label>State</mat-label>
                                                <mat-select placeholder="Select" name="state" [(ngModel)]="step1Data.state"  required>
                                                    <mat-option [value]="item.name" (click)="citylistById(item.id)" *ngFor="let item of allStateList; let i = index;">{{item.name}}</mat-option>
                                                </mat-select>    
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field class="cab-data">
                                                <mat-label>City</mat-label>
                                                <mat-select placeholder="Select" name="city" [(ngModel)]="step1Data.city"  required>
                                                    <mat-option [value]="item.name" *ngFor="let item of allCityList; let i = index;">{{item.name}}</mat-option>
                                                </mat-select>      
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row" id="2ndStep">
                                        <div class="col-md-3">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Telephone Number</mat-label>
                                                <input type="text"  (keypress)="Service.IsNumeric($event)" 
                                                matInput autocomplete="off"  placeholder="Telephone No" name="telephone" 
                                                [(ngModel)]="step1Data.telephone" maxlength="15" minlength="10"  required>
                                                <mat-error></mat-error>                                            
                                            </mat-form-field>
                                            <p class="error" *ngIf="step1Data.telephone && !Service.checkInput('onlyNumberWithPlus',step1Data.telephone)">Please Enter Correct Telephone Number</p> 
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Fax Number</mat-label>
                                                <input matInput (keypress)="Service.IsNumeric($event)" autocomplete="off"  
                                                placeholder="Fax No"  name="fax_no" [(ngModel)]="step1Data.fax_no">
                                                <mat-error></mat-error> 
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Official E-mail Address</mat-label>
                                                <input readonly="true"  matInput autocomplete="off"  placeholder="Official Email Address"  name="official_email"  
                                                [(ngModel)]="step1Data.official_email"  required>
                                                <mat-error></mat-error> 
                                            </mat-form-field>
                                            <p class="error" *ngIf="step1Data.official_email && !Service.checkInput('email',step1Data.official_email)">Please Enter Correct Email Id</p>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Official Website</mat-label>
                                                <input  (keypress)="Service.inputFilter($event, Service.regExName)" 
                                                matInput autocomplete="off"  placeholder="Official Website"  
                                                name="official_website" [(ngModel)]="step1Data.official_website">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Date of Establishment</mat-label>
                                                <input matInput  readonly="true" 
                                                [matDatepicker]="date_of_establishment" [max]="today"  placeholder="Date Of Establishment" 
                                                name="date_of_establishment" [(ngModel)]="step1Data.date_of_establishment">
                                                <!-- <mat-datepicker-toggle matSuffix [for]="date_of_establishment"></mat-datepicker-toggle> -->
                                                <mat-datepicker #date_of_establishment disabled="false"></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Legal-Professional/Commercial/Trade License</mat-label>
                                                <input matInput readonly="true" name="tradelic" [(ngModel)]="selectTradeLicName"
                                                autocomplete="off"  placeholder="Legal-Professional/Commercial/Trade License"  >
                                                <a href="{{selectTradeLicPath}}" target="_blank">
                                                    <span class="icon-eye visible-pwd"></span>
                                                    </a>
                                            </mat-form-field>
                                        </div>                                                                              

                                        <div class="col-md-3">
                                            <mat-form-field class="cab-data">  
                                                <!-- (click)="Service._openCalendar(issue_data)" -->
                                                <mat-label>Trade License Date of Issue</mat-label>
                                                <input matInput readonly="true"  [matDatepicker]="issue_data"  placeholder="Date of Issue" name="date_of_issue" [(ngModel)]="step1Data.date_of_issue" (dateChange)="setexDate(step1Data.date_of_issue)">
                                                <!-- <mat-datepicker-toggle matSuffix [for]="issue_data"></mat-datepicker-toggle> -->
                                                <mat-datepicker #issue_data  disabled="false" ></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Trade License Date of Expiry</mat-label>
                                                <input matInput readonly="true" [matDatepicker]="expiry_data"  readonly="true" [min]="minDate" name="date_of_expiry" 
                                                [(ngModel)]="step1Data.date_of_expiry" placeholder="Date of Expiry">
                                                <!-- <mat-datepicker-toggle matSuffix [for]="expiry_data"></mat-datepicker-toggle> -->
                                                <mat-datepicker #expiry_data disabled="false"></mat-datepicker>
                                                <mat-error></mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-12 p-0">
                                            <div class="form-subheader-data">
                                                <h5>OWNERSHIP OF THE ORGANIZATION</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngFor="let item of ownOrgBasicInfo; let i = index;">
                                        <div class="col-12">
                                            <div class="ownr-details">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-12">
                                                        <mat-form-field class="cab-data">
                                                            <mat-label>Name</mat-label>
                                                            <input  readonly="true"  (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off"  placeholder="Name"  maxlength="20" name="ownership_name_{{i}}" [(ngModel)]="ownOrgBasicInfo[i].name" required>
                                                            <mat-error></mat-error>    
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <mat-form-field class="cab-data">
                                                            <mat-label>Designation</mat-label>
                                                            <input  readonly="true"  (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" required placeholder="Designation" name="ownership_designation_{{i}}" [(ngModel)]="ownOrgBasicInfo[i].designation" required>
                                                            <mat-error></mat-error> 
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-12">
                                                        <mat-form-field class="cab-data">
                                                            <mat-label>Mobile Phone No.</mat-label>
                                                            <input  readonly="true" type="text" (keypress)="Service.IsNumeric($event)" maxlength="15" minlength="10" matInput autocomplete="off"  placeholder="Mobile No." name="ownership_phone_no_{{i}}" [(ngModel)]="ownOrgBasicInfo[i].phone_no"  required>
                                                            <mat-error></mat-error>
                                                        </mat-form-field>
                                                        <p class="error" *ngIf="ownOrgBasicInfo[i].phone_no && !Service.checkInput('onlyNumberWithPlus',ownOrgBasicInfo[i].phone_no)">Please Enter Correct Telephone Number</p> 
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <mat-form-field class="cab-data">
                                                            <mat-label>Land Line Phone No.</mat-label>
                                                            <input  readonly="true" matInput (keypress)="Service.IsNumeric($event)"  maxlength="15" minlength="10" autocomplete="off"  placeholder="Landline No."  name="ownership_mobile_no_{{i}}" [(ngModel)]="ownOrgBasicInfo[i].mobile_no" required >
                                                            <mat-error></mat-error>      
                                                        </mat-form-field>
                                                        <p class="error" *ngIf="ownOrgBasicInfo[i].mobile_no && !Service.checkInput('onlyNumberWithPlus',ownOrgBasicInfo[i].mobile_no)">Please Enter Correct Telephone Number</p> 
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <mat-form-field class="cab-data">
                                                            <mat-label>Email Address</mat-label>
                                                            <input  readonly="true" type="email" matInput autocomplete="off"  placeholder="Email Address" name="ownership_email_{{i}}" [(ngModel)]="ownOrgBasicInfo[i].email" required >
                                                            <mat-error></mat-error>
                                                        </mat-form-field>
                                                        <p class="error" *ngIf="ownOrgBasicInfo[i].email && !Service.checkInput('email',ownOrgBasicInfo[i].email)">Please Enter Correct Email Id</p>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row"  id="ownOrgBasicInfos">
                                        <div class="col-12 p-0">
                                            <div class="form-subheader-data">
                                                <h5>BOARD MEMBERS</h5>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row" *ngFor="let item of ownOrgMembInfo; let i = index;">
                                        <div class="col-12"  *ngIf="step1Data.is_bod == '1'" >
                                            <div class="ownr-details">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-12">
                                                        <mat-form-field class="cab-data">
                                                            <mat-label>Name the members of Board of Directors (BOD) (if any)</mat-label>
                                                            <input matInput readonly="true"  (keypress)="Service.inputFilter($event, Service.regExName)" placeholder="Name the members of Board of Directors (BOD)"  name="bod_directors_name_{{i}}" [(ngModel)]="ownOrgMembInfo[i].name"  >
                                                        </mat-form-field>
                                                    </div>
    
                                                    <div class="col-md-8 col-sm-12">
                                                        <mat-form-field class="cab-data">
                                                            <mat-label>List the companies name of BOD members</mat-label>
                                                            <input matInput readonly="true" placeholder="List the companies name of BOD members"  (keypress)="Service.inputFilter($event, Service.regExName)" name="company_name_bod_{{i}}" [(ngModel)]="ownOrgMembInfo[i].bod_company"  >
                                                        </mat-form-field>
                                                    </div>
                                                </div>
    
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-12">
                                                        <mat-form-field class="cab-data">
                                                            <mat-label>Authorized Contact Person Name</mat-label>
                                                            <input matInput readonly="true" placeholder="Authorized Contact Person Name"   name="authorized_contact_person_{{i}}" [(ngModel)]="ownOrgMembInfo[i].authorized_contact_person"  (keypress)="Service.inputFilter($event, Service.regExName)" >
                                                        </mat-form-field>
                                                    </div>
    
                                                    <div class="col-md-4 col-sm-12">
                                                        <mat-form-field class="cab-data">
                                                            <mat-label>Designation</mat-label>
                                                            <input  readonly="true" (keypress)="Service.inputFilter($event, Service.regExName)" matInput placeholder="Designation" name="bod_designation_{{i}}" [(ngModel)]="ownOrgMembInfo[i].designation" >
                                                        </mat-form-field>
                                                    </div>
    
                                                    <div class="col-md-4 col-sm-12">
                                                        <mat-form-field class="cab-data">
                                                            <mat-label>Mobile Phone No.</mat-label>
                                                            <input  readonly="true" type="text" maxlength="15" minlength="10" 
                                                            (keypress)="Service.IsNumeric($event)" matInput placeholder="Mobile Phone No." 
                                                            name="bod_mobile_no_{{i}}" [(ngModel)]="ownOrgMembInfo[i].mobile_no" >
                                                        </mat-form-field>
                                                        <p class="error" *ngIf="ownOrgMembInfo[i].mobile_no && !Service.checkInput('onlyNumberWithPlus',ownOrgMembInfo[i].mobile_no)">Please Enter Correct Telephone Number</p> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                  
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <div class="button-content">
                                        <a class="cancel-bttn" routerLink="/dashboard/cab_client/application-registration" type="button">CANCEL</a>
                                        <button class="cancel-bttn" (click)="onSubmitApplicationInformation(ngForm1, true)" type="button">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health">CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="cust-stepper" id="cab_information" [ngStyle]="{'display':'none'}">
                    <form #ngForm2="ngForm" (ngSubmit)="onSubmitCabInformation(ngForm2);" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr form_subhdr">
                                                <h5>2. CAB INFORMATION</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- START INPUT FIELDS -->
                                    <div class="row">
                                        <div class="col-12 p-0">
                                            <div class="form-subheader-data">
                                                <h5>CAB TYPE :</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Add Options -->
                                    <div class="row"> 
                                        <div class="col-md-3 col-sm-6 ">                                            
                                            <div class="form-subheader">
                                                <span>a) Laboratory:</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 p-0 pt-4">
                                            <div class="cab-data">
                                                <mat-radio-group name="cab_type_laboratory" 
                                                [(ngModel)]="step1Data.cabTypeLaboratory" #selectAccrdCriteria="ngModel" required>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="initial_data">
                                                            <mat-radio-button value="1"  [checked]="accreditationChecked">Initial</mat-radio-button>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="initial_data">
                                                            <mat-radio-button value="2">Extension</mat-radio-button>
                                                        </div>
                                                    </div>
                                                </div>
                                                </mat-radio-group>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p class="error" *ngIf="isApplicationSubmitted == true && selectAccrdCriteria.errors?.required">Please select anyone option</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <div class="row">
                                        @{{users | json}}
                                        <div class="col-12 p-0">
                                            <mat-form-field class="example-chip-list">
                                                <mat-chip-list #chipList aria-label="Fruit selection">
                                                  <mat-chip
                                                    *ngFor="let user of users"
                                                    [selectable]="selectable"
                                                    [removable]="removable"
                                                    (removed)="removeUser(user)">
                                                    {{user}}
                                                    <mat-icon matChipRemove *ngIf="removable">X</mat-icon>
                                                  </mat-chip>
                                                  <input
                                                    placeholder="Add User"
                                                    name="userInput"
                                                    #fruitInput
                                                    [(ngModel)]="userItems"
                                                    [matAutocomplete]="auto"
                                                    [matChipInputFor]="chipList"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    (matChipInputTokenEnd)="addUser($event)">
                                                </mat-chip-list>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <div class="button-content">
                                        <a href="javascript:void(0)" class="cancel-bttn"  type="button" 
                                        (click)="Service.headerStepMove('application_information',headerSteps,'menu','cab_information')">BACK</a>
                                        <button class="cancel-bttn" (click)="onSubmitCabInformation(ngForm2, true)" type="button">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health">CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="cust-stepper" id="list_service_scope" [ngStyle]="{'display':'none'}">
                    <form #ngForm3="ngForm" (ngSubmit)="onSubmitListServiceScope(ngForm3);" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr form_subhdr">
                                                <h5>3. LIST OF SERVICES SCOPE</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <div class="button-content">
                                        <a href="javascript:void(0)" class="cancel-bttn"  type="button" 
                                        (click)="Service.headerStepMove('cab_information',headerSteps,'menu','list_service_scope')">BACK</a>
                                        <button class="cancel-bttn" (click)="onSubmitListServiceScope(ngForm3, true)" type="button">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health">CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="cust-stepper" id="list_instrument_equipment" [ngStyle]="{'display':'none'}">
                    <form #ngForm4="ngForm" (ngSubmit)="onSubmitListInstrumentEquipment(ngForm4);" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr form_subhdr">
                                                <h5>4. LIST OF SERVICE SCOPE</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <div class="button-content">
                                        <a href="javascript:void(0)" class="cancel-bttn"  type="button" 
                                        (click)="Service.headerStepMove('list_service_scope',headerSteps,'menu','list_instrument_equipment')">BACK</a>
                                        <button class="cancel-bttn" (click)="onSubmitListInstrumentEquipment(ngForm4, true)" type="button">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health">CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="cust-stepper" id="list_staff" [ngStyle]="{'display':'none'}">
                    <form #ngForm5="ngForm" (ngSubmit)="onSubmitListStaff(ngForm5);" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr form_subhdr">
                                                <h5>5. LIST OF STAFF</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <div class="button-content">
                                        <a href="javascript:void(0)" class="cancel-bttn"  type="button" 
                                        (click)="Service.headerStepMove('list_instrument_equipment',headerSteps,'menu','list_staff')">BACK</a>
                                        <button class="cancel-bttn" (click)="onSubmitListStaff(ngForm5, true)" type="button">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health">CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="cust-stepper" id="authorization_application" [ngStyle]="{'display':'none'}">
                    <form #ngForm6="ngForm" (ngSubmit)="onSubmitAuthorizeApplication(ngForm6);" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr form_subhdr">
                                                <h5>6. AUTHORIZE OF THE APPLICATION</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <div class="button-content">
                                        <a href="javascript:void(0)" class="cancel-bttn"  type="button" 
                                        (click)="Service.headerStepMove('list_staff',headerSteps,'menu','authorization_application')">BACK</a>
                                        <button class="cancel-bttn" (click)="onSubmitAuthorizeApplication(ngForm6, true)" type="button">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health">CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="cust-stepper" id="proforma_invoice" [ngStyle]="{'display':'none'}">
                    <form #ngForm7="ngForm" (ngSubmit)="onSubmitProformaInvoice(ngForm7);" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr form_subhdr">
                                                <h5>7. PRFORMA INVOICE</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <div class="button-content">
                                        <a href="javascript:void(0)" class="cancel-bttn"  type="button" 
                                        (click)="Service.headerStepMove('authorization_application',headerSteps,'menu','proforma_invoice')">BACK</a>
                                        <button class="cancel-bttn" (click)="onSubmitProformaInvoice(ngForm7, true)" type="button">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health">CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="cust-stepper" id="payment_update" [ngStyle]="{'display':'none'}">
                    <form #ngForm8="ngForm" (ngSubmit)="onSubmitPaymentUpdate(ngForm8);" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr form_subhdr">
                                                <h5>8. PAYMENT UPDATE</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <div class="button-content">
                                        <a href="javascript:void(0)" class="cancel-bttn"  type="button" 
                                        (click)="Service.headerStepMove('proforma_invoice',headerSteps,'menu','payment_update')">BACK</a> 
                                        <button class="cancel-bttn" (click)="onSubmitPaymentUpdate(ngForm8, true)" type="button">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health">CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="cust-stepper" id="application_complete" [ngStyle]="{'display':'none'}">
                    <div class="row form-bdy m-0">
                        <div class="wrapper">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 p-0">
                                        <div class="form-subhdr form_subhdr">
                                            <h5>9. APPLICATION COMPLETE</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
