<div class="row">
  <div class="col-md-12">
      <div class="dashbrd-hdr message_data">
          <h3>Daniel Thompson</h3>
      </div>
      <div class="message_wrapper">

          <div class="messaging_chat" *ngFor="let msg of messageList; let i = index;">
              <div class="message_user">
                  <span>DT</span>
              </div>
              <div class="message_chat">
                  <div class="message_cnt">
                      <span>{{msg.message}}</span>
                      <br/>
                      <a *ngIf="msg.document" [href]="constant.mediaPath+msg.document" target="_blank" class="attachment-cnt"><span class="icon-attach"></span></a>
                  </div> 
                  <!-- <div class="attach-cnt" *ngIf="msg.document">
                    <a [href]="constant.mediaPath+msg.document" target="_blank" class="attachment-cnt"><span class="icon-attach"></span></a>
                  </div> -->
                  <div class="message_time">
                      <span>{{msg.created | date:'MM/dd/yy h:mm a'}}</span>
                      <!-- <span>{{msg.created | timeAgo}}</span> -->
                  </div>
              </div>
          </div>


          <!-- <div class="messaging_chat">
              <div class="message_user">
                  <span>DT</span>
              </div>
              <div class="message_chat">
                  <div class="message_cnt">
                      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                  </div>
                  <div class="message_time">
                      <span>09:53 PM</span>
                  </div>
              </div>
          </div> -->

      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="cmnt-content">
                <form #ngForm="ngForm" (ngSubmit)="onSubmit(ngForm)">
                    <div class="row">
                        <!-- <div class="col-md-4">
                            <mat-form-field class="cab-data">
                                <mat-label>Name</mat-label>
                                <input name="title" [(ngModel)]="chatMessage.title" required matInput autocomplete="off" placeholder="Name">     
                            </mat-form-field>
                        </div> -->

                        <div class="col-md-8">
                            <mat-form-field class="cab-data">
                                <mat-label>Message</mat-label>
                                <input name="message" required [(ngModel)]="chatMessage.message" matInput autocomplete="off" placeholder="Message">
                                <mat-error></mat-error>      
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <div class="matupload position-relative">
                                <mat-form-field class="lng-data">
                                    <input (click)="file.click()" readonly name="upload_message" [(ngModel)]="documentName" matInput name="document" placeholder="Upload Document" >
                                </mat-form-field>
                                <span class="fileupload">
                                    <input #file type="file" name="upload_message_file" [(ngModel)]="chatMessage.upload_message_file" (change)="validateFile($event)" accept=".pdf, .PDF, .jpg, .JPEG, .png, .PNG, .JPG, .jpeg">
                                    <!-- <mat-error class="error" *ngIf="!file_validation">Please Upload a valid file (ex: pdf,xlsx,xlx)</mat-error>  -->
                                    <span class="icon-attach attach-data" (click)="showFile()"></span>
                                </span>
                                <p class="error" *ngIf="!file_validation">Please Upload a valid file (ex: pdf)</p>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="bttns-appln mb-0">
                                <button class="submit-bttn">SEND MESSAGE</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
