<app-loader *ngIf="!loaderData"></app-loader>
<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0 mb-3">
                <div class="dashbrd-hdr">
                    <h3>Apply Public Course</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 p-0" *ngFor="let row of pageDetails; let i = index;">
                <div class="service-hdr-data">
                    <div class="service_desc_sec">
                        <img class="service_img" [src]="_constant.mediaPath+row.course_type_img_thumb">
                    </div>
                    <div class="service_desc">
                        <h4 >{{row.courseTypeDetails.name}}</h4>
                        <p class="service-data" [innerHtml]="row.courseTypeDetails.description"></p>
                        <div class="start-now-bttn">
                            <a routerLink="/dashboard/cab_client/training-public-course">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div> -->



<section>
    <div class="main-menu-dir">
        <div class="pub-wrapper">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-main">
                            <!-- <h1>PROGRAM LISTING</h1> -->
                            <!-- <h1>{{pageHeading}}</h1> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="ourcourse-data">
                            <div class="progs-course">
                                <h4>Apply Public Course</h4>
                            </div>
                            <div class="sort-data">
                                 <label for="sort">Sort By :</label>

                                <mat-form-field appearance="fill">
                                    <mat-select (selectionChange)="shortProgramListing('schedule_program_listing')" [(value)]="scheduleProgramSection">
                                    <mat-option value="">Select</mat-option>
                                        <mat-option value="coursename">Course Name</mat-option>
                                        <!-- <mat-option value="audience">Audience</mat-option> -->
                                        <mat-option value="date">Date</mat-option>
                                        <mat-option value="days">Days</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="trainingList !+ undefined && trainingList.length == 0">
                    <div class="col-md-12">
                        <div class="scheduled-prog">
                            No Data Found
                        </div>
                    </div>
                </div>
                <div class="row" *ngFor="let trainingCourse of trainingList; let i=index">
                    <!-- @@{{trainingCourse | json}} -->
                    <div class="col-md-12">
                        <div class="scheduled-prog">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="training-data">
                                        <h4>{{trainingCourse.courseName}}</h4>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                             
                            <div class="training-details">
                                <div class="row">
                                    <div class="col-lg-2  border-left-dash">
                                        <div class="training-main-details">
                                            <div class="training_det">
                                                <span>Audience</span>
                                            </div>
                                            <div class="training_type">
                                                <span>{{trainingCourse.courseAudience}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 border-left-dash">
                                       <div class="training-main-details">
                                            <div class="training_det">
                                                <span>Duration</span>
                                            </div>
                                            <div class="training_type">
                                                <span>{{trainingCourse.courseDuration}} Days</span>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-lg-2 border-left-dash">
                                        <div class="training-main-details">
                                            <div class="training_det">
                                                <span>Date</span>
                                            </div>
                                            <div class="training_type">
                                                <span>{{trainingCourse.courseDate | date}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 border-left-dash">
                                        <div class="training-main-details">
                                            <div class="training_det">
                                                <span>Location</span>
                                            </div>
                                            <div class="training_type">
                                                {{trainingCourse.courseLocation}}
                                                <!-- <span *ngIf="trainingCourse.course.training_course.location == 'eiac_training_center'">EIAC Training Center</span>
                                                <span *ngIf="trainingCourse.course.training_course.location == ''"></span> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 border-left-dash">
                                        <div class="training-main-details">
                                            <div class="training_det">
                                                <span>Availability of Seats</span>
                                            </div>
                                            <div class="training_type">
                                                <span *ngIf="trainingCourse.courseCapacity != ''">
                                                    {{trainingCourse.courseAvailability}} out of {{trainingCourse.courseCapacity}}
                                                </span>
                                                <!-- <span *ngIf="trainingCourse.course.training_course.capacity != ''">{{trainingCourse.course.training_course.capacity}}</span> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 border-left-dash">
                                        <div class="train_det_bttn">
                                            <!-- <ng-container *ngIf="trainingCourse.courseAvailability > 0">
                                                <a style="text-decoration:none" routerLink="/dashboard/cab_client/training-course-details/{{trainingCourse.courseID}}" href="javascript:void(0)" class="training_btn">DETAILS</a>
                                            </ng-container>
                                            <ng-container *ngIf="trainingCourse.courseAvailability == 0"> -->
                                                <a style="text-decoration:none" routerLink="/dashboard/cab_client/training-course-details/{{trainingCourse.courseID}}" href="javascript:void(0)" class="training_btn">DETAILS</a>
                                            <!-- </ng-container> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>