<app-loader *ngIf="!loaderData"></app-loader>
<div class="main-content">
    <section>
        <div class="form-wrapper-course">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dashbrd-hdr">
                            <h3>Course Event Details</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{courseDetails?.course}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="course-list">
                            <div class="description-course" *ngIf="courseDetails?.courseType && courseDetails?.courseType[0].course_type_img">
                                <img src="{{_constant.mediaPath}}/media/{{courseDetails?.courseType[0].course_type_img}}" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 pl-sm-0">
                        <div class="service-course-block">
                            <div class="course-data">
                                <div class="course-info">
                                    <h3>COURSE INFORMATION</h3>
                                </div>
                                <div class="course-info">
                                    <div class="course-det">
                                        <h5>Date : 
                                            <div  *ngIf="courseDetails?.event.eventDates && courseDetails?.event.eventDates[0].event_date; then Dateshow else Datehide" ></div>

                                            <ng-template #Dateshow>
                                                <span>{{courseDetails?.event.eventDates[0].event_date | date}}</span>
                                            </ng-template>
                                            <ng-template #Datehide>
                                                <span>N/A</span>
                                            </ng-template>
                                        </h5>
                                    </div>
                                    
                                    <div class="course-det">
                                        <h5>Duration : <span *ngIf="courseDetails?.training_days != ''">{{courseDetails?.training_days}} Days</span>
                                        <span *ngIf="courseDetails?.training_days == ''">N/A</span>
                                        </h5>
                                    </div>
                                </div>
                                
                                <div class="course-info">
                                    <div class="course-det">
                                        <h5>Fees in AED : <span *ngIf="courseDetails?.fees_per_trainee != ''">{{courseDetails?.fees_per_trainee}}</span>
                                        <span *ngIf="courseDetails?.fees_per_trainee == ''">N/A</span>
                                        </h5>
                                    </div>

                                    <div class="course-det">
                                        <h5>Capacity : <span *ngIf="courseDetails?.capacity != ''">{{courseDetails?.capacity}}</span>
                                        <span *ngIf="courseDetails?.capacity == ''">N/A</span>
                                        </h5>
                                    </div>
                                </div>

                                <div class="course-info">
                                    <h5>Trainer : <span *ngIf="courseDetails?.tutor != ''">{{courseDetails?.event.tutor}}</span>
                                    <span *ngIf="courseDetails?.tutor == ''">N/A</span>
                                    </h5>
                                </div>

                                <div class="course-info">
                                    <h5>Location : <span *ngIf="courseDetails?.event.location == 'eiac_training_center'">EIAC Training Center</span>
                                    <span *ngIf="courseDetails?.event.location != '' && courseDetails?.event.location != 'eiac_training_center'">N/A</span>
                                    </h5>
                                </div>

                                <div class="course-info">
                                    <h5>Audience : <span *ngIf="courseDetails?.allTargatedAud && courseDetails?.allTargatedAud[0].target_aud_name.title">{{courseDetails?.allTargatedAud[0].target_aud_name.title}}</span>
                                    <span *ngIf="!courseDetails?.allTargatedAud && !courseDetails?.allTargatedAud[0].target_aud_name.title">{{courseDetails?.allTargatedAud[0].target_aud_name.title}}</span>
                                    </h5>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="progs-up">
                            <div class="prog-details">
                                <p [innerHtml]="courseDetails?.course_description"></p>
                            </div>                               
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="course-bttn">
                            <!-- <div class="course-btn ">
                                <a class="curs-apply" routerLink = "/dashboard/cab_client/training-inpremise-form/{{routeId}}">Apply Now</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
</div>