<div class="accounts">
    <table class="accounts_inner_tab">
        <thead>
            <tr class="main_acc_tab">
                <th class="main_tab_head"></th>
                <th class="main_tab_head"></th>
                <th class="main_tab_head"></th>
                <th class="main_tab_head main_hd"></th>
                <th colspan="3">Application Fees</th>
                <th colspan="3">Preliminary Visit</th>
                <th colspan="3">Document Review</th>
                <th colspan="3">Assessment</th>
                <th colspan="3">Certification</th>
            </tr>
            <tr>
                <th>App. No.</th>
                <th>Date</th>
                <th>CAB Name/Code</th>
                <th>Application Type</th>
                <th>Fees</th>
                <th>Fees Date</th>
                <th>Status</th>
                <th>Fees</th>
                <th>Fees Date</th>
                <th>Status</th>
                <th>Fees</th>
                <th>Fees Date</th>
                <th>Status</th>
                <th>Fees</th>
                <th>Fees Date</th>
                <th>Status</th>
                <th>Fees</th>
                <th>Fees Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
             <tr>
                <td class="fnt-clr">87102154</td>
                <td>1-5-2020</td>
                <td>Bob Williams</td>
                <td>Certification Bodies</td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete"><span>Paid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete"><span>Paid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete"><span>Paid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete"><span>Paid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete"><span>Paid</span></td>
                <td><span class="icon-accept"></span></td>
            </tr>
            <tr>
                <td class="fnt-clr">87102154</td>
                <td>2-3-2020</td>
                <td>Robert Thomson</td>
                <td>Inspection Bodies</td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete under-review"><span>Unpaid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete under-review"><span>Unpaid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete under-review"><span>Unpaid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete under-review"><span>Unpaid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete under-review"><span>Unpaid</span></td>
                <td><span class="icon-accept"></span></td>
            </tr>
            <tr>
                <td class="fnt-clr">87102154</td>
                <td>1-5-2020</td>
                <td>Bob Williams</td>
                <td>Inspection Bodies</td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete"><span>Paid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete"><span>Paid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete"><span>Paid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete"><span>Paid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete"><span>Paid</span></td>
                <td><span class="icon-accept"></span></td>
            </tr>
            <tr>
                <td class="fnt-clr">87102154</td>
                <td>1-5-2020</td>
                <td>Robert Thomson</td>
                <td>Certification Bodies</td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete under-review"><span>Unpaid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete under-review"><span>Unpaid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete under-review"><span>Unpaid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete under-review"><span>Unpaid</span></td>
                <td>100.00</td>
                <td>15-07-2019</td>
                <td class="complete under-review"><span>Unpaid</span></td>
                <td><span class="icon-accept"></span></td>
            </tr>
        </tbody>
    </table>
</div>