<app-loader *ngIf="!loader"></app-loader>
<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard-table">
            <flash-messages></flash-messages>
            <div class="row mb-4">
                <div class="col-md-8">                    
                    <div class="dashbrd-hdr">
                        <h3>Accounts</h3> 
                    </div>
                </div>
                <!-- <div class="col-md-4"> 
                    <div class="tbl-filter-data">
                        <ul>
                            <li>
                                <div class="filter">
                                    <a href="javascript:void(0)" (click)="filterSearchSec()"><span class="icon-filter"></span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
            <!-- <div class="row m-0">
                <ng-container *ngIf="userType == 'operations'">
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Export As</mat-label>                              
                                <mat-select placeholder="Export" (selectionChange)="exportFile()"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="exportAs" required>
                                    <mat-option value="csv">Export as CSV</mat-option>
                                    <mat-option value="xls">Export as XLS</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>

                <div class="col-md-4">
                    <div class="user-details">
                        <mat-form-field class="cab-data">
                            <mat-label>Show</mat-label>                              
                            <mat-select placeholder="Show" (selectionChange)="showData()"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="show_data" required>
                                <mat-option value="25">25</mat-option>
                                <mat-option value="50">50</mat-option>
                                <mat-option value="75">75</mat-option>
                                <mat-option value="100">100</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div> -->

            <ng-container class="tbl-filter-data">
                <div class="filter-dash filter_certification">
                    <div class="row m-0">
                        <div class="col-md-4">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Filter Column</mat-label> 
                                    <mat-select placeholder="Select" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchValue"
                                      (selectionChange)="changeFilter($event)">
                                        <mat-option value="id">Application Number</mat-option>
                                        <mat-option value="cab_name">CAB Name</mat-option>
                                        <mat-option value="cab_code">CAB Code</mat-option>
                                        <mat-option value="voucher_no">Voucher Number</mat-option>
                                        <mat-option value="voucher_date">Payment Date</mat-option>
                                        <mat-option value="payment_status">Status</mat-option>
                                        <mat-option value="form_meta">Accreditation Type</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> 
                        </div>

                        <div class="col-md-4 slectType" id="textType">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                <mat-label>Search Text</mat-label> 
                                <ng-container *ngIf="searchValue !='id' && searchValue !='voucher_no'">
                                    <input type="text" matInput [(ngModel)]="searchText" placeholder="Search Text"  maxlength="50">
                                </ng-container>
                                <ng-container *ngIf="searchValue =='id' || searchValue =='voucher_no'">
                                    <input type="text" matInput  maxlength="15" (keypress)="_service.inputFilter($event, _service.regExNumb)" [(ngModel)]="searchText"  placeholder="Search Text">
                                </ng-container>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4 slectType" id="form_meta" [ngStyle]="{'display': 'none'}">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Accreditation Type</mat-label>                              
                                    <mat-select placeholder="Acreditation Type" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText">
                                        <mat-option *ngFor="let item of selectAccrType;" [value]="item.value">{{item.title}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <div class="col-md-4 slectType" id="voucher_date" [ngStyle]="{'display': 'none'}">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                <input matInput readonly="true" [matDatepicker]="payment_date" id="payment_date"  
                                (click)="_service._openCalendar(payment_date)" placeholder="Payment Date" name="payment_date" 
                                [(ngModel)]="searchText" required>
                                <mat-datepicker-toggle matSuffix [for]="payment_date"></mat-datepicker-toggle>
                                <mat-datepicker #payment_date disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4 slectType" id="payment_status" [ngStyle]="{'display': 'none'}">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Status</mat-label>                              
                                    <mat-select placeholder="Payment Status" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText">
                                        <mat-option *ngFor="let item of selectPaymentStatus;" [value]="item.value">{{item.title}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row m-0">
                            <div class="col-md-12"> 
                                <div class="filter-search">
                                    <a href="javascript:void(0)" (click)="filterSearchSubmit()" class="search-fil">SEARCH</a>
                                    <a href="javascript:void(0)" (click)="filterSearchReset('load')">RESET</a>
                                    <ng-container *ngIf="userType == 'operations'">
                                    <a href="javascript:void(0)" (click)="exportFile()" class="space-left">EXPORT</a>
                                    </ng-container>
                                </div>         
                            </div>
                        </div>
                    </div>
                </div>                
            </ng-container>
            <div class="row m-0">
                <div class="col-md-4">
                    <div class="user-details" [ngStyle]="{'width': '100px'}">
                        <mat-form-field class="cab-data">
                            <mat-label>Show</mat-label>
                            <mat-select placeholder="Show" (selectionChange)="showData()"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="show_data">
                                <mat-option value="25">25</mat-option>
                                <mat-option value="50">50</mat-option>
                                <mat-option value="75">75</mat-option>
                                <mat-option value="100">100</mat-option>
                                <mat-option value="all">All</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- table-dashboard-cont -->
            <div class="accounts mt-3">
                <table class="accounts_inner_tab"  id="accreditation-service-export">
                    <thead>
                        <tr class="main_acc_tab">
                            <th class="main_tab_head"></th>
                            <th class="main_tab_head"></th>
                            <th class="main_tab_head"></th>
                            <th class="main_tab_head"></th>
                            <th class="main_tab_head"></th>
                            <th class="main_tab_head"></th>
                            <!--<th class="main_tab_head"></th>
                            <th class="main_tab_head"></th>
                            <th class="main_tab_head"></th>
                            <th class="main_tab_head"></th> -->
                            <th class="main_tab_head"></th>
                            <th class="main_tab_head main_hd"></th>
                            <th colspan="3">Application Fees</th>
                            <th colspan="3">Preliminary Visit</th>
                            <th colspan="3">Document Review</th>
                            <th colspan="3">Assessment</th>
                            <th colspan="3">Certification</th>
                        </tr>
                    <!-- </thead> -->
                <!-- </table> -->
                <!-- <table class="accounts_inner_tab"> -->
                    <!-- <thead> -->
                        <tr>
                            <th>App. No.
                            <a href="javascript:void(0)" (click)="sortedList(accountsData, 'id', curSortDir.id)">
                                <span class="icon-arrow-down" *ngIf="!curSortDir.id"></span>
                                <span class="icon-arrow-up"  *ngIf="curSortDir.id"></span>
                            </a>
                            </th>
                            <th>Date
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'createdDate', curSortDir.createdDate)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.createdDate"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.createdDate"></span>
                                </a>
                            </th>
                            <th>CAB Name
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'cabName', curSortDir.cabName)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.cabName"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.cabName"></span>
                                </a>
                            </th>
                            <th>CAB Code
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'cabCode', curSortDir.cabCode)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.cabCode"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.cabCode"></span>
                                </a>
                            </th>
                            <th>App. Type
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'appType', curSortDir.appType)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.appType"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.appType"></span>
                                </a>
                            </th>
                            <th>Voucher Number
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'voucher_no', curSortDir.voucher_no)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.voucher_no"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.voucher_no"></span>
                                </a>
                            </th>
                            <th>Application Amount
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'app_amount', curSortDir.app_amount)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.app_amount"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.app_amount"></span>
                                </a>
                            </th>
                            <th>Payment Amount
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'pay_amount', curSortDir.pay_amount)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.pay_amount"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.pay_amount"></span>
                                </a>
                            </th>
                            <th>Fees
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'app_fees', curSortDir.app_fees)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.app_fees"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.app_fees"></span>
                                </a>
                            </th>
                            <th>Fees Date
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'app_fees_date', curSortDir.app_fees_date)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.app_fees_date"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.app_fees_date"></span>
                                </a>
                            </th>
                            <th>Status
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'app_fees_status', curSortDir.app_fees_status)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.app_fees_status"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.app_fees_status"></span>
                                </a>
                            </th>
                            <th>Fees
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'prelim_fees', curSortDir.prelim_fees)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.prelim_fees"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.prelim_fees"></span>
                                </a>
                            </th>
                            <th>Fees Date
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'prelim_fees_date', curSortDir.prelim_fees_date)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.prelim_fees_date"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.prelim_fees_date"></span>
                                </a>
                            </th>
                            <th>Status
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'prelim_fees_status', curSortDir.prelim_fees_status)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.prelim_fees_status"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.prelim_fees_status"></span>
                                </a>
                            </th>

                            <th>Fees
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'doc_fees', curSortDir.doc_fees)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.doc_fees"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.doc_fees"></span>
                                </a>
                            </th>
                            <th>Fees Date
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'doc_fees_date', curSortDir.doc_fees_date)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.doc_fees_date"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.doc_fees_date"></span>
                                </a>
                            </th>
                            <th>Status
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'doc_fees_status', curSortDir.doc_fees_status)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.doc_fees_status"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.doc_fees_status"></span>
                                </a>
                            </th>

                            <th>Fees
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'asses_fees', curSortDir.asses_fees)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.asses_fees"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.asses_fees"></span>
                                </a>
                            </th>
                            <th>Fees Date
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'asses_fees_date', curSortDir.asses_fees_date)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.asses_fees_date"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.asses_fees_date"></span>
                                </a>
                            </th>
                            <th>Status
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'asses_fees_status', curSortDir.asses_fees_status)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.asses_fees_status"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.asses_fees_status"></span>
                                </a>
                            </th>

                            <th>Fees
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'certif_fees', curSortDir.certif_fees)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.certif_fees"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.certif_fees"></span>
                                </a>
                            </th>
                            <th>Fees Date
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'certif_fees_date', curSortDir.certif_fees_date)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.certif_fees_date"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.certif_fees_date"></span>
                                </a>
                            </th>
                            <th>Status
                                <a href="javascript:void(0)" (click)="sortedList(accountsData, 'certif_fees_status', curSortDir.certif_fees_status)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.certif_fees_status"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.certif_fees_status"></span>
                                </a>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="accountsData.length > 0">
                            <tr *ngFor="let item of accountsData | paginate: { itemsPerPage: pageLimit, totalItems: pageTotal, currentPage: pageCurrentNumber }; let i = index;">
                                <td class="fnt-clr"><a href="javascript:void(0)" routerLink="/dashboard/account-details/{{item.appNo}}">{{item.appNo}}</a></td>
                                <td>{{item.createdDate | date}}</td>
                                <td>{{item.cabName}}</td>
                                <td>{{item.cabCode}}</td> 
                                <td>
                                    <span *ngIf="item.appType == 'testing_calibration'">Testing Calibration</span>
                                    <span *ngIf="item.appType == 'inspection_body'">Inspection Bodies</span>
                                    <span *ngIf="item.appType == 'health_care'">Health Care</span>
                                    <span *ngIf="item.appType == 'halal_conformity_bodies'">Halal Conformity Bodies</span>
                                    <span *ngIf="item.appType == 'certification_bodies'">Certification Bodies</span>
                                    <span *ngIf="item.appType == 'pt_providers'">Proficiency Testing Providers</span>
                                </td>
                                <td>{{item.application_fees.voucher_no}}</td>
                                <td>{{item.application_fees.amount}}</td>
                                <td>{{item.application_fees.amount}}</td>

                                <!--  
                            <td [ngClass]="{'complete': item.payment_status == 'paid', 'under-review':item.payment_status === null , 'under-review':item.payment_status === 'pending'}">
                                <span *ngIf="item.payment_status == 'paid'">Paid</span>
                                <span *ngIf="item.payment_status == 'pending'">Pending</span>
                            </td>
                                -->
                                <ng-container *ngIf="item.application_fees">
                                    <td>{{item.application_fees.amount}}</td>
                                    <td>{{item.application_fees.voucher_date | date}}</td>
                                    <td [ngClass]="{'complete': item.application_fees.payment_status == 'paid', 'under-review':item.application_fees.payment_status === null , 'under-review':item.application_fees.payment_status === 'pending'}">
                                        <span *ngIf="item.application_fees.payment_status == 'paid'">Paid</span>
                                        <span *ngIf="item.application_fees.payment_status == 'pending'">Unpaid</span>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="!item.application_fees">
                                    <td>0.00</td>
                                    <td>N/A</td>
                                    <td><span>N/A</span></td>
                                </ng-container>

                                <ng-container *ngIf="item.prelim_visit">
                                    <td>{{item.prelim_visit.amount}}</td>
                                    <td>{{item.prelim_visit.voucher_date | date}}</td>
                                    <td [ngClass]="{'complete': item.prelim_visit.payment_status == 'paid', 'under-review':item.prelim_visit.payment_status === null , 'under-review':item.prelim_visit.payment_status === 'pending'}">
                                        <span *ngIf="item.prelim_visit.payment_status == 'paid'">Paid</span>
                                        <span *ngIf="item.prelim_visit.payment_status == 'pending'">Unpaid</span>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="!item.prelim_visit">
                                    <td>0.00</td>
                                    <td>N/A</td>
                                    <td><span>N/A</span></td>
                                </ng-container>

                                <ng-container *ngIf="item.document_review">
                                    <td>{{item.document_review.amount}}</td>
                                    <td>{{item.document_review.voucher_date | date}}</td>
                                    <!-- <td class="complete"><span>{{item.document_review.payment_status}}</span></td> -->
                                    <td [ngClass]="{'complete': item.document_review.payment_status == 'paid', 'under-review':item.document_review.payment_status === null , 'under-review':item.document_review.payment_status === 'pending'}">
                                        <span *ngIf="item.document_review.payment_status == 'paid'">Paid</span>
                                        <span *ngIf="item.document_review.payment_status == 'pending'">Unpaid</span>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="!item.document_review">
                                    <td>0.00</td>
                                    <td>N/A</td>
                                    <td><span>N/A</span></td>
                                </ng-container>

                                <ng-container *ngIf="item.assessment">
                                    <td>{{item.assessment.amount}}</td>
                                    <td>{{item.assessment.voucher_date | date}}</td>
                                    <!-- <td class="complete"><span>{{item.assessment.payment_status}}</span></td> -->
                                    <td [ngClass]="{'complete': item.assessment.payment_status == 'paid', 'under-review':item.assessment.payment_status === null , 'under-review':item.assessment.payment_status === 'pending'}">
                                        <span *ngIf="item.assessment.payment_status == 'paid'">Paid</span>
                                        <span *ngIf="item.assessment.payment_status == 'pending'">Unpaid</span>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="!item.assessment">
                                    <td>0.00</td>
                                    <td>N/A</td>
                                    <td><span>N/A</span></td>
                                </ng-container>

                                <ng-container *ngIf="item.certification">
                                    <td>{{item.certification.amount}}</td>
                                    <td>{{item.certification.voucher_date | date}}</td>
                                    <!-- <td class="complete"><span>{{item.certification.payment_status}}</span></td> -->
                                    <td [ngClass]="{'complete': item.certification.payment_status == 'paid', 'under-review':item.certification.payment_status === null , 'under-review':item.certification.payment_status === 'pending'}">
                                        <span *ngIf="item.certification.payment_status == 'paid'">Paid</span>
                                        <span *ngIf="item.certification.payment_status == 'pending'">Unpaid</span>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="!item.certification">
                                    <td>0.00</td>
                                    <td>N/A</td>
                                    <td><span>N/A</span></td>
                                </ng-container>
                                <td class="fnt-clr">
                                    <a *ngIf="userType == 'cab_client' && item.totalPayment < 4" href="javascript:void(0)" routerLink="/dashboard/account-upload/{{item.appNo}}">
                                        <span class="icon-wallet"></span>
                                    </a>

                                    <a *ngIf="userType == 'candidate' && item.totalPayment < 1" href="javascript:void(0)" routerLink="/dashboard/account-upload/{{item.appNo}}">
                                        <span class="icon-wallet"></span>
                                    </a>

                                    <!-- <a *ngIf="userType == 'operations' && item.totalPayment < 4" href="javascript:void(0)" routerLink="/dashboard/account-upload/{{item.appNo}}">
                                        <span class="icon-wallet"></span>
                                    </a> -->
                                </td>
                            </tr>
                        </ng-container>

                        <ng-container *ngIf="accountsData.length == 0">
                            <tr>
                                <td colspan="25">
                                    No Records
                                </td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>

                <ng-container *ngIf="accountsData != undefined && accountsData.length > 5" >
                    <pagination-controls (click)="paginationReset()" (pageChange)="pageCurrentNumber = $event"></pagination-controls>
                </ng-container>

            </div>
        </div>
    </div>
</div>