<app-loader *ngIf="!loader"></app-loader>
<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard-table">
            <flash-messages></flash-messages>
            <div class="row mb-4">
                <div class="col-md-8">                    
                    <div class="dashbrd-hdr">
                        <h3>Accounts</h3> 
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-md-4">
                    <div class="user-details">
                        <mat-form-field class="cab-data">
                            <mat-label>Export As</mat-label>                              
                            <mat-select placeholder="Export" (selectionChange)="exportFile()"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="exportAs" required>
                                <mat-option value="csv">Export as CSV</mat-option>
                                <mat-option value="xls">Export as XLS</mat-option>
                                <!-- <mat-option value="pdf">Export as PDF</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="accounts mt-3">
                <table class="accounts_inner_tab">
                    <thead>
                        <tr class="main_acc_tab">
                            <th class="main_tab_head"></th>
                            <th class="main_tab_head"></th>
                            <th class="main_tab_head"></th>
                            <th class="main_tab_head main_hd"></th>
                            <th colspan="3">Application Fees</th>
                            <th colspan="3">Preliminary Visit</th>
                            <th colspan="3">Document Review</th>
                            <th colspan="3">Assessment</th>
                            <th colspan="3">Certification</th>
                        </tr>
                    </thead>
                </table>
                <table class="accounts_inner_tab" id="accreditation-service-export">
                    <thead>
                        <tr>
                            <th>App. No.</th>
                            <th>Date</th>
                            <th>CAB Name/Code</th>
                            <th>Application Type</th>
                            <th>Fees</th>
                            <th>Fees Date</th>
                            <th>Status</th>
                            <th>Fees</th>
                            <th>Fees Date</th>
                            <th>Status</th>
                            <th>Fees</th>
                            <th>Fees Date</th>
                            <th>Status</th>
                            <th>Fees</th>
                            <th>Fees Date</th>
                            <th>Status</th>
                            <th>Fees</th>
                            <th>Fees Date</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>                    
                    <tbody>
                        <ng-container *ngIf="accountsData.length > 0">
                            <tr *ngFor="let item of accountsData | paginate: { itemsPerPage: pageLimit, totalItems: pageTotal, currentPage: pageCurrentNumber }; let i = index;">
                                <td class="fnt-clr"><a href="javascript:void(0)" routerLink="/dashboard/account-details/{{item.appNo}}">{{item.appNo}}</a></td>
                                <td>{{item.createdDate | date}}</td>
                                <td>{{item.cabName}}</td>

                                <td *ngIf="item.appType == 'testing_calibration'">Testing Calibration</td>
                                <td *ngIf="item.appType == 'inspection_body'">Inspection Bodies</td>
                                <td *ngIf="item.appType == 'health_care'">Health Care</td>
                                <td *ngIf="item.appType == 'certification_bodies'">Certification Bodies</td>

                                <ng-container *ngIf="item.application_fees">
                                    <td>{{item.application_fees.amount}}</td>
                                    <td>{{item.application_fees.voucher_date | date}}</td>
                                    <td class="complete"><span>{{item.application_fees.payment_status}}</span></td>
                                </ng-container>
                                <ng-container *ngIf="!item.application_fees">
                                    <td>0.00</td>
                                    <td>N/A</td>
                                    <td><span>N/A</span></td>
                                </ng-container>

                                <ng-container *ngIf="item.prelim_visit">
                                    <td>{{item.prelim_visit.amount}}</td>
                                    <td>{{item.prelim_visit.voucher_date | date}}</td>
                                    <td class="complete"><span>{{item.prelim_visit.payment_status}}</span></td>
                                </ng-container>
                                <ng-container *ngIf="!item.prelim_visit">
                                    <td>0.00</td>
                                    <td>N/A</td>
                                    <td><span>N/A</span></td>
                                </ng-container>

                                <ng-container *ngIf="item.document_review">
                                    <td>{{item.document_review.amount}}</td>
                                    <td>{{item.document_review.voucher_date | date}}</td>
                                    <td class="complete"><span>{{item.document_review.payment_status}}</span></td>
                                </ng-container>
                                <ng-container *ngIf="!item.document_review">
                                    <td>0.00</td>
                                    <td>N/A</td>
                                    <td><span>N/A</span></td>
                                </ng-container>

                                <ng-container *ngIf="item.assessment">
                                    <td>{{item.assessment.amount}}</td>
                                    <td>{{item.assessment.voucher_date | date}}</td>
                                    <td class="complete"><span>{{item.assessment.payment_status}}</span></td>
                                </ng-container>
                                <ng-container *ngIf="!item.assessment">
                                    <td>0.00</td>
                                    <td>N/A</td>
                                    <td><span>N/A</span></td>
                                </ng-container>

                                <ng-container *ngIf="item.certification">
                                    <td>{{item.certification.amount}}</td>
                                    <td>{{item.certification.voucher_date | date}}</td>
                                    <td class="complete"><span>{{item.certification.payment_status}}</span></td>
                                </ng-container>
                                <ng-container *ngIf="!item.certification">
                                    <td>0.00</td>
                                    <td>N/A</td>
                                    <td><span>N/A</span></td>
                                </ng-container>
                                <td class="fnt-clr">
                                    <a *ngIf="userType == 'cab_client' && item.totalPayment < 4" href="javascript:void(0)" routerLink="/dashboard/account-upload/{{item.appNo}}">
                                        <span class="icon-wallet"></span>
                                    </a>

                                    <a *ngIf="userType == 'candidate' && item.totalPayment < 1" href="javascript:void(0)" routerLink="/dashboard/account-upload/{{item.appNo}}">
                                        <span class="icon-wallet"></span>
                                    </a>

                                    <!-- <a *ngIf="userType == 'operations' && item.totalPayment < 4" href="javascript:void(0)" routerLink="/dashboard/account-upload/{{item.appNo}}">
                                        <span class="icon-wallet"></span>
                                    </a> -->
                                </td>
                            </tr>
                        </ng-container>

                        <ng-container *ngIf="accountsData.length == 0">
                            <tr>
                                <td colspan="5">
                                    No Records
                                </td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>

                <ng-container *ngIf="accountsData != undefined && accountsData.length > 5" >
                    <pagination-controls (pageChange)="pageCurrentNumber = $event"></pagination-controls>
                </ng-container>

            </div>
        </div>
    </div>
</div>