.accounts table {
  width: 100%;
  border-collapse: collapse;
}
.accounts_inner_tab {
  border: 1px solid#D3D3D3;
}
.accounts_inner_tab th {
  background: #d8d8d8;
  color: #000;
  border: 1px solid #B9B9B9;
  padding: 5px;
  font-size: 16px;
  font-family: 'Dubai Medium';
}
.accounts_inner_tab td {
  border: 1px solid #D3D3D3;
  padding: 0 5px;
  color: #454545;
  font-family: 'Dubai Regular';
  font-size: 14px;
  line-height: 2;
}
.accounts_inner_tab .main_acc_tab .main_tab_head { background: #fff; border: 1px solid #fff; }
.accounts_inner_tab .main_acc_tab .main_tab_head.main_hd { border-right: 1px solid #B9B9B9; }
.accounts_inner_tab .main_acc_tab th { background: #f7f4f2 ; color: #B19782; border: 1px solid #B9B9B9; text-align: center; padding: 5px; font-size: 16px; }