<!-- <p>trainer-service-list works!</p> -->
<app-loader *ngIf="!loader"></app-loader>
<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard-table">
            <flash-messages></flash-messages>
            <div class="row mb-4">
                <div class="col-md-8">                    
                    <div class="dashbrd-hdr">
                        <h3>Records</h3> 
                    </div>
                </div>
                <!-- <div class="col-md-4"> 
                    <div class="tbl-filter-data">
                        <ul>
                            <li>
                                <div class="filter">
                                    <a href="javascript:void(0)" (click)="filterSearchSec()"><span class="icon-filter"></span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>


            
            <!-- <ng-container class="tbl-filter-data">
                <div class="filter-dash filter_certification">
                    <div class="row m-0">
                        <div class="col-md-4">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Filter Columns</mat-label> 
                                    <mat-select placeholder="Select" [ngModelOptions]="{standalone: true}" (selectionChange)="changeFilter($event)"
                                    [(ngModel)]="searchValue">
                                        <mat-option value="certificate_no">Certificate Number</mat-option>
                                        <mat-option value="certificate_status">Certificate Status</mat-option>
                                        <mat-option value="certificate_type">Certificate Type</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> 
                        </div>

                        <div class="col-md-4 slectType" id="textType">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                <mat-label>Search Text</mat-label> 
                                <input type="text" matInput [(ngModel)]="searchText" placeholder="Search Text">                                
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="slectType col-md-4" id="certificate_status"  [ngStyle]="{'display': 'none'}">  
                            <div class="col-md-12"> 
                                <div class="user-details"> 
                                    <mat-form-field class="cab-data">
                                        <mat-label>Status</mat-label>                              
                                        <mat-select placeholder="Certificate Status" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText">                                            
                                            <mat-option *ngFor="let item of loadCertificateStatus;" [value]="item.field_mgmt">{{item.title}}</mat-option>                                        
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="slectType col-md-4" id="certificate_type"  [ngStyle]="{'display': 'none'}">  
                            <div class="col-md-12"> 
                                <div class="user-details"> 
                                    <mat-form-field class="cab-data">
                                        <mat-label>Type</mat-label>                              
                                        <mat-select placeholder="Acreditation Type" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText">                                            
                                            <mat-option *ngFor="let item of loadCertificateType;" [value]="item.service_page.id">{{item.title}}</mat-option>                                        
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-md-12"> 
                                <div class="filter-search">
                                    <a href="javascript:void(0)" (click)="filterSearchSubmit()" class="search-fil">SEARCH</a>
                                    <ng-container *ngIf="userType == 'operations'">
                                    <a href="javascript:void(0)" (click)="exportFile()" class="space-left">EXPORT</a>
                                    </ng-container>
                                </div>         
                            </div>
                        </div>
                    </div>
                </div>                
            </ng-container>
            <div class="row m-0">
                <div class="col-md-4">
                    <div class="user-details" [ngStyle]="{'width': '100px'}">
                        <mat-form-field class="cab-data">
                            <mat-label>Show</mat-label>                              
                            <mat-select placeholder="Show" (selectionChange)="showData()"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="show_data">
                                <mat-option value="25">25</mat-option>
                                <mat-option value="50">50</mat-option>
                                <mat-option value="75">75</mat-option>
                                <mat-option value="100">100</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div> -->
            
        
        <div class="table-dashboard-cont mt-3">
            <div class="row m-0">
                <div class="col-md-12 p-0">
                    <!-- @{{trainerdata | json}} -->
                    <table id="accreditation-service-export">
                        <tr>
                            <th [ngStyle]="{'font-size':'14px'}">Name
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'new_no', curSortDir.new_no)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.new_no"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.new_no"></span>
                                </a>
                            </th>
                            <th [ngStyle]="{'font-size':'14px'}">Uploaded On
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'certificate_type', curSortDir.certificate_type)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.certificate_type"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.certificate_type"></span>
                                </a>
                            </th>
                            <th width="15%" [ngStyle]="{'font-size':'14px'}">Expiry Date
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'cab_type', curSortDir.cab_type)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.cab_type"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.cab_type"></span>
                                </a>
                            </th>
                            
                            <th>Action</th>
                        </tr>
                    <ng-container *ngIf="trainerdata != undefined && trainerdata.length > 0">
                        <tr *ngFor="let item of trainerdata | paginate: { itemsPerPage: pageLimit, totalItems: pageTotal, currentPage: pageCurrentNumber }; let i2 = index;">
                            <td class="fnt-clr">
                                <a href="javascript:void(0)" (click)="openRecord(recordsdetails, item)" title="View" alt="View">
                               Trade Licenses</a></td>
                            <td> 
                                {{item.date_of_issue | date}}
                            </td>

                            <td> 
                                {{item.date_of_expiry | date}}
                            </td>
                            
                            <td class="action fnt-clr">                                
                                <a href="javascript:void(0)" (click)="openView(certificateView, item.trade_license)" [title]="item.certificate_name">
                                    <span class="icon-eye"></span>
                                </a> 
                                <a [href]="_constant.mediaPath+'/media/'+item.trade_license" [title]="item.certificate_name" target="_blank">
                                    <span class="icon-download"></span>
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="dataLoad && trainerdata.length == 0">
                        <tr>
                            <td colspan="7">
                                No Records
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="!dataLoad">
                        <tr>
                            <td colspan="7" align="center">
                                Loading...
                            </td>
                        </tr>
                    </ng-container>
                    </table>
                    <!-- <span id="openViewDialog" (click)="openView(certificateView)"></span> -->
                    <ng-template #certificateView let-modal>
                        <app-loader *ngIf="loaderPdf"></app-loader>  
                        <div class="modal-header">
                          <h4 class="modal-title" id="modal-basic-title">CERTIFICATE VIEW</h4>
                          <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
                            <span aria-hidden="true">&times;</span>
                          </button>                          
                        </div>
                        <div class="modal-body">                            
                            <app-loader *ngIf="loaderPdf"></app-loader>
                            <p *ngIf="errorLoader">Error Loading PDF</p>
                            <div class="pdf-parent">
                            <pdf-viewer [src]="(pathPDF)" [show-all]="true" [stick-to-page]="true"
                                [zoom]="1.0" [original-size]="false" [autoresize]="true"
                                [show-borders]="true" (error)="onError($event)" (on-progress)="onProgress($event)"
                                (after-load-complete)="completeLoadPDF($event)"
                                [render-text]="true">
                            </pdf-viewer>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                        
                      </ng-template>
                    <!-- pageCurrentNumber = $event || (click)="paginationReset()"-->
                    <ng-container *ngIf="trainerdata != undefined && trainerdata.length > 0" >
                        <pagination-controls  (pageChange)="loadPage($event)"></pagination-controls>
                    </ng-container>
                </div>
            </div>
        </div>
        
        <!-- Modal -->
        <!-- Modal VIEW -->
        <ng-template #recordsdetails let-modal>
            <div class="modal-header course-pop">
              <h4 class="modal-title" id="modal-basic-title">RECORDS DETAILS</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span class="icon-close"></span>
              </button>
            </div>
            <div class="modal-body"> 
                <div class="event-details">
                    <div class="event-data">
                        <span class="event-head">Name</span>
                        <span>: {{tradelicenseName}}</span>
                    </div>
                    <div class="event-data">
                        <span class="event-head">Upload On</span>
                        <span>: {{startDate | date}}</span>
                    </div>
                    <div class="event-data">
                        <span class="event-head">Expiry Date</span>
                        <span>: {{expiryDate | date}}</span>
                    </div>
                </div>                
                
                <button type="submit" (click)="downloadRecord(tradelicenseFile)" class="cancel-bttn">DOWNLOAD RECORD</button>
            </div>
        </ng-template>
    </div>
    </div>
</div>
