<!-- <p>trainer-service-list works!</p> -->
<app-loader *ngIf="!loader"></app-loader>
<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard-table">
            <flash-messages></flash-messages>
            <div class="row mb-4">
                <div class="col-md-8">                    
                    <div class="dashbrd-hdr">
                        <h3>Records of Certifications</h3> 
                    </div>
                </div>
                <!-- <div class="col-md-4"> 
                    <div class="tbl-filter-data">
                        <ul>
                            <li>
                                <div class="filter">
                                    <a href="javascript:void(0)" class="border-right"><span class="icon-switch"></span></a>
                                    <a href="javascript:void(0)" (click)="filterSearchSec()"><span class="icon-filter"></span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
            <ng-container *ngIf="advSearch" class="tbl-filter-data">
                <div class="filter-dash">
                    <div class="close-bttn">
                        <span class="icon-close" (click)="filterSearchSec()"></span>
                    </div>
                <div class="row m-0">
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Search by Course ID</mat-label> 
                            <input type="text" matInput [(ngModel)]="selectCode" placeholder="Search by CODE">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Search by Fees</mat-label> 
                            <input matInput type="number" [(ngModel)]="selectFees" placeholder="Search by Fees">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Select Course Type</mat-label>                             
                                <mat-select placeholder="Select" 
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="selectCustomCourse" required>
                                    <mat-option *ngFor="let item of selectCustomCourses;" [value]="item.value">{{item.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row m-0" >
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Select Agreement Status</mat-label>                             
                                <mat-select placeholder="Select Status" 
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="selectAgreementStatus" required>
                                    <mat-option *ngFor="let item of agreementStatus;" [value]="item.value">{{item.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Select Payment Status</mat-label>                             
                                <mat-select placeholder="Select Status" 
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="selectPaymentStatus" required>
                                    <mat-option *ngFor="let item of paymentStatus;" [value]="item.value">{{item.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-md-12"> 
                        <div class="filter-search">
                            <a href="javascript:void(0)" (click)="filterSearchSubmit()" class="search-fil">SEARCH</a>
                            <a href="javascript:void(0)" (click)="filterSearchReset()">RESET</a>
                        </div>         
                    </div>
                    <!-- <div class="col-md-4"> 
                        
                        <div class="add-data">
                            <a href="javascript:void(0)" (click)="filterSearchSubmit()">SEARCH</a>
                        </div>   
                        <div class="add-data">
                            <a href="javascript:void(0)" (click)="filterSearchReset()">RESET</a>
                        </div>                    
                    </div> -->
                </div>
                </div>
                
            </ng-container>
            
        
            <div class="table-dashboard-cont">
                <div class="row m-0">
                    <div class="col-md-12 p-0">
                        <!-- @{{certificationRecords | json}} -->
                        <table>
                            <tr>
                                <th width="15%">Certificate No
                                    <a href="javascript:void(0)" (click)="sortedList(certificationRecords, 'id', curSortDir.id)">
                                        <span class="icon-arrow-down" *ngIf="!curSortDir.id"></span>
                                        <span class="icon-arrow-up"  *ngIf="curSortDir.id"></span>
                                    </a>
                                </th>
                                <th width="15%">Certificate Type
                                    <a href="javascript:void(0)" (click)="sortedList(certificationRecords, 'created_date', curSortDir.created_date)">
                                        <span class="icon-arrow-down" *ngIf="!curSortDir.created_date"></span>
                                        <span class="icon-arrow-up"  *ngIf="curSortDir.created_date"></span>
                                    </a>
                                </th>
                                <th width="15%">Cab Type
                                    <a href="javascript:void(0)" (click)="sortedList(certificationRecords, 'accr_status', curSortDir.accr_status)">
                                        <span class="icon-arrow-down" *ngIf="!curSortDir.accr_status"></span>
                                        <span class="icon-arrow-up"  *ngIf="curSortDir.accr_status"></span>
                                    </a>
                                </th>
                                <th width="15%">Cab Status
                                    <a href="javascript:void(0)" (click)="sortedList(certificationRecords, 'applicantName', curSortDir.applicantName)">
                                        <span class="icon-arrow-down" *ngIf="!curSortDir.applicantName"></span>
                                        <span class="icon-arrow-up"  *ngIf="curSortDir.applicantName"></span>
                                    </a>
                                </th>
                                <th width="15%">Certification Valid Form
                                    <a href="javascript:void(0)" (click)="sortedList(certificationRecords, 'applicantName', curSortDir.applicantName)">
                                        <span class="icon-arrow-down" *ngIf="!curSortDir.applicantName"></span>
                                        <span class="icon-arrow-up"  *ngIf="curSortDir.applicantName"></span>
                                    </a>
                                </th>
                                <th width="15%">Certification Valid To
                                    <a href="javascript:void(0)" (click)="sortedList(certificationRecords, 'applicantName', curSortDir.applicantName)">
                                        <span class="icon-arrow-down" *ngIf="!curSortDir.applicantName"></span>
                                        <span class="icon-arrow-up"  *ngIf="curSortDir.applicantName"></span>
                                    </a>
                                </th>
                                <th>Action</th>
                            </tr>
                            <!-- certificationRecords.records != undefined && -->  
                        <ng-container *ngIf="certificationRecords != undefined && certificationRecords.length > 0">
                            <tr *ngFor="let item of certificationRecords | paginate: { itemsPerPage: pageLimit, totalItems: pageTotal, currentPage: pageCurrentNumber }; let i2 = index;">
                                <td>
                                    {{item.certificate_no}}
                                </td>

                                <td>
                                    {{item.certificate_type}}
                                </td>

                                <td>
                                    {{item.cab_type}}
                                </td>

                                <td>
                                    {{item.cab_status}}
                                </td>

                                <td>
                                    {{item.certification_valid_form}}
                                </td>

                                <td>
                                    {{item.certification_valid_to}}
                                </td>

                                <td>
                                    <div class="icn-appln">
                                        <a href="javascript:void(0)" (click)="uiDialog.openPDFViewer(constant.mediaPath,cabStep1.trade_license)">
                                            <span class="icon-eye"></span>
                                        </a>
                                        <a target="_blank" [href]="tradeLicenseFile"> 
                                            <span class="icon-download"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="dataLoad && certificationRecords.length == 0">
                            <tr>
                                <td colspan="5">
                                    No Records
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="!dataLoad">
                            <tr>
                                <td colspan="7" align="center">
                                    Loading...
                                </td>
                            </tr>
                        </ng-container>
                        </table>
                        <ng-container *ngIf="certificationRecords != undefined && certificationRecords.length > 0" >
                            <pagination-controls (pageChange)="pageCurrentNumber = $event"></pagination-controls>
                        </ng-container>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>