<!-- <p>trainer-service-list works!</p> -->
<app-loader *ngIf="!loader"></app-loader>
<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard-table">
            <flash-messages></flash-messages>
            <div class="row mb-4">
                <div class="col-md-8">                    
                    <div class="dashbrd-hdr">
                        <h3>Records</h3> 
                    </div>
                </div>
                <!-- <div class="col-md-4"> 
                    <div class="tbl-filter-data">
                        <ul>
                            <li>
                                <div class="filter">
                                    <a href="javascript:void(0)" (click)="filterSearchSec()"><span class="icon-filter"></span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>


            
            <ng-container class="tbl-filter-data">
                <div class="filter-dash filter_certification">
                    <!-- <div class="close-bttn">
                        <span class="icon-close" (click)="filterSearchSec()"></span>
                    </div> -->
                    <div class="row m-0">
                        <div class="col-md-4">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Searchable Column</mat-label> 
                                    <mat-select placeholder="Select" (selectionChange)="searchableColumn()" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchValue">
                                        <mat-option value="trade_license_number">Record Number</mat-option>
                                        <mat-option value="uploaded_on">Uploaded On</mat-option>
                                        <mat-option value="expiry_date">Expiry Date</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> 
                        </div>

                        <div class="col-md-4 field_show" id="applicant">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                <mat-label>{{newTextchange}}</mat-label> 
                                <input type="text" matInput [(ngModel)]="searchText" placeholder="Search Text">
                                </mat-form-field>
                            </div>
                        </div>
                        

                        <div class="col-md-4 field_show" id="event_date" [ngStyle]="{'display': 'none'}">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>{{newTextchange}}</mat-label> 
                                    <input matInput [matDatepicker]="event_date" name="event_date" [(ngModel)]="searchText" readonly="true" (click)="_service._openCalendar(event_date)" placeholder="Date Of Issue">
                                    <mat-datepicker-toggle matSuffix [for]="event_date"></mat-datepicker-toggle>
                                    <mat-datepicker #event_date disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row m-0">
                            <div class="col-md-12"> 
                                <div class="filter-search">
                                    <a href="javascript:void(0)" (click)="filterSearchSubmit()" class="search-fil">SEARCH</a>
                                    <a href="javascript:void(0)" (click)="filterSearchReset('load')">RESET</a>
                                    <a href="javascript:void(0)" (click)="exportFile()" class="space-left">EXPORT</a>
                                </div>         
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </ng-container>

            <div class="row m-0">
                <div class="col-md-2">
                    <div class="user-details" [ngStyle]="{'width': '100px'}">
                        <mat-form-field class="cab-data">
                            <mat-label>Show</mat-label>                              
                            <mat-select placeholder="Show" (selectionChange)="showData()"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="show_data">
                                <mat-option value="25">25</mat-option>
                                <mat-option value="50">50</mat-option>
                                <mat-option value="75">75</mat-option>
                                <mat-option value="100">100</mat-option>
                                <mat-option value="{{pageTotal}}">All</mat-option>
                                <!-- <mat-option value="pdf">Export as PDF</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            
        
        <div class="table-dashboard-cont mt-3">
            <div class="row m-0">
                <div class="col-md-12 p-0">
                    <!-- @{{trainerdata | json}} -->
                    <table id="records-export">
                        <tr>
                            <th [ngStyle]="{'font-size':'14px'}">Record Number
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'new_no', curSortDir.new_no)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.new_no"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.new_no"></span>
                                </a>
                            </th>
                            
                            <th [ngStyle]="{'font-size':'14px'}">Record Type</th>

                            <th [ngStyle]="{'font-size':'14px'}">Uploaded On
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'uploaded_on', curSortDir.uploaded_on)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.uploaded_on"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.uploaded_on"></span>
                                </a>
                            </th>
                            <th width="15%" [ngStyle]="{'font-size':'14px'}">Expiry Date
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'expiry_date', curSortDir.expiry_date)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.expiry_date"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.expiry_date"></span>
                                </a>
                            </th>
                            
                            <th>Action</th>
                        </tr>
                        <!-- <a href="javascript:void(0)" (click)="openRecord(recordsdetails, item)" title="View" alt="View">
                            Trade Licenses</a> -->
                    <ng-container *ngIf="trainerdata && trainerdata?.length > 0">
                        <tr *ngFor="let item of trainerdata | paginate: { itemsPerPage: pageLimit, totalItems: pageTotal, currentPage: pageCurrentNumber }; let i2 = index;">
                            <td class="fnt-clr">
                                <a href="javascript:void(0)" (click)="openRecord(recordsdetails, item)" title="View" alt="View">
                               {{item.trade_license_number}}</a>
                            </td>
                            <td>Trade Licenses</td>
                            <td> 
                                {{item.date_of_issue | date}}
                            </td>

                            <td> 
                                {{item.date_of_expiry | date}}
                            </td>
                            
                            <td class="action fnt-clr">                                
                                <a href="javascript:void(0)" (click)="openView(certificateView, item.trade_license)" [title]="item.certificate_name">
                                    <span class="icon-eye"></span>
                                </a> 
                                <a [href]="_constant.mediaPath+item.trade_license" [title]="item.certificate_name" target="_blank">
                                    <span class="icon-download"></span>
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="dataLoad && trainerdata.length == 0">
                        <tr>
                            <td colspan="7">
                                No Records
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="!dataLoad">
                        <tr>
                            <td colspan="7" align="center">
                                Loading...
                            </td>
                        </tr>
                    </ng-container>
                    </table>
                    <!-- <span id="openViewDialog" (click)="openView(certificateView)"></span> -->
                    <ng-template #certificateView let-modal>
                        <app-loader *ngIf="loaderPdf"></app-loader>  
                        <div class="modal-header">
                          <h4 class="modal-title" id="modal-basic-title">CERTIFICATE VIEW</h4>
                          <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
                            <span aria-hidden="true">&times;</span>
                          </button>                          
                        </div>
                        <div class="modal-body">                            
                            <app-loader *ngIf="loaderPdf"></app-loader>
                            <p *ngIf="errorLoader">Error Loading PDF</p>
                            <div class="pdf-parent">
                            <pdf-viewer [src]="(pathPDF)" [show-all]="true" [stick-to-page]="true"
                                [zoom]="1.0" [original-size]="false" [autoresize]="true"
                                [show-borders]="true" (error)="onError($event)" (on-progress)="onProgress($event)"
                                (after-load-complete)="completeLoadPDF($event)"
                                [render-text]="true">
                            </pdf-viewer>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                        
                      </ng-template>
                    <!-- pageCurrentNumber = $event || (click)="paginationReset()"-->
                    <ng-container *ngIf="trainerdata != undefined && trainerdata.length > 0" >
                        <pagination-controls  (pageChange)="loadPage($event)"></pagination-controls>
                    </ng-container>
                </div>
            </div>
        </div>
        
        <!-- Modal -->
        <!-- Modal VIEW -->
        <ng-template #recordsdetails let-modal>
            <div class="modal-header course-pop">
              <h4 class="modal-title" id="modal-basic-title">RECORDS DETAILS</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span class="icon-close"></span>
              </button>
            </div>
            <div class="modal-body"> 
                <div class="event_wrapper">
                    <div class="event-details">
                        <div class="event-data">
                            <span class="event-head">Record Number</span>
                            <span>: {{tradelicenseName}}</span>
                        </div>

                        <div class="event-data">
                            <span class="event-head">CAB Name</span>
                            <span>: {{cabName}}</span>
                        </div>

                        <div class="event-data">
                            <span class="event-head">Upload On</span>
                            <span>: {{startDate | date}}</span>
                        </div>
                        <div class="event-data">
                            <span class="event-head">Expiry Date</span>
                            <span>: {{expiryDate | date}}</span>
                        </div>
                    </div>
                    <div class="button_popup">
                        <button type="submit" (click)="downloadRecord(tradelicenseFile)" class="submit-bttn submit-health">DOWNLOAD RECORD</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    </div>
</div>
