<app-loader *ngIf="!loader"></app-loader>
<section>
    <div class="form-wrapper-pro">
        <div class="container-fluid">
            <div class="main-dashboard-cnt">
                <div class="form-hdr profile-hdr">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-main complete-usr">
                                <h1 [ngStyle]="{'font-size': '30px','color':'black', 'letter-spacing':0, 'font-weight': 'bold'}">UPDATE PROFILE</h1>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="progress-br">
                                <mat-progress-bar mode="determinate" value="{{progressValue}}"></mat-progress-bar>
                                <span>{{progressValue}}%</span>
                            </div>
                        </div> -->
                        
                    </div>
                </div>

                <ng-container>
                    <div class="row user_main">
                        <div class="col-md-12">
                            <div class="user-steps user-small">
                                <ng-container *ngFor="let item of headerSteps; let k=index;">
                                    <div class="user-next" [ngClass]="(item.activeClass != '') ? item.activeClass : ''">
                                        <div class="usernext-icon">
                                            <span [ngClass]="(item.activeClass === 'user-done') ? 'icon-tick' : item.icon"></span>
                                        </div>

                                        <div class="user-details-pending" 
                                        id="course_header" (click)="Service.headerStepMove(item.title, headerSteps,'menu')" [ngStyle]="{'cursor':'pointer'}">
                                            <span [innerHTML]="item.desc"></span>
                                        </div>
                                    </div>
                                    <div class="next-step" *ngIf="k < headerSteps.length-1">
                                        <span class="icon-arrow-right"></span>
                                    </div>
                              </ng-container>                              
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <!-- <mat-horizontal-stepper #stepper [selectedIndex]="0">
                <mat-step>
                    <ng-template matStepLabel>
                        <span>
                            Personal Details
                        </span>
                    </ng-template> -->
                <div class="cust-stepper" id="personal_details">
                    <form #ngForm1="ngForm" (ngSubmit)="onSubmitStep1(ngForm1)" autocomplete="off">
                        <div class="row m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr">
                                                <h5>PERSONAL DETAILS</h5>
                                            </div>
                                        </div>
                                    </div>
                                    
                                        <div class="row">
                                            <div class="col-md-4">
                                                <mat-form-field class="cab-data">
                                                    <mat-label>Title</mat-label>
                                                    <mat-select placeholder="Select" name="title" [(ngModel)]="step1Data.title" required>
                                                        <mat-option *ngFor="let titleRow of titleArr; let i =index;" value="{{titleRow}}">{{titleRow}}</mat-option>
                                                    </mat-select>
                                                    <mat-error></mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field class="cab-data">
                                                    <mat-label>First Name</mat-label>
                                                    <input matInput [(ngModel)]="step1Data.first_name" (keypress)="Service.inputFilter($event, Service.regExName)" name="first_name" placeholder="" required>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field class="cab-data">
                                                    <mat-label>Last Name</mat-label>
                                                    <input matInput [(ngModel)]="step1Data.last_name" name="last_name" placeholder="" required>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <mat-form-field class="cab-data">
                                                    <mat-label>Date of Birth</mat-label>
                                                    <input matInput (click)="Service._openCalendar(date_of_birth)" [(ngModel)]="step1Data.date_of_birth" [matDatepicker]="date_of_birth" name="date_of_birth" [max]="today" placeholder="" required>
                                                    <mat-datepicker-toggle matSuffix [for]="date_of_birth"></mat-datepicker-toggle>
                                                    <mat-datepicker #date_of_birth  disabled="false" ></mat-datepicker>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field class="cab-data">
                                                    <mat-label>Company E-mail</mat-label>
                                                    <input matInput [(ngModel)]="step1Data.company_email" name="company_email" placeholder="" required>
                                                </mat-form-field>

                                                <p class="error" *ngIf="step1Data.company_email && !Service.checkInput('email',step1Data.company_email)">Please Enter Correct Email Id</p>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field class="cab-data">
                                                    <mat-label>Personal E-mail</mat-label>
                                                    <input matInput [readonly]="personalEmailReadonly" [(ngModel)]="step1Data.personal_email" name="personal_email" placeholder="" required>
                                                </mat-form-field>

                                                <p class="error" *ngIf="step1Data.personal_email && !Service.checkInput('email',step1Data.personal_email)">Please Enter Correct Email Id</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <mat-form-field class="cab-data">
                                                    <mat-label>Designation</mat-label>
                                                    <input matInput (keypress)="Service.inputFilter($event, Service.regExName)" [(ngModel)]="step1Data.designation" name="designation" placeholder="" required>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field class="cab-data">
                                                    <mat-label>Nationality</mat-label>
                                                    <input matInput (keypress)="Service.inputFilter($event, Service.regExName)" [(ngModel)]="step1Data.nationality" name="nationality" placeholder="" required>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4"> 
                                                <mat-form-field class="cab-data">
                                                    <mat-label>P.O Box Mailing Address</mat-label>
                                                    <input matInput [(ngModel)]="step1Data.mailing_address" name="mailing_address" placeholder="" required>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <mat-form-field class="cab-data">
                                                    <mat-label>Office/Institution</mat-label>
                                                    <input matInput [(ngModel)]="step1Data.office_institution" name="office_institution" placeholder="Office/Institution" required>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field class="cab-data">
                                                    <mat-label>Phone (with Area Code)</mat-label>
                                                    <input matInput [(ngModel)]="step1Data.phone_with_area" name="phone_with_area" placeholder="" (keypress)="Service.IsNumeric($event)" required>
                                                </mat-form-field>
                                                <p class="error" *ngIf="step1Data.phone_with_area && !Service.checkInput('onlyNumberWithPlus',step1Data.phone_with_area)">Please Enter Only Number</p> 
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field class="cab-data">
                                                    <mat-label>Fax (with Area Code)</mat-label>
                                                    <input matInput [(ngModel)]="step1Data.fax_with_area" name="fax_with_area" placeholder="" (keypress)="Service.IsNumeric($event)">
                                                </mat-form-field>
                                                <p class="error" *ngIf="step1Data.fax_with_area && !Service.checkInput('onlyNumberWithPlus',step1Data.fax_with_area)">Please Enter Only Number</p>
                                            </div>
                                        </div> 

                                        <div class="row">
                                            <div class="col-md-8">
                                                <mat-form-field class="cab-data">
                                                    <mat-label>Office Address</mat-label>
                                                    <input matInput [(ngModel)]="step1Data.office_address" name="office_address" placeholder="" required>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-4">
                                                <mat-form-field class="cab-data">
                                                    <mat-label>Office Phone(with Area Code)</mat-label>
                                                    <input matInput [(ngModel)]="step1Data.officephone_with_area" name="officephone_with_area" placeholder="" (keypress)="Service.IsNumeric($event)" required>
                                                </mat-form-field>
                                                <p class="error" *ngIf="step1Data.officephone_with_area && !Service.checkInput('onlyNumberWithPlus',step1Data.officephone_with_area)">Please Enter Only Number</p>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <!-- <button class="cancel-bttn">CANCEL</button> -->
                                    <div class="button-content">
                                        <a routerLink="/dashboard/cab-client/home" *ngIf="profileComplete == '1'"  class="cancel-bttn">CANCEL</a>
                                        <a href="javascript:void(0)" *ngIf="profileComplete == '0'" class="cancel-bttn" (click)="Service.logOut()">CANCEL</a>
                                        <button class="cancel-bttn" type="button" (click)="savedraftStep('step1')">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health">CONTINUE</button>
                                </div>
                            </div>
                        </div>
                        <span id="openAppDialog" (click)="openView(appComp)"></span>
                                <ng-template #appComp let-modal>
                                    <div class="main_pop">
                                        <div class="pop_close" (click)="closeChecklistDialog()"> 
                                            <span class="icon-close"></span>
                                        </div>
                                        <div class="pop_thanks">
                                            <h5>Thank you</h5>
                                            <p>Your Complete Profile has been submitted successfully and is under review. We will get back you soon.</p>
                                        </div>
                                    </div>
                                </ng-template>
                    </form>
                </div>
                <!-- </mat-step>  -->

                <!-- <mat-step>
                    <ng-template matStepLabel>
                        <span (click)="stepClick($event)">
                            Application Information
                        </span>
                    </ng-template> -->
                <div class="cust-stepper" id="application_information" [ngStyle]="{'display': 'none'}">
                    <form #ngForm2="ngForm" (ngSubmit)="onSubmitStep2(ngForm2)" autocomplete="off">
                    <div class="row m-0 form-bdy">
                        <div class="wrapper">
                            <div class="col-12">

                                <div class="row">
                                    <div class="col-md-12 p-0">
                                        <div class="form-subhdr">
                                            <h5>APPLICANT INFORMATION</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-form-field class="cab-data">
                                            <mat-label>CAB Name Official and Commercial Name</mat-label>
                                            <input matInput [(ngModel)]="step2Data.applicant_commercial_name" (keypress)="Service.inputFilter($event, Service.regExName)" name="applicant_commercial_name" placeholder="" required>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>PO Box No./ZIP Code</mat-label>
                                            <input (keypress)="Service.IsNumeric($event)" matInput autocomplete="off" placeholder="PO BOX NO./Zip Code" name="zip" [(ngModel)]="step2Data.zip" required>
                                            <mat-error></mat-error> 
                                        </mat-form-field>
                                        <p class="error" *ngIf="step2Data.zip && !Service.checkInput('onlyNumberWithPlus',step2Data.zip)">Please Enter Correct Zip Code</p> 
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Registered Physical Location Address</mat-label>
                                            <input matInput (keyup)="getPlaceName($event)" [matAutocomplete] = "auto" placeholder="Location Latitude/Longitude" name="location_latitude" [(ngModel)]="step2Data.applicant_location" required>
                                            <mat-autocomplete #auto = "matAutocomplete" >
                                                <mat-option *ngFor = "let searchCountryList of searchCountryLists" [value] = "searchCountryList.place_name">
                                                {{searchCountryList.place_name}}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-error></mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6"> 
                                        <mat-form-field class="cab-data">
                                            <mat-label>Mailing Address</mat-label>
                                            <input matInput [(ngModel)]="step2Data.applicant_mailing_address" name="applicant_mailing_address" placeholder="" required>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Country</mat-label>
                                            <mat-select placeholder="Select" name="country" [(ngModel)]="step2Data.country" required>
                                                <mat-option [value]="item.name" (click)="statelistById(item.id)" *ngFor="let item of getCountryLists; let i = index;">{{item.name}}</mat-option>
                                            </mat-select> 
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>State</mat-label>
                                            <mat-select placeholder="Select" name="state" [(ngModel)]="step2Data.state" required>
                                                <mat-option [value]="item.name" (click)="citylistById(item.id)" *ngFor="let item of allStateList; let i = index;">{{item.name}}</mat-option>
                                            </mat-select>    
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>City</mat-label>
                                            <mat-select placeholder="Select" required name="city" [(ngModel)]="step2Data.city">
                                                <mat-option [value]="item.name" *ngFor="let item of allCityList; let i = index;">{{item.name}}</mat-option>
                                            </mat-select>      
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Tel. No.</mat-label>
                                            <input matInput [(ngModel)]="step2Data.applicant_phone_with_area" name="applicant_phone_with_area" placeholder="" (keypress)="Service.IsNumeric($event)" required>
                                        </mat-form-field>
                                        <p class="error" *ngIf="step2Data.applicant_phone_with_area && !Service.checkInput('onlyNumberWithPlus',step2Data.applicant_phone_with_area)">Please Enter Only Number</p> 
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Fax No.</mat-label>
                                            <input matInput [(ngModel)]="step2Data.applicant_fax_with_area" name="applicant_fax_with_area" placeholder="" (keypress)="Service.IsNumeric($event)">
                                        </mat-form-field>
                                        <p class="error" *ngIf="step2Data.applicant_fax_with_area && !Service.checkInput('onlyNumberWithPlus',step2Data.applicant_fax_with_area)">Please Enter Only Number</p>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Official Email Address</mat-label>
                                            <input matInput [(ngModel)]="step2Data.applicant_official_email" name="applicant_official_email" placeholder="" required>
                                        </mat-form-field>

                                        <p class="error" *ngIf="step2Data.applicant_official_email && !Service.checkInput('email',step2Data.applicant_official_email)">Please Enter Correct Email Id</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Official Website</mat-label>
                                            <input matInput [(ngModel)]="step2Data.applicant_official_website" name="applicant_official_website" placeholder="" required>
                                        </mat-form-field> 
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Date Of Establishment</mat-label>
                                            <input matInput [matDatepicker]="date_establishment" name="date_establishment" [(ngModel)]="step2Data.date_establishment" readonly="true" (click)="Service._openCalendar(date_establishment)" placeholder="Date Of Issue" required>
                                            <mat-datepicker-toggle matSuffix [for]="date_establishment"></mat-datepicker-toggle>
                                            <mat-datepicker #date_establishment disabled="false"></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Legal/ Professional/ Commercial/ Trade license number</mat-label>
                                            <input [ngStyle]="{'font-size':'17px'}" matInput placeholder="Legal/ Professional/ Commercial/ Trade license number" name="trade_license_number" [(ngModel)]="step2Data.trade_license_number" required>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- <mat-form-field  class="cab-data">
                                            <mat-label>Trade License Number</mat-label>
                                            <input matInput name="trade_license_number" [(ngModel)]="step2Data.trade_license_number" placeholder="Trade License Number" required>
                                        </mat-form-field> -->
                                        <div class="matupload position-relative">
                                            <mat-form-field  class="cab-data">
                                                <input matInput readonly="true" name="trade_license_name" [(ngModel)]="step2Data.trade_license_name"  placeholder="Upload Legal / Profession / Commercial / Trade License" required>
                                            </mat-form-field>

                                            <span class="fileupload">
                                                <input type="file" #file3 name="trade_license" [(ngModel)]="fileAny" (change)="validateFile($event)">
                                                <span class="icon-attach attach-data" (click)="file3.click()"></span>
                                            </span>
                                            <p class="error" *ngIf="!file_validation">Please Upload a valid file (ex: pdf)</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Date Of Issue</mat-label>
                                            <input matInput [matDatepicker]="date_issue" name="date_issue" [(ngModel)]="step2Data.date_issue" (dateChange)="setexDate(step2Data.date_issue)" readonly="true" (click)="Service._openCalendar(date_issue)" placeholder="Date Of Issue" required>
                                            <mat-datepicker-toggle matSuffix [for]="date_issue"></mat-datepicker-toggle>
                                            <mat-datepicker #date_issue disabled="false"></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Date Of Expired</mat-label>
                                            <input matInput [(ngModel)]="step2Data.date_expire" readonly="true" name="date_expire" [min]="minDate" [matDatepicker]="date_expire" (click)="Service._openCalendar(date_expire)" placeholder="Date Of Expired" required>
                                            <mat-datepicker-toggle matSuffix [for]="date_expire"></mat-datepicker-toggle>
                                            <mat-datepicker #date_expire disabled="false"></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 p-0">
                                        <div class="form-subhdr">
                                            <h5>APPLICATION INFORMATION</h5>
                                        </div>
                                        <hr>
                                    </div>
                                </div>

                                <!-- <div class="row">
                                    <div class="col-md-4 col-sm-12">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Contact Person Name</mat-label>
                                            <input matInput (keypress)="Service.inputFilter($event, Service.regExName)" placeholder="Contact Person Name" name="contact_person_name" [(ngModel)]="step2Data.contact_person_name" required>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Contact Person Designation</mat-label>
                                            <input matInput placeholder="Contact Person Designation" name="contact_person_designation" [(ngModel)]="step2Data.contact_person_designation" required>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Contact Person Email</mat-label>
                                            <input matInput placeholder="Contact Person Email" name="contact_person_email" [(ngModel)]="step2Data.contact_person_email" required>
                                        </mat-form-field>
                                        <p class="error" *ngIf="step2Data.contact_person_email && !Service.checkInput('email',step2Data.contact_person_email)">Please Enter Correct Email Id</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-sm-12">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Contact Person Phone</mat-label>
                                            <input type="text"  maxlength="15" minlength="10" (keypress)="Service.IsNumeric($event)" matInput placeholder="Mobile Phone No." name="contact_person_phone" [(ngModel)]="step2Data.contact_person_phone"  required>
                                        </mat-form-field>
                                        <p class="error" *ngIf="step2Data.contact_person_phone && !Service.checkInput('onlyNumberWithPlus',step2Data.contact_person_phone)">Please Enter Correct Mobile Phone No</p> 
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Contact Person Mobile</mat-label>
                                            <input matInput type="text"  maxlength="15" minlength="10" (keypress)="Service.IsNumeric($event)" placeholder="Contact Person Mobile" name="contact_person_mobile" [(ngModel)]="step2Data.contact_person_mobile"  required>
                                        </mat-form-field>
                                        <p class="error" *ngIf="step2Data.contact_person_mobile && !Service.checkInput('onlyNumberWithPlus',step2Data.contact_person_mobile)">Please Enter Correct Mobile Phone No</p> 
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Authorised Contact</mat-label>
                                            <mat-select placeholder="Select" name="authorised_contact" [(ngModel)]="step2Data.authorised_contact" required>
                                                <mat-option [value]="1">Yes</mat-option>
                                                <mat-option [value]="0">No</mat-option>
                                            </mat-select>
                                            <mat-error></mat-error>
                                        </mat-form-field>
                                    </div>
                                </div> -->

                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="form-subheader-data">
                                            <h5>OWNERSHIP OF THE ORGANIZATION</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngFor="let item of nameOftheOwner; let i = index;">
                                    <div class="col-12">
                                        <div class="ownr-details">
                                            <div class="row" *ngIf="i >= 1">
                                                <div class="col-12">
                                                    <div class="remove-clss">
                                                        <span class="icon-cross" (click)="removeRow(nameOftheOwner, i)"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <mat-form-field class="cab-data">
                                                        <mat-label>Name</mat-label>
                                                        <input  (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" placeholder="Name"  maxlength="60"  name="name_{{i}}" [(ngModel)]="nameOftheOwner[i].name" required>
                                                        <mat-error></mat-error>    
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <mat-form-field class="cab-data">
                                                        <mat-label>Designation</mat-label>
                                                        <input  (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" required placeholder="Designation" name="designation_{{i}}" [(ngModel)]="nameOftheOwner[i].designation" required>
                                                        <mat-error></mat-error> 
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-sm-12">
                                                    <mat-form-field class="cab-data">
                                                        <mat-label>Mobile Phone No.</mat-label>
                                                        <input type="text" (keypress)="Service.IsNumeric($event)" matInput autocomplete="off"  placeholder="Mobile No." name="mobile_no_{{i}}" [(ngModel)]="nameOftheOwner[i].mobile_no" required>
                                                        <mat-error></mat-error>
                                                    </mat-form-field>
                                                    <p class="error" *ngIf="nameOftheOwner[i].mobile_no && !Service.checkInput('onlyNumberWithPlus',nameOftheOwner[i].mobile_no)">Please Enter Correct Mobile Phone No</p> 
                                                </div>
                                                <div class="col-md-4 col-sm-12">
                                                    <mat-form-field class="cab-data">
                                                        <mat-label>Land Line Phone No.</mat-label>
                                                        <input  matInput autocomplete="off"  placeholder="Landline No."  name="land_line_no_{{i}}" [(ngModel)]="nameOftheOwner[i].phone_no" (keypress)="Service.IsNumeric($event)" required >
                                                    </mat-form-field>
                                                    <p class="error" *ngIf="nameOftheOwner[i].phone_no && !Service.checkInput('onlyNumberWithPlus',nameOftheOwner[i].phone_no)">Please Enter Correct Land Line Phone No.</p> 
                                                </div>
                                                <div class="col-md-4 col-sm-12">
                                                    <mat-form-field class="cab-data">
                                                        <mat-label>Email Address</mat-label>
                                                        <input type="email" matInput autocomplete="off"  placeholder="Email Address"  name="email_{{i}}" [(ngModel)]="nameOftheOwner[i].email" required >
                                                        <mat-error></mat-error>
                                                    </mat-form-field>
                                                    <p class="error" *ngIf="nameOftheOwner[i].email && !Service.checkInput('email',nameOftheOwner[i].email)">Please Enter Correct Email Id</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12"> 
                                        <div class="add-new">
                                            <a href="javascript:void(0)" (click)="addRow(nameOftheOwner)">
                                                <span class="icon-add"></span>
                                                <span>ADD NEW</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row tog-content">
                                    <div class="col-md-6 col-sm-12 p-0">
                                        <div class="form-subheader-data">
                                            <h5>DOES THE COMPANY HAVE BOARD MEMBERS ?</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 p-0">
                                        <div class="form-subheader-desc">
                                            <mat-radio-group name="is_bod" [(ngModel)]="step2Data.is_bod">
                                                <mat-radio-button value="1" (click)='bod_toggle(1)'>Yes</mat-radio-button>
                                                <mat-radio-button value="0" (click)='bod_toggle(0)'>No</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                </div>

                                <div id="is_bod_complete" class="row"*ngFor="let item of companyBodMembers; let i = index;">
                                    <div class="col-12" *ngIf="step2Data.is_bod == '1'">
                                        <div class="ownr-details">
                                            <div class="row" *ngIf="i >= 1">
                                                <div class="col-12">
                                                    <div class="remove-clss">
                                                        <span class="icon-cross" (click)="removeRow(companyBodMembers, i)"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4 col-sm-12">
                                                    <mat-form-field class="cab-data">
                                                        <mat-label>Name the members of Board of Directors (BOD) (if any)</mat-label>
                                                        <input matInput  (keypress)="Service.inputFilter($event, Service.regExName)" placeholder="Name the members of Board of Directors (BOD)"  name="bod_directors_name_{{i}}" [(ngModel)]="companyBodMembers[i].name"  required>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-8 col-sm-12">
                                                    <mat-form-field class="cab-data">
                                                        <mat-label>List the companies name of BOD members</mat-label>
                                                        <input matInput placeholder="List the companies name of BOD members"  (keypress)="Service.inputFilter($event, Service.regExName)" name="company_name_bod_{{i}}" [(ngModel)]="companyBodMembers[i].bod_company"  required>
                                                    </mat-form-field>
                                                </div>

                                                <!-- <div class="col-md-4 col-sm-12">
                                                    <mat-form-field class="cab-data">
                                                        <mat-label>Managing Director/Chief Executive</mat-label>
                                                        <input matInput placeholder="Managing Director/Chief Executive"  (keypress)="Service.inputFilter($event, Service.regExName)" name="managing_director_ceo_{{i}}" [(ngModel)]="companyBodMembers[i].director"  required>
                                                    </mat-form-field>
                                                </div> -->
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4 col-sm-12">
                                                    <mat-form-field class="cab-data">
                                                        <mat-label>Authorized Contact Person Name</mat-label>
                                                        <input matInput placeholder="Authorized Contact Person Name"   name="authorized_contact_person_{{i}}" [(ngModel)]="companyBodMembers[i].authorized_contact_person"  (keypress)="Service.inputFilter($event, Service.regExName)" required>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-4 col-sm-12">
                                                    <mat-form-field class="cab-data">
                                                        <mat-label>Designation</mat-label>
                                                        <input  (keypress)="Service.inputFilter($event, Service.regExName)" matInput placeholder="Designation" name="bod_designation_{{i}}" [(ngModel)]="companyBodMembers[i].designation" required>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-4 col-sm-12">
                                                    <mat-form-field class="cab-data">
                                                        <mat-label>Mobile Phone No.</mat-label>
                                                        <input  type="text" (keypress)="Service.IsNumeric($event)" matInput placeholder="Mobile Phone No." name="bod_mobile_no_{{i}}" [(ngModel)]="companyBodMembers[i].mobile_no" required>
                                                    </mat-form-field>
                                                    <p class="error" *ngIf="companyBodMembers[i].mobile_no && !Service.checkInput('onlyNumberWithPlus',companyBodMembers[i].mobile_no)">Please Enter Correct Telephone Number</p> 
                                                </div>
                                            </div>

                                            <!-- <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <mat-form-field class="cab-data">
                                                        <mat-label>Land Line Phone No.</mat-label>
                                                        <input  type="text" maxlength="15" minlength="10" (keypress)="Service.IsNumeric($event)" matInput placeholder="Mobile Phone No." name="bod_land_line_no_{{i}}" [(ngModel)]="companyBodMembers[i].phone_no" required>
                                                    </mat-form-field>
                                                    <p class="error" *ngIf="companyBodMembers[i].phone_no && !Service.checkInput('onlyNumberWithPlus',companyBodMembers[i].phone_no)">Please Enter Correct Telephone Number</p> 
                                                </div>

                                                <div class="col-md-6 col-sm-12">
                                                    <mat-form-field class="cab-data">
                                                        <mat-label>Email Address</mat-label>
                                                        <input matInput placeholder="Authorized Contact Person Name"   name="email_address_{{i}}" [(ngModel)]="companyBodMembers[i].email"  required>
                                                    </mat-form-field>
                                                    <p class="error" *ngIf="companyBodMembers[i].email && !Service.checkInput('email',companyBodMembers[i].email)">Please Enter Correct Email Id</p>
                                                </div>
                                            </div> -->
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row" *ngIf="step2Data.is_bod == '1'">
                                    <div class="col-12">
                                        <div class="add-new">
                                            <a  href="javascript:void(0)" (click)="addRow(companyBodMembers)">
                                                <span class="icon-add"></span>
                                                <span>ADD NEW</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                                <!-- <span id="openAppDialog" (click)="openView(appComp)"></span>
                                <ng-template #appComp let-modal>
                                    <div class="main_pop">
                                        <div class="pop_close" (click)="closeChecklistDialog()"> 
                                            <span class="icon-close"></span>
                                        </div>
                                        <div class="pop_thanks">
                                            <h5>Thank you</h5>
                                            <p>Your Complete Profile has been submitted successfully and is under review. We will get back you soon.</p>
                                        </div>
                                    </div>
                                </ng-template> -->

                                <!-- <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Date of establishment of Certification Body</mat-label>
                                            <input matInput [matDatepicker]="picker2" readonly="true" (click)="Service._openCalendar(picker2)" name="date_of_establishment" placeholder="Date of establishment of Certification Body" [(ngModel)]="step2Data.date_of_establishment">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Legal Status (License/Registration number) of CB</mat-label>
                                            <input matInput [(ngModel)]="step2Data.legal_license" (keypress)="Service.IsNumeric($event)" name="legal_license" placeholder="" required>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Is Certification the main activity of the Organization</mat-label>
                                            <mat-select placeholder="Select" name="certification_main_activity"  [(ngModel)]="step2Data.certification_main_activity" required>
                                                <mat-option [value]="1">Yes</mat-option>
                                                <mat-option [value]="0">No</mat-option>
                                            </mat-select>
                                            <mat-error></mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="cab-data">
                                            <mat-label>(If No,please describe the main activity of the Organization)</mat-label>
                                            <input matInput [(ngModel)]="step2Data.main_activity_describe" name="main_activity_describe" (keypress)="Service.inputFilter($event, Service.regExName)" placeholder="">
                                        </mat-form-field>
                                    </div>
                                </div> -->

                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bttns-health bttn-staff">
                                <div class="button-content">
                                    <a routerLink="/dashboard/cab-client/home" *ngIf="profileComplete == '1'"  class="cancel-bttn">CANCEL</a>
                                    <a href="javascript:void(0)" *ngIf="profileComplete == '0'" class="cancel-bttn" (click)="Service.logOut()">CANCEL</a>
                                    <button class="cancel-bttn" type="button" (click)="savedraftStep('step2')">SAVE AS DRAFT</button>
                                </div>
                                <button *ngIf="profileComplete == '0'" class="submit-bttn submit-health">SUBMIT</button>
                                <button *ngIf="profileComplete == '1'" class="submit-bttn submit-health">UPDATE</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <!-- </mat-step>
            </mat-horizontal-stepper> -->
                
        </div>
    </div>
</section>