<!-- <p>trainer-service-list works!</p> -->
<app-loader *ngIf="!loader"></app-loader>
<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard-table">
            <flash-messages></flash-messages>
            <div class="row mb-4">
                <div class="col-md-8">                    
                    <div class="dashbrd-hdr">
                        <h3>Event Lists</h3> 
                    </div>
                </div>
                <!-- <div class="col-md-4"> 
                    <div class="tbl-filter-data">
                        <ul>
                            <li>
                                <div class="filter">
                                    <a href="javascript:void(0)" class="border-right"><span class="icon-switch"></span></a>
                                    <a href="javascript:void(0)" (click)="filterSearchSec()"><span class="icon-filter"></span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
            <ng-container *ngIf="advSearch" class="tbl-filter-data">
                <div class="filter-dash">
                    <div class="close-bttn">
                        <span class="icon-close" (click)="filterSearchSec()"></span>
                    </div>
                <div class="row m-0">
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Search by Course ID</mat-label> 
                            <input type="text" matInput [(ngModel)]="selectCode" placeholder="Search by CODE">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Search by Fees</mat-label> 
                            <input matInput type="number" [(ngModel)]="selectFees" placeholder="Search by Fees">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Select Course Type</mat-label>                             
                                <mat-select placeholder="Select" 
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="selectCustomCourse" required>
                                    <mat-option *ngFor="let item of selectCustomCourses;" [value]="item.value">{{item.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row m-0" >
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Select Agreement Status</mat-label>                             
                                <mat-select placeholder="Select Status" 
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="selectAgreementStatus" required>
                                    <mat-option *ngFor="let item of agreementStatus;" [value]="item.value">{{item.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Select Payment Status</mat-label>                             
                                <mat-select placeholder="Select Status" 
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="selectPaymentStatus" required>
                                    <mat-option *ngFor="let item of paymentStatus;" [value]="item.value">{{item.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-md-12"> 
                        <div class="filter-search">
                            <a href="javascript:void(0)" (click)="filterSearchSubmit()" class="search-fil">SEARCH</a>
                            <a href="javascript:void(0)" (click)="filterSearchReset()">RESET</a>
                        </div>         
                    </div>
                    <!-- <div class="col-md-4"> 
                        
                        <div class="add-data">
                            <a href="javascript:void(0)" (click)="filterSearchSubmit()">SEARCH</a>
                        </div>   
                        <div class="add-data">
                            <a href="javascript:void(0)" (click)="filterSearchReset()">RESET</a>
                        </div>                    
                    </div> -->
                </div>
                </div>
                
            </ng-container>
            
        
            <div class="table-dashboard-cont">
                <div class="row m-0">
                    <div class="col-md-12 p-0">
                        <!-- @{{eventData | json}} -->
                        <table>
                            <tr>
                                <th width="45%">Event Title
                                    <a href="javascript:void(0)" (click)="sortedList(eventData, 'course', curSortDir.course)">
                                        <span class="icon-arrow-down" *ngIf="!curSortDir.course"></span>
                                        <span class="icon-arrow-up"  *ngIf="curSortDir.course"></span>
                                    </a>
                                </th>
                                <th width="15%">Date
                                    <a href="javascript:void(0)" (click)="sortedList(eventData, 'created_date', curSortDir.created_date)">
                                        <span class="icon-arrow-down" *ngIf="!curSortDir.created_date"></span>
                                        <span class="icon-arrow-up"  *ngIf="curSortDir.created_date"></span>
                                    </a>
                                </th>
                                <!-- <th width="15%">Time
                                    <a href="javascript:void(0)" (click)="sortedList(eventData, 'accr_status', curSortDir.accr_status)">
                                        <span class="icon-arrow-down" *ngIf="!curSortDir.accr_status"></span>
                                        <span class="icon-arrow-up"  *ngIf="curSortDir.accr_status"></span>
                                    </a>
                                </th> -->
                                <th width="15%">No. of Participants
                                    <a href="javascript:void(0)" (click)="sortedList(eventData, 'applicantName', curSortDir.applicantName)">
                                        <span class="icon-arrow-down" *ngIf="!curSortDir.applicantName"></span>
                                        <span class="icon-arrow-up"  *ngIf="curSortDir.applicantName"></span>
                                    </a>
                                </th>
                            </tr>
                            <!-- eventData.records != undefined && -->  
                            <!-- <a href="javascript:void(0);" (click)="open(eventdetails,participantsTempList)">Click</a> -->
                        <ng-container *ngIf="eventData != undefined && eventData.length > 0">
                            <tr *ngFor="let item of eventData | paginate: { itemsPerPage: pageLimit, totalItems: pageTotal, currentPage: pageCurrentNumber }; let i2 = index;">
                                <td>
                                    <a href="javascript:void(0);" (click)="open(eventdetails,item)"><span>{{item.course}}</span></a>
                                </td>

                                <td *ngIf="item['eventDates'] && item['eventDates'].length > 0">
                                    {{item['eventDates'][0].event_date | date}}
                                </td>

                                <td *ngIf="!item['eventDates'] || item['eventDates'].length == 0">
                                    N/A
                                </td>

                                <!-- <td>
                                    {{item.event_time}}
                                </td> -->

                                <td *ngIf="item.participants && item.participants.length > 0">
                                    <!-- {{item.no_of_participants}} -->
                                    {{item.participants.length}}
                                </td>
                                <td *ngIf="!item.participants || item.participants.length == 0">
                                    <!-- {{item.no_of_participants}} -->
                                    0
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="dataLoad && eventData.length == 0">
                            <tr>
                                <td colspan="5">
                                    No Records
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="!dataLoad">
                            <tr>
                                <td colspan="7" align="center">
                                    Loading...
                                </td>
                            </tr>
                        </ng-container>
                        </table>
                        <ng-container *ngIf="eventData != undefined && eventData.length > 0" >
                            <pagination-controls (pageChange)="pageCurrentNumber = $event"></pagination-controls>
                        </ng-container>
                    </div>
                </div>
            </div>


        <!-- Modal -->
        <ng-template #eventdetails let-modal>
            <div class="modal-header course-pop">
              <h4 class="modal-title" id="modal-basic-title">EVENT DETAILS</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span class="icon-close"></span>
              </button>
            </div>
            <div class="modal-body"> 
                <div class="event-details">
                    <div class="event-data">
                        <span class="event-head">Event Title</span>
                        <span>: {{detailsCourse}}</span>
                    </div>
                    <div class="event-data">
                        <span class="event-head">Date</span>
                        <span>: {{detailsDate | date}}</span>
                    </div>
                    <!-- <div class="event-data">
                        <span class="event-head">Time</span>
                        <span>: 11:00 AM - 12:00 PM</span>
                    </div> -->
                    <div class="event-data">
                        <span class="event-head">No. of Participants</span>
                        <span>: {{noOfParticipants}}</span>
                    </div>
                </div>                
                <div class="table-dashboard-cont">
                    <div class="row m-0">
                        <div class="col-md-12 p-0">
                            
                            <table>
                                <tr>
                                    <th>Participants Name</th>
                                    <th>Email Address</th>
                                    <th>Phone Number</th>
                                </tr>

                                <ng-container *ngIf="participantsList.length > 0">
                                    <tr *ngFor="let row of participantsList; let i = index;">
                                        <td>{{row.first_name}} {{row.last_name}}</td>
                                        <td>{{row.email_address}}</td>
                                        <td>{{row.phone_number}}</td>
                                    </tr>
                                </ng-container>

                                <ng-container *ngIf="participantsList.length == 0">
                                    <tr>
                                        <td colspan="5">
                                            No Records
                                        </td>
                                    </tr>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        
        </div>
    </div>
</div>