<!-- <p>trainer-service-list works!</p> -->
<app-loader *ngIf="!loader"></app-loader>
<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard-table">
            <flash-messages></flash-messages>
            <div class="row mb-4">
                <div class="col-md-8">                    
                    <div class="dashbrd-hdr">
                        <h3>Event Lists</h3> 
                    </div>
                </div>
                <!-- <div class="col-md-4"> 
                    <div class="tbl-filter-data">
                        <ul>
                            <li>
                                <div class="filter">
                                    <a href="javascript:void(0)" class="border-right"><span class="icon-switch"></span></a>
                                    <a href="javascript:void(0)" (click)="filterSearchSec()"><span class="icon-filter"></span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>

            <!-- <div class="row m-0">
                <ng-container *ngIf="userType == 'operations'">
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Export As</mat-label>                             
                                <mat-select placeholder="Export" (selectionChange)="exportFile()"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="exportAs" required>
                                    <mat-option value="csv">Export as CSV</mat-option>
                                    <mat-option value="xls">Export as XLS</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>

                <div class="col-md-4">
                    <div class="user-details">
                        <mat-form-field class="cab-data">
                            <mat-label>Show</mat-label>                              
                            <mat-select placeholder="Show" (selectionChange)="showData()"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="show_data" required>
                                <mat-option value="25">25</mat-option>
                                <mat-option value="50">50</mat-option>
                                <mat-option value="75">75</mat-option>
                                <mat-option value="100">100</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            
            <ng-container *ngIf="advSearch" class="tbl-filter-data">
                <div class="filter-dash filter_certification">
                    <div class="close-bttn">
                        <span class="icon-close" (click)="filterSearchSec()"></span>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-4">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Event Title</mat-label> 
                                <input type="text" matInput [(ngModel)]="eventTitle" placeholder="Search by Event title">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="user-details">

                                <mat-form-field class="cab-data">
                                    <mat-label>Event Date</mat-label> 
                                    <input matInput [matDatepicker]="event_date" name="event_date" [(ngModel)]="searchDateData.event_date" (dateChange)="setexDate(event_date)" readonly="true" (click)="Service._openCalendar(event_date)" placeholder="Date Of Issue" required>
                                    <mat-datepicker-toggle matSuffix [for]="event_date"></mat-datepicker-toggle>
                                    <mat-datepicker #event_date disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row m-0">
                        <div class="col-md-12"> 
                            <div class="filter-search">
                                <a href="javascript:void(0)" (click)="filterSearchSubmit()" class="search-fil">SEARCH</a>
                                <a href="javascript:void(0)" (click)="filterSearchReset('load')">RESET</a>
                            </div>         
                        </div>
                    </div>
                </div>
                
            </ng-container> -->


            <ng-container class="tbl-filter-data">
                <div class="filter-dash filter_certification">
                    <!-- <div class="close-bttn">
                        <span class="icon-close" (click)="filterSearchSec()"></span>
                    </div> -->
                    <div class="row m-0">
                        <div class="col-md-4">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Searchable Column</mat-label> 
                                    <mat-select placeholder="Select" (selectionChange)="searchableColumn()" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchValue">
                                        <mat-option value="course_title">Course Name</mat-option>
                                        <mat-option value="targetAudId">Audience</mat-option>
                                        <mat-option value="event_type">Training Type</mat-option>
                                        <mat-option value="event_date">Date</mat-option>
                                        <mat-option value="tutor_id">Trainer</mat-option>
                                        <mat-option value="capacity">Capacity</mat-option>
                                        <mat-option value="training_days">Duration</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> 
                        </div>

                        <div class="col-md-4 field_show" id="applicant">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                <mat-label>Search Text</mat-label> 
                                <input type="text" matInput [(ngModel)]="searchText" placeholder="Search Text">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-4 field_show" id="event_type" [ngStyle]="{'display': 'none'}">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Training Type</mat-label> 
                                    <mat-select placeholder="Select" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText">
                                        <mat-option value="public_course_event">Public Course</mat-option>
                                        <mat-option value="custom_course_event">Custom Course</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> 
                        </div>

                        <div class="col-md-4 field_show" id="targetAudId" [ngStyle]="{'display': 'none'}">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Audience</mat-label>                              
                                    <mat-select placeholder="Audience" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText">
                                        <mat-option *ngFor="let item of targetAudarr;" [value]="item.id">{{item.title}}</mat-option>                                        
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-4 field_show" id="tutor_id" [ngStyle]="{'display': 'none'}">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Trainer</mat-label>                              
                                    <mat-select placeholder="Trainer" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText">
                                        <mat-option *ngFor="let item of tutorListarr;" [value]="item.id">{{item.name}}</mat-option>                                        
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-4 field_show" id="event_date" [ngStyle]="{'display': 'none'}">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Event Date</mat-label> 
                                    <input matInput [matDatepicker]="event_date" name="event_date" [(ngModel)]="searchText" (dateChange)="setexDate(event_date)" readonly="true" (click)="Service._openCalendar(event_date)" placeholder="Date Of Issue">
                                    <mat-datepicker-toggle matSuffix [for]="event_date"></mat-datepicker-toggle>
                                    <mat-datepicker #event_date disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-4 field_show" id="tutor_id" [ngStyle]="{'display': 'none'}">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Training Type</mat-label> 
                                    <mat-select placeholder="Select" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText">
                                        <mat-option value="public_course">Public Course</mat-option>
                                        <mat-option value="custom_course">Custom Course</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> 
                        </div>

                        <!-- <div class="col-md-4 field_show" id="accreditation_type" [ngStyle]="{'display':'none'}">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Accreditation Type</mat-label>                             
                                    <mat-select placeholder="Select" 
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText">
                                        <mat-option *ngFor="let item of selectAccrType;" [value]="item.value">{{item.title}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-4 field_show" id="status" [ngStyle]="{'display':'none'}">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Status</mat-label>                             
                                    <mat-select placeholder="Select" 
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText">
                                        <mat-option *ngFor="let item of selectStatus;" [value]="item.value">{{item.title}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div> -->

                        <div class="row m-0">
                            <div class="col-md-12"> 
                                <div class="filter-search">
                                    <a href="javascript:void(0)" (click)="filterSearchSubmit()" class="search-fil">SEARCH</a>
                                    <!-- <a href="javascript:void(0)" (click)="filterSearchReset('load')">RESET</a> -->
                                    <a href="javascript:void(0)" (click)="exportFile()" class="space-left">EXPORT</a>
                                </div>         
                            </div>
                        </div>
                    </div>
                </div>
                
            </ng-container>

            <div class="row m-0">
                <div class="col-md-2">
                    <div class="user-details">
                        <mat-form-field class="cab-data">
                            <mat-label>Show</mat-label>                              
                            <mat-select placeholder="Show" (selectionChange)="showData()"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="show_data">
                                <mat-option value="25">25</mat-option>
                                <mat-option value="50">50</mat-option>
                                <mat-option value="75">75</mat-option>
                                <mat-option value="100">100</mat-option>
                                <!-- <mat-option value="pdf">Export as PDF</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            
        
            <div class="table-dashboard-cont">
                <div class="row m-0">
                    <div class="col-md-12 p-0">
                        <!-- @{{eventData | json}} -->
                        <table id="accreditation-service-export">
                            <tr>
                                <th width="40%">Course Name
                                    <a href="javascript:void(0)" (click)="sortedList(eventData, 'course', curSortDir.course)">
                                        <span class="icon-arrow-down" *ngIf="!curSortDir.course"></span>
                                        <span class="icon-arrow-up"  *ngIf="curSortDir.course"></span>
                                    </a>
                                </th>

                                <th width="35%">Audience</th>
                                <th width="15%">Training Type<a href="javascript:void(0)" (click)="sortedList(eventData, 'training_course_type', curSortDir.training_course_type)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.training_course_type"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.training_course_type"></span>
                                </a></th>

                                <th width="15%">Date
                                    <!-- <a href="javascript:void(0)" (click)="sortedList(eventData, 'created_date', curSortDir.created_date)">
                                        <span class="icon-arrow-down" *ngIf="!curSortDir.created_date"></span>
                                        <span class="icon-arrow-up"  *ngIf="curSortDir.created_date"></span>
                                    </a> -->
                                </th>

                                <th width="15%">Trainer<a href="javascript:void(0)" (click)="sortedList(eventData, 'tutor', curSortDir.tutor)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.tutor"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.tutor"></span>
                                </a></th>

                                <th width="5%">Capacity<a href="javascript:void(0)" (click)="sortedList(eventData, 'capacity', curSortDir.capacity)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.capacity"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.capacity"></span>
                                </a></th>
                                
                                <th width="5%">Duration<a href="javascript:void(0)" (click)="sortedList(eventData, 'training_days', curSortDir.training_days)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.training_days"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.training_days"></span>
                                </a></th>
                            </tr>
                            <!-- eventData.records != undefined && -->  
                            <!-- <a href="javascript:void(0);" (click)="open(eventdetails,participantsTempList)">Click</a> -->
                        <ng-container *ngIf="eventData != undefined && eventData.length > 0">
                            <tr *ngFor="let item of eventData | paginate: { itemsPerPage: pageLimit, totalItems: pageTotal, currentPage: pageCurrentNumber }; let i2 = index;">
                                <td>
                                    <a href="javascript:void(0);" (click)="open(eventdetails,item)"><span>{{item.course.course}}</span></a>
                                </td>

                                <td *ngIf="item.course['allTargatedAud']">
                                    <ng-container *ngFor="let row9 of item.course['allTargatedAud']; let i9 = index;">
                                        {{row9.target_aud_name.title}},<br>
                                    </ng-container>
                                </td>
                                <td *ngIf="!item.course['allTargatedAud']">
                                    N/A
                                </td>

                                <td *ngIf="item.course.training_course_type == 'public_course'">
                                    Public Course
                                </td>
                                <td *ngIf="item.course.training_course_type == 'custom_course'">
                                    Custom Course
                                </td>

                                <td *ngIf="item['eventDates'] && item['eventDates'].length > 0">
                                    {{item['eventDates'][0].event_date | date}}
                                </td>

                                <td *ngIf="item['eventDates'] == null || item['eventDates'].length == 0">
                                    N/A
                                </td>

                                <td *ngIf="item.tutor">
                                    {{item.tutor.name}}
                                </td>
                                <td *ngIf="!item.tutor">
                                    N/A
                                </td>

                                <td *ngIf="item.course.capacity">
                                    {{item.course.capacity}}
                                </td>
                                <td *ngIf="!item.course.capacity">
                                    N/A
                                </td>

                                <td *ngIf="item.course.training_days">
                                    {{item.course.training_days}}
                                </td>
                                <td *ngIf="!item.course.training_days">
                                    N/A
                                </td>

                            </tr>
                        </ng-container>
                        <ng-container *ngIf="dataLoad && eventData.length == 0">
                            <tr>
                                <td colspan="5">
                                    No Records
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="!dataLoad">
                            <tr>
                                <td colspan="7" align="center">
                                    Loading...
                                </td>
                            </tr>
                        </ng-container>
                        </table>
                        <ng-container *ngIf="eventData != undefined && eventData.length > 0" >
                            <pagination-controls (click)="paginationReset()" (pageChange)="pageCurrentNumber = $event"></pagination-controls>
                        </ng-container>
                    </div>
                </div>
            </div>


        <!-- Modal -->
        <ng-template #eventdetails let-modal>
            <div class="modal-header course-pop">
              <h4 class="modal-title" id="modal-basic-title">EVENT DETAILS</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span class="icon-close"></span>
              </button>
            </div>
            <div class="modal-body"> 
                <div class="event-details">
                    <div class="event-data">
                        <span class="event-head">Event Title</span>
                        <span>: {{detailsCourse}}</span>
                    </div>
                    <div class="event-data">
                        <span class="event-head">Date</span>
                        <span>: {{detailsDate | date}}</span>
                    </div>
                    <div class="event-data">
                        <span class="event-head">Event Tutor</span>
                        <span>: {{trainerEvent}}</span>
                    </div>
                    <!-- <div class="event-data">
                        <span class="event-head">Time</span>
                        <span>: 11:00 AM - 12:00 PM</span>
                    </div> -->
                    <div class="event-data">
                        <span class="event-head">No. of Participants</span>
                        <span>: {{noOfParticipants}}</span>
                    </div>
                </div>                
                <div class="table-dashboard-cont">
                    <div class="row m-0">
                        <div class="col-md-12 p-0">
                            
                            <table>
                                <tr>
                                    <th>Participants Name</th>
                                    <th>Email Address</th>
                                    <th>Phone Number</th>
                                </tr>

                                <ng-container *ngIf="participantsList.length > 0">
                                    <tr *ngFor="let row of participantsList; let i = index;">
                                        <td>{{row.first_name}} {{row.last_name}}</td>
                                        <td>{{row.email_address}}</td>
                                        <td>{{row.phone_number}}</td>
                                    </tr>
                                </ng-container>

                                <ng-container *ngIf="participantsList.length == 0">
                                    <tr>
                                        <td colspan="5">
                                            No Records
                                        </td>
                                    </tr>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        
        </div>
    </div>
</div>