<!-- <p>trainer-service-list works!</p> -->
<app-loader *ngIf="!loader"></app-loader>
<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard-table">
            <flash-messages></flash-messages>
            <div class="row mb-4">
                <div class="col-md-8">                    
                    <div class="dashbrd-hdr">
                        <h3>Records</h3> 
                    </div>
                </div>
            </div>

            <ng-container class="tbl-filter-data">
                <div class="filter-dash filter_certification">
                    <div class="row m-0">
                        <div class="col-md-4">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Searchable Column</mat-label> 
                                    <mat-select placeholder="Select" (selectionChange)="searchableColumn()" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchValue">
                                        <mat-option value="name">Name</mat-option>
                                        <mat-option value="uploaded_date">Uploaded On</mat-option>
                                        <mat-option value="expiry_date">Expiry Date</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> 
                        </div>

                        <div class="col-md-4 field_show" id="applicant">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                <mat-label>Search Text</mat-label> 
                                <input type="text" matInput [(ngModel)]="searchText" placeholder="Search Text">
                                </mat-form-field>
                            </div>
                        </div>

                        
                        <div class="col-md-4 field_show" id="uploaded_date" [ngStyle]="{'display': 'none'}">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Uploaded Date</mat-label> 
                                    <input matInput [matDatepicker]="uploaded_date" name="uploaded_date" [(ngModel)]="searchText" (dateChange)="setexDate(uploaded_date)" readonly="true" (click)="Service._openCalendar(uploaded_date)" placeholder="Date Of Issue">
                                    <mat-datepicker-toggle matSuffix [for]="uploaded_date"></mat-datepicker-toggle>
                                    <mat-datepicker #uploaded_date disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-4 field_show" id="expiry_date" [ngStyle]="{'display': 'none'}">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Expiry Date</mat-label> 
                                    <input matInput [matDatepicker]="expiry_date" name="expiry_date" [(ngModel)]="searchText" (dateChange)="setexDate(expiry_date)" readonly="true" (click)="Service._openCalendar(expiry_date)" placeholder="Date Of Issue">
                                    <mat-datepicker-toggle matSuffix [for]="expiry_date"></mat-datepicker-toggle>
                                    <mat-datepicker #expiry_date disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row m-0">
                            <div class="col-md-12"> 
                                <div class="filter-search">
                                    <a href="javascript:void(0)" (click)="filterSearchSubmit()" class="search-fil">SEARCH</a>
                                    <!-- <a href="javascript:void(0)" (click)="filterSearchReset('load')">RESET</a> -->
                                    <a href="javascript:void(0)" (click)="exportFile()" class="space-left">EXPORT</a>
                                </div>         
                            </div>
                        </div>
                    </div>
                </div>
                
            </ng-container>

            <div class="row m-0">
                <div class="col-md-2">
                    <div class="user-details">
                        <mat-form-field class="cab-data">
                            <mat-label>Show</mat-label>                              
                            <mat-select placeholder="Show" (selectionChange)="showData()"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="show_data">
                                <mat-option value="25">25</mat-option>
                                <mat-option value="50">50</mat-option>
                                <mat-option value="75">75</mat-option>
                                <mat-option value="100">100</mat-option>
                                <!-- <mat-option value="pdf">Export as PDF</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            
        
            <div class="table-dashboard-cont">
                <div class="row m-0">
                    <div class="col-md-12 p-0">
                        <!-- @{{eventData | json}} -->
                        <table id="accreditation-service-export">
                            <tr>
                                <th width="35%">Name
                                    <a href="javascript:void(0)" (click)="sortedList(eventData, 'course', curSortDir.course)">
                                        <span class="icon-arrow-down" *ngIf="!curSortDir.course"></span>
                                        <span class="icon-arrow-up"  *ngIf="curSortDir.course"></span>
                                    </a>
                                </th>

                                <th width="20%">Uploaded On</th>
                                <th width="20%">Expiry Date</th>
                                
                                <th width="20%">Action</th>
                            </tr>
                            <!-- eventData.records != undefined && -->  
                            <!-- <a href="javascript:void(0);" (click)="open(eventdetails,participantsTempList)">Click</a> -->
                        <ng-container *ngIf="eventData != undefined && eventData.length > 0">
                            <tr *ngFor="let item of eventData | paginate: { itemsPerPage: pageLimit, totalItems: pageTotal, currentPage: pageCurrentNumber }; let i2 = index;">
                                <td>
                                    <a href="javascript:void(0);" (click)="open(eventdetails,item)"><span>{{item.course.course}}</span></a>
                                </td>

                                <td>
                                    {{item['eventDates'][0].event_date | date}}
                                </td>

                                <td>
                                    {{item['eventDates'][0].event_date | date}}
                                </td>

                            </tr>
                        </ng-container>
                        <ng-container *ngIf="dataLoad && eventData.length == 0">
                            <tr>
                                <td colspan="5">
                                    No Records
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="!dataLoad">
                            <tr>
                                <td colspan="7" align="center">
                                    Loading...
                                </td>
                            </tr>
                        </ng-container>
                        </table>
                        <ng-container *ngIf="eventData != undefined && eventData.length > 0" >
                            <pagination-controls (click)="paginationReset()" (pageChange)="pageCurrentNumber = $event"></pagination-controls>
                        </ng-container>
                    </div>
                </div>
            </div>


        <!-- Modal -->
        <ng-template #eventdetails let-modal>
            <div class="modal-header course-pop">
              <h4 class="modal-title" id="modal-basic-title">RECORDS DETAILS</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span class="icon-close"></span>
              </button>
            </div>
            <div class="modal-body"> 
                <div class="event-details">
                    <div class="event-data">
                        <span class="event-head">Name:</span>
                        <span>: {{detailsCourse}}</span>
                    </div>
                    <div class="event-data">
                        <span class="event-head">Uploaded On: </span>
                        <span>: {{detailsDate | date}}</span>
                    </div>
                    <div class="event-data">
                        <span class="event-head">Expiry Date</span>
                        <span>: {{trainerEvent}}</span>
                    </div>
                    
                </div>                
                
            </div>
        </ng-template>
        
        </div>
    </div>
</div>