<app-loader *ngIf="!loader"></app-loader>
<section>
    <div class="form-wrapper-pro">
        <div class="container-fluid">
            <div class="main-dashboard-cnt">
                <form #ngForm="ngForm" (ngSubmit)="onSubmit(ngForm)" autocomplete="off">
                    <div class="form-hdr profile-hdr">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-main complete-usr">
                                    <h1 [ngStyle]="{'font-size': '30px','color':'black', 'letter-spacing':0, 'font-weight': 'bold'}">UPDATE PROFILE</h1>
                                </div>
                            </div>
                            
                            <!-- <div class="col-md-4">
                                <div class="progress-br">
                                    <mat-progress-bar mode="determinate" value="{{progressValue}}"></mat-progress-bar>
                                    <span>{{progressValue}}% </span>
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <ng-container>
                        <div class="row user_main">
                            <div class="col-md-12">
                                <div class="user-steps user-small">
                                    <ng-container *ngFor="let item of headerSteps; let k=index;">
                                        <div class="user-next" [ngClass]="(item.activeClass != '') ? item.activeClass : ''">
                                            <div class="usernext-icon">
                                                <span [ngClass]="(item.activeClass === 'user-done') ? 'icon-tick' : item.icon"></span>
                                            </div>
    
                                            <div class="user-details-pending" 
                                            id="course_header" (click)="Service.headerStepMove(item.title, headerSteps,'menu')" [ngStyle]="{'cursor':'pointer'}">
                                                <span [innerHTML]="item.desc"></span>
                                            </div>
                                        </div>
                                        <div class="next-step" *ngIf="k < headerSteps.length-1">
                                            <span class="icon-arrow-right"></span>
                                        </div>
                                  </ng-container>                              
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <div class="form-bdy cust-stepper" id="personal_details">
                        <div class="row m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr">
                                                <h5>PERSONAL DETAILS</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Title</mat-label>
                                                <mat-select placeholder="Select" name="title" [(ngModel)]="eiacStaff.title" required>
                                                    <mat-option *ngFor="let titleRow of titleArr; let i =index;" value="{{titleRow}}">{{titleRow}}</mat-option>
                                                </mat-select>
                                                <mat-error></mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>First Name</mat-label>
                                                <input matInput [(ngModel)]="eiacStaff.firstName" (keypress)="Service.inputFilter($event, Service.regExName)" name="firstName" placeholder="" required>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Last Name</mat-label>
                                                <input matInput [(ngModel)]="eiacStaff.last_name" name="last_name" placeholder="" required>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Company Email ID</mat-label>
                                                <input matInput [(ngModel)]="eiacStaff.company_email" name="company_email" placeholder="" required>
                                            </mat-form-field>

                                            <p class="error" *ngIf="eiacStaff.company_email && !Service.checkInput('email',eiacStaff.company_email)">Please Enter Correct Email Id</p>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Official Email ID</mat-label>
                                                <input matInput [(ngModel)]="eiacStaff.personal_email" readonly name="personal_email" placeholder="" required>
                                            </mat-form-field>

                                            <p class="error" *ngIf="eiacStaff.personal_email && !Service.checkInput('email',eiacStaff.personal_email)">Please Enter Correct Email Id</p>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Company Mobile no. (with Area Code)</mat-label>
                                                <input matInput [(ngModel)]="eiacStaff.company_phone_with_area" name="company_phone_with_area" placeholder="" (keypress)="Service.IsNumeric($event)" required>
                                            </mat-form-field>
                                            <p class="error" *ngIf="eiacStaff.company_phone_with_area && !Service.checkInput('onlyNumberWithPlus',eiacStaff.company_phone_with_area)">Please Enter Only Number</p> 
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Personal Mobile no. (with Area Code)</mat-label>
                                                <input matInput [(ngModel)]="eiacStaff.personal_phone_with_area" name="personal_phone_with_area" placeholder="" (keypress)="Service.IsNumeric($event)" required>
                                            </mat-form-field>
                                            <p class="error" *ngIf="eiacStaff.personal_phone_with_area && !Service.checkInput('onlyNumberWithPlus',eiacStaff.personal_phone_with_area)">Please Enter Only Number</p> 
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Designation</mat-label>
                                                <input matInput [(ngModel)]="eiacStaff.designation" name="designation" placeholder="" required>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Department</mat-label>
                                                <input matInput [(ngModel)]="eiacStaff.department" name="department" placeholder="" required>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <span id="openAppDialog" (click)="openView(appComp)"></span>
                            <ng-template #appComp let-modal>
                                <div class="main_pop">
                                    <div class="pop_close" (click)="closeChecklistDialog()">
                                        <span class="icon-close"></span>
                                    </div>
                                    <div class="pop_thanks">
                                        <h5>Thank you</h5>
                                        <p>Your Complete Profile has been submitted successfully and is under review. We will get back you soon.</p>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bttns-health bttn-staff">
                                <div class="button-content">
                                    <a routerLink="/dashboard/operations/home" *ngIf="profileComplete == '1'" class="cancel-bttn">CANCEL</a>
                                    <a href="javascript:void(0)" *ngIf="profileComplete == '0'" class="cancel-bttn" (click)="Service.logOut()">CANCEL</a>
                                    <button class="cancel-bttn" type="button" (click)="savedraftStep('step1')">SAVE AS DRAFT</button>
                                </div>
                                <button *ngIf="profileComplete == '0'" class="submit-bttn submit-health">SUBMIT</button>
                                <button *ngIf="profileComplete == '1'" class="submit-bttn submit-health">UPDATE</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>