<app-loader *ngIf="!loader"></app-loader>
<!-- <app-header-after-login></app-header-after-login>
<div class="side-data-cont">
    <app-sidebar-after-login></app-sidebar-after-login>
</div> -->
<div class="main-detail">
  <div class="container-fluid p-0">
    <div class="main-dashboard-cnt">
      <div class="row m-0">
        <div class="col-md-12 message-det">
            <div class="row">
              <div class="col-md-3">
                <div class="main_app_wrap">
                  <div class="appln-data">
                    <h3>Application No. {{routeId}}</h3>
                  </div>
                  <div class="appln-details">
                    <span>
                      <img class="qr_code" src="../../../../../../assets/images/qr_code.png" />
                    </span>
                  </div>
                </div>
              </div>
              <div class="col border-left-dash">
                <div class="main_app_wrap">
                  <div class="appln-data status_hdr">
                    <h5>Application Fees :</h5>
                  </div>
                  <div [ngClass]="{'complete': serviceDetail?.payment_status == 'paid', 'under-review':serviceDetail?.payment_status == 'unpaid' }">
                    <span>{{(serviceDetail?.payment_status == "paid") ? 'Paid' : 'Unpaid'}}</span>
                  </div>
                </div>
              </div>
              <div class="col border-left-dash">
                <div class="main_app_wrap">
                  <div class="appln-data status_hdr">
                    <h5>Preliminary Visit :</h5>
                  </div>
                  <div [ngClass]="{'complete': serviceDetail?.is_prelim_visit == true, 'under-review':serviceDetail?.is_prelim_visit == false }">
                    <span>{{(serviceDetail?.is_prelim_visit == true) ? 'Yes' : 'No'}}</span>
                  </div>
                </div>
              </div>
              <div class="col border-left-dash">
                <div class="main_app_wrap">
                  <div class="appln-data status_hdr">
                    <h5>Document Review :</h5>
                  </div>
                  <div [ngClass]="{'complete': serviceDetail?.paymentDetails.doc_review_payment_status != null, 'under-review':serviceDetail?.paymentDetails.doc_review_payment_status == null }">
                    <span>{{(serviceDetail?.paymentDetails.doc_review_payment_status == null) ? 'Unpaid' : 'Paid'}}</span>
                  </div>
                </div>
              </div>
              <div class="col border-left-dash">
                <div class="main_app_wrap">
                  <div class="appln-data status_hdr">
                    <h5>Assessment :</h5>
                  </div>
                  <div [ngClass]="{'complete': serviceDetail?.paymentDetails.doc_review_payment_status != null, 'under-review':serviceDetail?.paymentDetails.doc_review_payment_status == null }">
                    <span>{{(serviceDetail?.paymentDetails.assessment_payment_status == null) ? 'Unpaid' : 'Paid'}}</span>
                  </div>
                </div>
              </div>
              <div class="col border-left-dash">
                <div class="main_app_wrap">
                  <div class="appln-data status_hdr">
                    <h5>Certification :</h5>
                  </div>
                  <div [ngClass]="{'complete': serviceDetail?.paymentDetails.certification_payment_status != null, 'under-review':serviceDetail?.paymentDetails.certification_payment_status == null }">
                    <span>{{(serviceDetail?.paymentDetails.certification_payment_status == null) ? 'Unpaid' : 'Paid'}}</span>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md-12 message-det">
            <div class="row appl-cnt">
              <div class="col">
                <div class="appln-data">
                  <h5>Application Type</h5>
                </div>
                <div class="appln-details">
                  <span *ngIf="serviceDetail?.form_meta == 'inspection_body'">Inspection Body</span>
                  <span *ngIf="serviceDetail?.form_meta == 'testing_calibration'">Testing Calibration</span>
                  <span *ngIf="serviceDetail?.form_meta == 'health_care'">Health Care</span>
                </div>
              </div>
              <div class="col border-left-dash">
                <div class="appln-data">
                  <h5>Establishment Name</h5>
                </div>
                <div class="appln-details">
                  <span>None</span>
                </div>
              </div>
              <div class="col border-left-dash">
                <div class="appln-data">
                  <h5>Date of Establishment</h5>
                </div>
                <div class="appln-details">
                  <span *ngIf="serviceDetail?.date_of_establishment">{{serviceDetail?.date_of_establishment | date:'dd-MM-yyyy'}}</span>
                </div>
              </div>
              <div class="col border-left-dash">
                <div class="appln-data">
                  <h5>Location</h5>
                </div>
                <div class="appln-details">
                  <span *ngIf="serviceDetail?.physical_location_address">{{serviceDetail?.physical_location_address}}</span>
                </div>
              </div>
              <div class="col border-left-dash">
                <div class="appln-data">
                  <h5>Trade License No.</h5>
                </div>
                <div class="appln-details license_no">
                  <span *ngIf="applicantInfo?.trade_license_number">{{applicantInfo?.trade_license_number}}</span>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row m-0 appn-cnt-data">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="appln-subhdr">
                <h5>APPLICANT INFORMATION</h5>
              </div>
            </div>
          </div> 
          <div class="row status-det">
              <div class="col-md-12">
                <div class="table-appln">
                  <table>
                    <tr>
                      <td>Date of Issue</td>
                      <td *ngIf="serviceDetail?.date_of_issue">{{serviceDetail?.date_of_issue | date: 'dd-MM-yyyy'}}</td>
                      <td>Date of expiry</td>
                      <td *ngIf="serviceDetail?.date_of_expiry">{{serviceDetail?.date_of_expiry | date: 'dd-MM-yyyy'}}</td>
                    </tr>
                    <tr>
                      <td>Type of Accreditation</td>
                      <td>{{(serviceDetail?.accredation_criteria == 1) ? 'Initial' : 'Extension' }}</td>
                      <td>Criteria for which Acc. is Requested</td>
                      <td>{{serviceDetail?.criteria_request}}</td>
                    </tr>
                    <tr>
                      <td>Registered Address</td>
                      <td colspan="3" *ngIf="serviceDetail?.physical_location_address">{{serviceDetail?.physical_location_address}}</td>
                    </tr>
                    <tr>
                      <td>City</td>
                      <td *ngIf="serviceDetail?.city">{{serviceDetail?.city}}</td>
                      <td>Country</td>
                      <td *ngIf="appCountry">{{appCountry}}</td>
                    </tr>
                    <tr>
                      <td>Mailing Address</td>
                      <td *ngIf="serviceDetail?.mailing_address">{{serviceDetail?.mailing_address}}</td>
                      <td>PO Box No./ZIP Code</td>
                      <td *ngIf="serviceDetail?.po_box">{{serviceDetail?.po_box}}</td>
                    </tr>
                    <tr>
                      <td>Official E-mail Address</td>
                      <td *ngIf="serviceDetail?.official_email">{{serviceDetail?.official_email}}</td>
                      <td>Official Website</td>
                      <td *ngIf="serviceDetail?.official_website">{{serviceDetail?.official_website}}</td>
                    </tr>
                    <tr>
                      <td>Telephone Number</td>
                      <td *ngIf="serviceDetail?.telephone">{{serviceDetail?.telephone}}</td>
                      <td>Fax Number</td>
                      <td *ngIf="serviceDetail?.fax_no">{{serviceDetail?.fax_no}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md-6" *ngFor="let row of ownershipOfOrg; let i = index;">
          <div class="row">
            <div class="col-md-12">
              <div class="appln-subhdr">
                <h5>#{{i+1}}  OWNERSHIP OF THE ORGANIZATION</h5>
              </div>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-4">
              <div class="status-main-details">
                <div class="status-data">
                  <p>{{row.name}}, </p>
                  <span>{{row.designation}}</span>
                </div>
                <div class="status-subdata">
                  <span class="status_details">
                    <span class="icon-mobile"></span>
                    {{row.mobile_no}}
                  </span>
                  <span class="status_details">
                    <span class="icon-call-data icon-call-2"></span>
                    {{row.telephone_no}}
                  </span>
                  <span class="status_details">
                    <span class="icon-email"></span>
                    {{row.email}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="appln-subhdr">
                <h5>WORKING TIME</h5>
              </div>
              <hr>
            </div>
          </div>
          <div class="row status-det status_sub_table">
            <div class="col-md-12">
              <div class="table-appln">
                <table>
                  <tr>
                    <td>Duty Period </td>
                    <ng-container *ngIf="serviceDetail?.duty_shift != undefined">
                    <td *ngIf="serviceDetail.duty_shift == '1'">One Shift</td>
                    <td *ngIf="serviceDetail.duty_shift == '2'">Two Shift</td>
                    <td *ngIf="serviceDetail.duty_shift == '3'">Three Shift</td>
                    </ng-container>
                    <td>Duty Time</td>
                    <td>
                      <ng-container *ngIf="serviceDetail?.duty_shift != undefined">
                      <ng-container *ngIf="serviceDetail.duty_shift == '1'">
                        {{serviceDetail.duty_to1}} - {{serviceDetail.duty_from1}}
                      </ng-container>
                      <ng-container *ngIf="serviceDetail.duty_shift == '2'">
                        {{serviceDetail.duty_to2}} - {{serviceDetail.duty_from2}}
                      </ng-container>
                      <ng-container *ngIf="serviceDetail.duty_shift == '3'">
                        {{serviceDetail.duty_to3}} - {{serviceDetail.duty_from3}}
                      </ng-container>  
                    </ng-container>                    
                    </td>
                  </tr>
                  <tr>
                    <td>Is Testing the main activity of the organization</td>
                    <td colspan="3">
                      {{ (serviceDetail?.is_main_activity != undefined && serviceDetail?.is_main_activity == true) ? 'Yes' : 'No' }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md-12">
          <div class="row status-det-wrapper">
            <div class="col-md-12 p-0">
              <div class="row">
                <div class="col-md-12">
                  <div class="appln-subhdr">
                    <h5>BOARD MEMBERS OF THE COMPANY</h5>
                  </div>
                  <hr>
                </div>
              </div>
              <div class="status_main">
                <div class="row m-0">
                  <div class="col-md-6 p-0" *ngFor="let row2 of bodMember; let i1 = index;">
                    <div class="members_details">
                      <h4>{{row2.name}}</h4>
                      <p class="address_details">{{row2.company_list}}</p>
                      <span class="personal_details">{{row2.contact_person}},</span>
                      <span>{{row2.designation}}, Mobile : {{row2.mobile_no}}</span>
                    </div>
                  </div>
                  <!-- <div class="col-md-6 pl-0">
                      <div class="members_details members_last ">
                        <h4>Mr. Jhon Williams</h4>
                        <p class="address_details">Al Dahra Agricultural Company, Navigator Software Pvt. Ltd.</p>
                        <span class="personal_details">Mr. Brad Williams,</span>
                        <span>Manager, Mobile : (183) 959-1691</span>
                      </div>
                  </div> -->
                </div>
                <!-- <div class="row pb-1">
                  <div class="col-md-6 pr-0">
                    <div class="members_details">
                      <h4>Mr. Jhon Williams</h4>
                      <p class="address_details">Al Dahra Agricultural Company, Navigator Software Pvt. Ltd.</p>
                      <span class="personal_details">Mr. Brad Williams,</span>
                      <span>Manager, Mobile : (183) 959-1691</span>
                    </div>
                  </div>
                  <div class="col-md-6 pl-0">
                    <div class="members_details members_last ">
                      <h4>Mr. Jhon Williams</h4>
                      <p class="address_details">Al Dahra Agricultural Company, Navigator Software Pvt. Ltd.</p>
                      <span class="personal_details">Mr. Brad Williams,</span>
                      <span>Manager, Mobile : (183) 959-1691</span>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-0" *ngIf="otherAccr != ''">
        <div class="col-md-12">
          <div class="row status-det-wrapper">
            <div class="col-md-12 p-0">
              <div class="row">
                <div class="col-md-12">
                  <div class="appln-subhdr">
                    <h5>EXISTING ACCREDITATION OR CERTIFICATION GRANTED TO THE ORGANIZATION</h5>
                  </div>
                  <hr>
                </div>
              </div>
              <div class="row m-0">
                <div class="col-md-6">
                  <div class="org_hdr">
                    <p>Does the Organization hold any other Accreditation’s?</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-subheader-desc form_org_data">
                    <mat-radio-group name="other_accr" [(ngModel)]="other_accr_model">
                      <mat-radio-button value="1" >Yes</mat-radio-button>
                      <mat-radio-button value="0">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-appln pt-0">
                    <table>
                      <tr>
                        <th>Name of Scheme</th>
                        <th>Name of Accreditation Body</th>
                        <th>Scope of Accreditation & Certificate No</th>
                        <th>Expiry Date of Certificate</th>
                      </tr>
                      <ng-container *ngFor="let othr_accr of otherAccr; let i3 = index;">
                        <tr *ngFor="let item of jsonParse(othr_accr.value);">
                            <td>{{item.scheme_name}}</td>
                            <td>{{item.acccreditation_body_name}}</td>
                            <td>{{item.acccreditation_scope}}</td>
                            <td>{{item.converted_date | date:'dd-MM-yyyy'}}</td>
                        </tr>
                      </ng-container>
                      <!-- <tr>
                        <td>ISO/IEC 17025</td>
                        <td>Chris Estrada</td>
                        <td>Testing Laboratory & 006-1596</td>
                        <td>21-08-2021</td>
                      </tr>
                      <tr>
                        <td>ISO/IEC 17025</td>
                        <td>Chris Estrada</td>
                        <td>Testing Laboratory & 006-1596</td>
                        <td>21-08-2021</td>
                      </tr> -->
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-0" *ngIf="ptParticipation != ''">
        <div class="col-md-12">
          <div class="row status-det-wrapper">
            <div class="col-md-12 p-0">
              <div class="row">
                <div class="col-md-12">
                  <div class="appln-subhdr">
                    <h5>INFORMATION ABOUT PROFICIENCY TESTING PARTICIPATION</h5>
                  </div>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-appln">
                    <table>
                      <tr>
                        <th>Name of Test</th>
                        <th>Participation Date</th>
                        <th>PT Provider</th>
                        <th>Summary of Results</th>
                      </tr>
                      <ng-container *ngFor="let item of ptParticipation; let i4 = index;">
                        <!-- *ngFor="let item3 of jsonParse(item2.value);" -->
                        <tr >
                            <td>{{item.test_name}}</td>
                            <td>{{item.participation_date | date:'dd-MM-yyyy'}}</td>
                            <td>{{item.pt_provider}}</td>
                            <td>{{item.result}}</td>
                        </tr>
                      </ng-container>
                      <!-- <tr>
                        <td>ISO/IEC 17025</td>
                        <td>21-08-2021</td>
                        <td>Chris Estrada</td>
                        <td>Lorem Ipsum dolor</td>
                      </tr>
                      <tr>
                        <td>ISO/IEC 17025</td>
                        <td>21-08-2021</td>
                        <td>Chris Estrada</td>
                        <td>Lorem Ipsum dolor</td>
                      </tr> -->
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-0">
        <div class="col-md-6" *ngIf="technicalManager != ''">
          <div class="row">
            <div class="col-md-12">
              <div class="appln-subhdr">
                <h5>TECHNICAL MANAGER</h5>
              </div>
              <hr>
            </div>
          </div>
          <div class="row status-det">
            <div class="col-md-12">
              <div class="status-main-details">
                <div class="status-data">
                  <p>{{technicalManager?.name}}, </p>
                  <span>{{technicalManager?.designation}}</span>
                </div>
                <div class="status-subdata">
                  <span class="status_details">
                    <span class="icon-mobile"></span>
                    {{technicalManager?.mobile_no}}
                  </span>
                  <span class="status_details">
                    <span class="icon-email"></span>
                    {{technicalManager?.email}}
                  </span>
                  <span class="status_details">
                    <span class="icon-google-docs"></span>
                    {{technicalManager?.relevent_experience}} Yrs.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6" *ngIf="managementManager != ''">
          <div class="row">
            <div class="col-md-12">
              <div class="appln-subhdr">
                <h5>MANAGEMENT MANAGER</h5>
              </div>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="status-main-details">
                <div class="status-data">
                  <p>{{managementManager?.name}}, </p>
                  <span>{{managementManager?.designation}}</span>
                </div>
                <div class="status-subdata">
                  <span class="status_details">
                    <span class="icon-mobile"></span>
                    {{managementManager?.mobile_no}}
                  </span>
                  <span class="status_details">
                    <span class="icon-email"></span>
                    {{managementManager?.email}}
                  </span>
                  <span class="status_details">
                    <span class="icon-google-docs"></span>
                    {{managementManager?.relevent_experience}} Yrs.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-0">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="appln-subhdr">
                <h5>INFORMATION ABOUT INTERNAL AUDIT AND MANAGEMENT REVIEW LAST CONDUCTED DATE (FOR INITIAL SUBMISSION)</h5>
              </div>
              <hr>
            </div>
          </div>
          <div class="row status-det status_sub_table">
            <div class="col-md-12">
              <div class="table-appln">
                <table>
                  <tr>
                    <td>Audit Date</td>
                    <td>{{serviceDetail?.audit_date | date:'dd-MM-yyyy'}}</td>
                    <td>MRM Date</td>
                    <td>{{serviceDetail?.mrm_date | date:'dd-MM-yyyy'}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-0">
        <div class="col-md-12">
          <div class="row status-det-wrapper">
            <div class="col-md-12 p-0">
              <div class="row">
                <div class="col-md-12">
                  <div class="appln-subhdr">
                    <h5>ACCREDITATION SCOPE FOR INSPECTION BODIES</h5>
                  </div>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-appln">
                    <table>
                        <!-- {{jsonParseKeyvalue(scopeDetailsHeading) | json}} -->
                      <tr>
                        <th *ngFor="let item5 of scopeDetailsHeading | keyvalue;">{{item5.value}}</th>
                      </tr>
                      <tr>
                        <!-- <ng-container *ngFor="let item6 of scopeDetailvalues; let i4 = index;">
                            <td *ngFor="let item7 of item6.value | keyvalue;">{{item7}}</td>
                        </ng-container> -->
                      </tr>
                      <!-- <tr>
                        <td>Mechanical /Physical</td>
                        <td>Hardened Concrete</td>
                        <td>Testing concrete. Method for determination of compressive strength of concrete cubes</td>
                        <td>BS 1881 : 1983 Part 116 AMD 6097-89 & AMD 6720 - 91</td>
                      </tr>
                      <tr>
                        <td>Mechanical /Physical</td>
                        <td>Hardened Concrete</td>
                        <td>Testing concrete. Method for determination of compressive strength of concrete cubes</td>
                        <td>BS 1881 : 1983 Part 116 AMD 6097-89 & AMD 6720 - 91</td>
                      </tr> -->
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #ILAView let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">ILA MRA Laboratories</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> 
            <app-loader *ngIf="loaderPdf"></app-loader>
            <p *ngIf="errorLoader">Error Loading PDF</p>
            <pdf-viewer [src]="(pathPDF)" [show-all]="true" [stick-to-page]="true"
                [zoom]="1.0" [original-size]="false" [autoresize]="true"
                [show-borders]="true" (error)="onError($event)" (on-progress)="onProgress($event)"
                (after-load-complete)="completeLoadPDF($event)"
                [render-text]="true">
            </pdf-viewer>
        </div>
        <div class="modal-footer">
        </div>
        </ng-template>

      <ng-template #agreementView let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">AGREEMENT</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> 
            <app-loader *ngIf="loaderPdf"></app-loader>
            <p *ngIf="errorLoader">Error Loading PDF</p>
            <pdf-viewer [src]="(pathPDF)" [show-all]="true" [stick-to-page]="true"
                [zoom]="1.0" [original-size]="false" [autoresize]="true"
                [show-borders]="true" (error)="onError($event)" (on-progress)="onProgress($event)"
                (after-load-complete)="completeLoadPDF($event)"
                [render-text]="true">
            </pdf-viewer>
        </div>
        <div class="modal-footer">
        </div>
        </ng-template>

      <ng-template #checklistView let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">CHECKLIST</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> 
            <app-loader *ngIf="loaderPdf"></app-loader>
            <p *ngIf="errorLoader">Error Loading PDF</p>
            <pdf-viewer [src]="(pathPDF)" [show-all]="true" [stick-to-page]="true"
                [zoom]="1.0" [original-size]="false" [autoresize]="true"
                [show-borders]="true" (error)="onError($event)" (on-progress)="onProgress($event)"
                (after-load-complete)="completeLoadPDF($event)"
                [render-text]="true">
            </pdf-viewer>
        </div>
        <div class="modal-footer">
        </div>
        </ng-template>

      <!-- <div class="row m-0">
        <div class="col-md-12">
          <div class="row status-det-wrapper">
            <div class="col-md-12 p-0">
              <div class="row">
                <div class="col-md-12">
                  <div class="appln-subhdr">
                    <h5>EXISTING ACCREDITATION OR CERTIFICATION GRANTED TO THE ORGANIZATION</h5>
                  </div>
                  <hr>
                </div>
              </div>
              <div class="row m-0">
                <div class="col-md-6">
                  <div class="org_hdr">
                    <p>Does the Organization hold any other Accreditation’s?</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-subheader-desc form_org_data">
                      <mat-radio-button>Yes</mat-radio-button>
                      <mat-radio-button>No</mat-radio-button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-appln pt-0">
                    <table>
                      <tr>
                        <th>Name of Scheme</th>
                        <th>Name of Accreditation Body</th>
                        <th>Scope of Accreditation & Certificate No</th>
                        <th>Expiry Date of Certificate</th>
                      </tr>
                      <tr>
                        <td>ISO/IEC 17025</td>
                        <td>Chris Estrada</td>
                        <td>Testing Laboratory & 006-1596</td>
                        <td>21-08-2021</td>
                      </tr>
                      <tr>
                        <td>ISO/IEC 17025</td>
                        <td>Chris Estrada</td>
                        <td>Testing Laboratory & 006-1596</td>
                        <td>21-08-2021</td>
                      </tr>
                      <tr>
                        <td>ISO/IEC 17025</td>
                        <td>Chris Estrada</td>
                        <td>Testing Laboratory & 006-1596</td>
                        <td>21-08-2021</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      
      <div class="row m-0">
        <div class="col-md-12">
          <div class="row">
              <div class="col-md-12">
                  <div class="appln-subhdr">
                      <h5>UNDERTAKING</h5>
                  </div>
                  <hr>
              </div>
          </div>
          <div class="row status-det-wrapper">
            <div class="col-md-12">
              <div class="auth_wrapper">
                <div class="authData">
                  I confirm that the information provided in this application form is true and correct
                </div>
                <div class="authData">I acknowledge that I have read and understood and confirm to abide by the 
                  <a href="javascript:void(0)"  (click)="openView(agreementView, 'agreement')">Accreditation Agreement</a> and request to provide us with a word agreement form for signature
                </div>
                <div class="authData">I require ILA MRA "Laboratories" <a href="javascript:void(0)"  (click)="openView(ILAView, 'ILA')">Agreement</a>.</div>

                <div class="authData">I confirm that the below documents are available and will be furnished once requested by EIAC:</div>
              </div>
              <div class="auth-details">
                  <table>
                      <tr>
                          <td width="1%"><span class="icon-tick"></span></td>
                          <td>Quality Manual</td>
                      </tr>
                      <tr>
                          <td><span class="icon-tick" [ngStyle]="{'color':'#B54150'}"></span></td>
                          <td>
                            <a href="javascript:void(0)"  (click)="openView(checklistView, 'checklist')">Filled In Document Review Checklist based on the related standard </a>(for 1st submission only)
                          </td>
                      </tr>
                      <tr>
                          <td><span class="icon-tick"></span></td>
                          <td>Minutes/Report of last Management Review</td>
                      </tr>
                      <tr>
                          <td><span class="icon-tick"></span></td>
                          <td>Report of last Internal Audit</td>
                      </tr>
                      <tr>
                          <td><span class="icon-tick"></span></td>
                          <td>Participation in PT/ILC/Measurement Audit</td>
                      </tr>
                      <tr>
                          <td><span class="icon-tick"></span></td>
                          <td>List of key staff and Organizational Structure if not mentioned in the QM</td>
                      </tr>
                      <tr>
                          <td><span class="icon-tick" [ngStyle]="{'color':'#B54150'}"></span></td>
                          <td>Internal Procedures (as per the accreditation criteria)</td>
                      </tr>
                      <tr>
                          <td><span class="icon-tick" [ngStyle]="{'color':'#B54150'}"></span></td>
                          <td>Minutes/Report of last Management Review</td>
                      </tr>
                      <tr>
                          <td><span class="icon-tick" [ngStyle]="{'color':'#B54150'}"></span></td>
                          <td>Report of last Internal Audit</td>
                      </tr>
                      <tr>
                          <td><span class="icon-tick" [ngStyle]="{'color':'#B54150'}"></span></td>
                          <td>Participation in PT/ILC/Measurement Audit</td>
                      </tr>
                      <tr>
                          <td><span class="icon-tick" [ngStyle]="{'color':'#B54150'}"></span></td>
                          <td>List of key staff and Organizational Structure if not mentioned in the QM</td>
                      </tr>
                      <tr>
                        <td><span class="icon-tick" [ngStyle]="{'color':'#B54150'}"></span></td>
                        <td>CMC calculations (for calibration laboratory)</td>
                      </tr>
                  </table>
              </div>
              <div class="undertaking-last">
                <div class="under_wrapper">
                  <div class="recommend">
                    <span class="confirm">I recommend the visit to be conducted in the 
                      <a href="javascript:void(0)" [ngStyle]="{'cursor':'none'}">
                        {{recommVisit}}
                      </a> quarter of the year.</span>
                  </div>
                  <div class="date_undertake" *ngIf="applicantDetails != undefined && applicantDetails.application_date != undefined">
                      <span>Date : {{applicantDetails.application_date | date:'dd-MM-yyyy'}}</span>
                  </div>
                </div>
                <div class="under_wrapper wrapper_name">
                  <div class="signature_under">
                    <img src="../../../../../../assets/images/g10.svg" alt="">
                  </div>
                  <div class="sign_name">
                    <h5>{{technicalManager?.name}}</h5>
                    <p>Technical Manager</p>
                  </div>
                </div>
              </div>
              <div class="undertaking-last">
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0 appn-cnt-data" *ngIf="paymentDetails && paymentDetails!= ''">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="appln-subhdr">
                <h5>PAYMENT INFORMATION</h5>
              </div>
            </div>
          </div>
          <div class="row status-det">
              <div class="col-md-12">
                <div class="table-appln">
                  <table>
                    <tr>
                      <td>Voucher Code</td>
                      <td>{{paymentDetails?.voucher_code}}</td>
                      <td>Payment Date</td>
                      <td>{{paymentDetails?.voucher_date | date:'dd-MM-yyyy'}}</td>
                    </tr>
                    <tr>
                      <td>Payment Amount</td>
                      <td>AED {{paymentDetails?.amount}}</td>
                      <td>Transaction No</td>
                      <td>{{paymentDetails?.transaction_no}}</td>
                    </tr>
                    <tr>
                      <td>Payment Method</td>
                      <td>{{paymentDetails?.payment_method}}</td>
                      <td>Payment Made By</td>
                      <td>{{paymentDetails?.payment_method}}</td>
                    </tr>
                    <tr>
                      <td>Mobile Number</td>
                      <td colspan="3">+{{paymentDetails?.mobile_no}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md-12">
          <button class="submit-bttn submit-health" (click)="uiDialog.openPDFViewer(_constant.mediaPath,serviceDetail.form_pdf)"  [ngStyle]="{'font-weight':'bold'}">DOWNLOAD APPLICATION</button>
          <!-- <div class="details status_bttn">
            <a href="javascript:void(0)">Download Application</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>