<!-- <p>trainer-service-list works!</p> -->
<app-loader *ngIf="!loader"></app-loader>
<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard-table">
            <flash-messages></flash-messages>
            <div class="row mb-4">
                <div class="col-md-8">                    
                    <div class="dashbrd-hdr">
                        <h3>Registration Status</h3>  
                    </div>
                </div>
                <div class="col-md-4"> 
                    <div class="tbl-filter-data">
                        <ul>
                            <li>
                                <div class="filter">
                                    <a href="javascript:void(0)" class="border-right"><span class="icon-switch"></span></a>
                                    <a href="javascript:void(0)" (click)="filterSearchSec()"><span class="icon-filter"></span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="row m-0">
                <div class="col-md-4">
                    <div class="user-details">
                        <mat-form-field class="cab-data">
                            <mat-label>Export As</mat-label>                             
                            <mat-select placeholder="Export" (selectionChange)="exportFile()"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="exportAs" required>
                                <mat-option value="csv">Export as CSV</mat-option>
                                <mat-option value="xls">Export as XLS</mat-option>
                                <!-- <mat-option value="pdf">Export as PDF</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="advSearch" class="tbl-filter-data">
                <div class="filter-dash filter_certification">
                    <div class="close-bttn">
                        <span class="icon-close" (click)="filterSearchSec()"></span>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-4">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Application No</mat-label> 
                                <input type="text" matInput [(ngModel)]="applicationNo" placeholder="Search by Application No" (keypress)="_service.inputFilter($event, _service.regExNumb)">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Registration Type</mat-label>                             
                                    <mat-select placeholder="Select" 
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="selectRegTypeValue" required>
                                        <mat-option *ngFor="let item of selectRegType;" [value]="item.value">{{item.title}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Payment Status</mat-label>                              
                                    <mat-select placeholder="Select" 
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="paymentStatusValue" required>
                                        <mat-option value="paid">Paid</mat-option>
                                        <mat-option value="unpaid">Unpaid</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row m-0">
                        <div class="col-md-12"> 
                            <div class="filter-search">
                                <a href="javascript:void(0)" (click)="filterSearchSubmit()" class="search-fil">SEARCH</a>
                                <a href="javascript:void(0)" (click)="filterSearchReset('load')">RESET</a>
                            </div>         
                        </div>
                    </div>
                </div>
                
            </ng-container>
        <div class="table-dashboard-cont">
            <div class="row m-0">
                <div class="col-md-12 p-0">
                    
                    <table id="accreditation-service-export">
                        <tr>
                            <th>Application No
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'id', curSortDir.id)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.id"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.id"></span>
                                </a>
                            </th>
                            <th>Application Date
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'created_date', curSortDir.created_date)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.created_date"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.created_date"></span>
                                </a>
                            </th>
                            <th>CAB Name/CAB Code</th>
                            <th width="15%">Status
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'application_status', curSortDir.application_status)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.application_status"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.application_status"></span>
                                </a>
                            </th>
                            
                            <th>Registration Type
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'form_meta', curSortDir.form_meta)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.form_meta"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.form_meta"></span>
                                </a>
                            </th>
                            <th>Payment Status
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'payment_status', curSortDir.payment_status)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.payment_status"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.payment_status"></span>
                                </a>
                            </th>
                            
                            <th>Action</th>
                        </tr>
                    <ng-container *ngIf="trainerdata != undefined && trainerdata.length > 0">
                        <tr *ngFor="let item of trainerdata | paginate: { itemsPerPage: pageLimit, totalItems: pageTotal, currentPage: pageCurrentNumber }; let i2 = index;">
                            <td class="fnt-clr">
                                <a href="javascript:void(0)" routerLink="/dashboard/operations/registration-service-details/{{item.id}}" title="View" alt="View">
                                {{item.id}}</a></td>
                            <td>
                                {{item.created | date :'dd-MMM-yyyy' }}
                            </td>
                            <td>
                                <ng-container *ngIf="item.cabDetails != undefined && item.cabDetails.length > 0">
                                    {{item.cabDetails[0].cab_name}} / {{item.cabDetails[0].cab_code}}
                                </ng-container>
                            </td>
                            <td [ngClass]="{'pending': (item.application_status === 'pending' || item.application_status === 'payment_pending' || item.application_status == 'application_process'  || item.application_status == 'under_process'), 'under-review':item.application_status === null || item.application_status === 'under_review', 'complete': item.application_status === 'complete', 'draft': item.application_status === 'draft' }">
                                <span *ngIf="item.application_status == 'pending'">Pending</span>
                                <span *ngIf="item.application_status == 'draft'">Draft</span>
                                <span *ngIf="item.application_status == 'application_process'">Application Process</span>
                                <span *ngIf="item.application_status == 'under_process'">Under Process</span>
                                <span *ngIf="item.application_status == 'payment_pending'">Payment Pending</span>
                                <span *ngIf="item.application_status == null || item.application_status === 'under_review'">Under Review</span>
                                <span *ngIf="item.application_status == 'complete'">Complete</span>
                            </td>
                            
                            <td>
                                <span *ngIf="item.form_meta == 'work_permit'">Work Permit</span>
                                <span *ngIf="item.form_meta == 'no_objection'">No Objection Certificate</span>
                                <span *ngIf="item.form_meta == 'work_activity'">Work Activity Permit</span>
                            </td>
                            <td [ngClass]="{'complete': item.payment_status == 'paid', 'under-review':item.payment_status === null , 'under-review':item.payment_status === 'pending'}">
                                <span *ngIf="item.payment_status == 'paid'">Paid</span>
                                <span *ngIf="item.payment_status == 'pending'">Unpaid</span>
                                <span *ngIf="item.payment_status == null">Unpaid</span>
                            </td>                            
                            <td class="action fnt-clr">
                                <ng-container *ngIf="item.form_meta == 'work_permit'">
                                    <a href="javascript:void(0)" [hidden]="editVisible(item)" alt="Edit" routerLink="/dashboard/cab_client/work-permit-form/{{item.id}}"><span class="icon-edit"></span></a>
                                </ng-container>
                                <ng-container *ngIf="item.form_meta == 'no_objection'">
                                    <a href="javascript:void(0)" [hidden]="editVisible(item)" alt="Edit" routerLink="/dashboard/cab_client/no-objection-certificate-form/{{item.id}}"><span class="icon-edit"></span></a>
                                </ng-container>
                                <ng-container *ngIf="item.form_meta == 'work_activity'">
                                    <a href="javascript:void(0)"  [hidden]="editVisible(item)" alt="Edit" routerLink="/dashboard/cab_client/work-permit-form/{{item.id}}"><span class="icon-edit"></span></a>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="dataLoad && trainerdata.length == 0">
                        <tr>
                            <td colspan="5">
                                No Records
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="!dataLoad">
                        <tr>
                            <td colspan="7" align="center">
                                Loading...
                            </td>
                        </tr>
                    </ng-container>
                    </table>
                    <ng-container *ngIf="trainerdata != undefined && trainerdata.length > 0">
                        <pagination-controls (pageChange)="pageCurrentNumber = $event"></pagination-controls>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- Modal -->
       
    </div>
    </div>
</div>
