<app-loader *ngIf="!loaderData"></app-loader>
<section>
    <div class="main-menu-dir">
        <div class="pub-wrapper">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-main">
                            <!-- <h1>PROGRAM LISTING</h1> -->
                            <!-- <h1>{{pageHeading}}</h1> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="ourcourse-data">
                            <div class="progs-course">
                                <h4>Course Selected to be conducted In Premise</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="ourcourse-data">
                            <div class="progs-course">
                                <h4>Select a Course or Multiple Course from Below to request an Event</h4>
                            </div>
                            <div class="sort-data">
                                 <label for="sort">Sort By :</label>

                                <mat-form-field appearance="fill">
                                    <mat-select (selectionChange)="shortProgramListing('schedule_program_listing')" [(value)]="scheduleProgramSection">
                                    <mat-option value="">Select</mat-option>
                                        <mat-option value="coursename">Course Name</mat-option>
                                        <mat-option value="audience">Audience</mat-option>
                                        <mat-option value="date">Date</mat-option>
                                        <mat-option value="days">Days</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="allCourseTraining == ''">
                    <div class="col-md-12">
                        <div class="scheduled-prog">
                            No Data Found
                        </div>
                    </div>
                </div>
                <div class="row" *ngFor="let row2 of allCourseTraining; let i=index;">
                    <div class="col-md-12">
                        <div class="scheduled-prog">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="training-data">
                                        <h4>{{row2.course.name}}</h4>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="training-details">
                                <div class="row">
                                    <div class="col-lg-4 border-left-dash">
                                        <div class="training-main-details">
                                            <div class="training_det">
                                                <span>Audience</span>
                                            </div>
                                            <div class="training_type">
                                                <span>{{row2.target_audiance}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 border-left-dash">
                                        <div class="training-main-details">
                                            <div class="training_det">
                                                <span>Duration</span>
                                            </div>
                                            <div class="training_type">
                                                <span>{{row2.course.training_course.training_days}} Days</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 border-left-dash">
                                        <div class="training-main-details">
                                            <div class="training_det">
                                                <span>Location</span>
                                            </div>
                                            <div class="training_type">
                                                <span *ngIf="row2.course.training_course.location == 'client_premisis'">Client Premise/Eiac Training Center</span>
                                                <span *ngIf="row2.course.training_course.location == 'eiac_training_center'">Eiac Training Center</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 border-left-dash">
                                        <div class="train_det_bttn">
                                            <a style="text-decoration:none" routerLink="/training-course-detail/{{row2.id}}" href="javascript:void(0)" class="training_btn">DETAILS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="load-more-dir">
                    <a href="javascript:void(0)" *ngIf="allCourses?.length > totalRow" (click)="load_more('1')">Load More...</a>
                </div>

            </div>
        </div>
    </div>
</section>