<app-loader *ngIf="!loaderData"></app-loader>
<section>
    <div class="main-menu-dir">
        <div class="pub-wrapper">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-main">
                            <!-- <h1>PROGRAM LISTING</h1> -->
                            <!-- <h1>{{pageHeading}}</h1> -->
                        </div>
                    </div>
                </div>

                

                <!-- <div *ngIf="trainingCartArr == ''">
                    <div class="col-md-12">
                        <div class="scheduled-prog">
                            No Data Found
                        </div>
                    </div>
                </div> -->
                <ng-container *ngIf="trainingCartArr.length > 0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ourcourse-data">
                                <div class="progs-course">
                                    <h4>Course Selected to be conducted In Premise</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngFor="let row2 of trainingCartArr; let i=index;">
                        <div class="col-md-12">
                            <div class="scheduled_wrapper scheduled_data">
                                <div class="scheduled-prog">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="training-data">
                                                <h4>{{row2.course.name}}</h4>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="training-details">
                                        <div class="row">
                                            <div class="col-lg-4 border-left-dash">
                                                <div class="training-main-details">
                                                    <div class="training_det">
                                                        <span>Audience</span>
                                                    </div>
                                                    <div class="training_type">
                                                        <span>{{row2.target_audiance}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 border-left-dash">
                                                <div class="training-main-details">
                                                    <div class="training_det">
                                                        <span>Duration</span>
                                                    </div>
                                                    <div class="training_type">
                                                        <span>{{row2.course.training_course.training_days}} Days</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 border-left-dash">
                                                <div class="training-main-details">
                                                    <div class="training_det">
                                                        <span>Rates</span>
                                                    </div>
                                                    <div class="training_type">
                                                        <span>AED 200.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 border-left-dash">
                                                <div class="train_det_bttn">
                                                    <a style="text-decoration:none" routerLink="/dashboard/cab_client/training-inpremise-details/{{row2.id}}" href="javascript:void(0)" class="training_btn">DETAILS</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-icn scheduled_add">
                                    <a class="icon-cross" href="javascript:void(0)" (click)="removeTraining(allCourseTraining,i)"></a>
                                </div>
                            </div>
                        </div>
                       
                    </div>
    
                    <form #ngForm1="ngForm" (ngSubmit)="onSubmit(ngForm1)" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr form_subhdr">
                                                <h5>EVENT DETAILS</h5>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                   
                                    <div class="row">
                                        <div class="col-md-4">
    
                                            <mat-form-field class="cab-data">
                                                <mat-label>Select Date</mat-label>
                                                <input matInput [matDatepicker]="select_date" 
                                                (click)="_service._openCalendar(select_date)" name="select_date" 
                                                [(ngModel)]="inPremiseForm.select_date" placeholder="Select Date" required>
                                                <mat-datepicker-toggle matSuffix [for]="select_date"></mat-datepicker-toggle>
                                                <mat-datepicker #select_date disabled="false"></mat-datepicker>
                                            </mat-form-field>
                                        </div>
    
                                        <div class="col-md-4">
                                            <!-- @{{searchCountryLists | json}} -->
                                            <mat-form-field class="cab-data">
                                                <mat-label>Select Location</mat-label>
                                                <input (keyup)="getPlaceName($event)" [matAutocomplete] = "auto" 
                                                (keypress)="_service.inputFilter($event, _service.regExName)" 
                                                matInput  placeholder="Select Location" name="select_location" [(ngModel)]="inPremiseForm.select_location">
                                                <mat-autocomplete #auto = "matAutocomplete" >
                                                    <mat-option *ngFor = "let searchCountryList of searchCountryLists" [value] = "searchCountryList.place_name">
                                                    {{searchCountryList.place_name}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>
    
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>No. of Candidate</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" placeholder="No. of Candidate" name="no_of_candidate" [(ngModel)]="inPremiseForm.no_of_candidate">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="bttns-health bttn-staff justify-content-end">
                                                <button class="submit-bttn submit-health">SUBMIT</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </form>
                </ng-container>
                

                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="ourcourse-data">
                            <div class="progs-course">
                                <h4>Select a Course or Multiple Course from Below to request an Event</h4>
                            </div>
                            <div class="sort-data">
                                 <label for="sort">Sort By :</label>

                                <mat-form-field appearance="fill">
                                    <mat-select (selectionChange)="shortProgramListing('schedule_program_listing')" [(value)]="scheduleProgramSection">
                                    <mat-option value="">Select</mat-option>
                                        <mat-option value="coursename">Course Name</mat-option>
                                        <mat-option value="audience">Audience</mat-option>
                                        <mat-option value="date">Date</mat-option>
                                        <mat-option value="days">Days</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="allCourseTraining == ''">
                    <div class="col-md-12">
                        <div class="scheduled-prog">
                            No Data Found
                        </div>
                    </div>
                </div>
                <div class="row" *ngFor="let row2 of allCourseTraining; let i=index;">
                    <div class="col-md-12">
                        <div class="scheduled_wrapper scheduled_data">
                            <div class="scheduled-prog">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="training-data">
                                            <h4>{{row2.course.name}}</h4>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                <div class="training-details">
                                    <div class="row">
                                        <div class="col-lg-4 border-left-dash">
                                            <div class="training-main-details">
                                                <div class="training_det">
                                                    <span>Audience</span>
                                                </div>
                                                <div class="training_type">
                                                    <span>{{row2.target_audiance}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 border-left-dash">
                                            <div class="training-main-details">
                                                <div class="training_det">
                                                    <span>Duration</span>
                                                </div>
                                                <div class="training_type">
                                                    <span>{{row2.course.training_course.training_days}} Days</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 border-left-dash">
                                            <div class="training-main-details">
                                                <div class="training_det">
                                                    <span>Rates</span>
                                                </div>
                                                <div class="training_type">
                                                    <span>AED 2500.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 border-left-dash">
                                            <div class="train_det_bttn">
                                                <a style="text-decoration:none" routerLink="/dashboard/cab_client/training-inpremise-details/{{row2.id}}" href="javascript:void(0)" class="training_btn">DETAILS</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-icn scheduled_add">
                                <a href="javascript:void(0)" class="icon-add" (click)="addTraining(allCourseTraining,i,row2.id)"></a>
                            </div>
                        </div>
                        
                    </div>


                </div>
                <div class="load-more-dir">
                    <a href="javascript:void(0)" *ngIf="allCourses?.length > totalRow" (click)="load_more('1')">Load More...</a>
                </div>

            </div>
        </div>
    </div>
</section>