<!-- <p>trainer-service-list works!</p> -->
<app-loader *ngIf="!loader"></app-loader>
<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard-table">
            <flash-messages></flash-messages>
            <div class="row mb-4">
                <div class="col-md-8">                    
                    <div class="dashbrd-hdr">
                        <h3>Accreditation Service</h3> 
                    </div>
                </div>
                <div class="col-md-4"> 
                    <div class="tbl-filter-data">
                        <ul>
                            <li>
                                <div class="filter">
                                    <!-- <a href="javascript:void(0)" class="border-right"><span class="icon-switch"></span></a>
                                    <a href="javascript:void(0)" (click)="filterSearchSec()"><span class="icon-filter"></span></a> -->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="advSearch" class="tbl-filter-data">
                <div class="filter-dash">
                    <div class="close-bttn">
                        <span class="icon-close" (click)="filterSearchSec()"></span>
                    </div>
                <div class="row m-0">
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Search by Course ID</mat-label> 
                            <input type="text" matInput [(ngModel)]="selectCode" placeholder="Search by CODE">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Search by Fees</mat-label> 
                            <input matInput type="number" [(ngModel)]="selectFees" placeholder="Search by Fees">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Select Course Type</mat-label>                             
                                <mat-select placeholder="Select" 
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="selectCustomCourse" required>
                                    <mat-option *ngFor="let item of selectCustomCourses;" [value]="item.value">{{item.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row m-0" >
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Select Agreement Status</mat-label>                             
                                <mat-select placeholder="Select Status" 
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="selectAgreementStatus" required>
                                    <mat-option *ngFor="let item of agreementStatus;" [value]="item.value">{{item.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-details">
                            <mat-form-field class="cab-data">
                                <mat-label>Select Payment Status</mat-label>                             
                                <mat-select placeholder="Select Status" 
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="selectPaymentStatus" required>
                                    <mat-option *ngFor="let item of paymentStatus;" [value]="item.value">{{item.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-md-12"> 
                        <div class="filter-search">
                            <a href="javascript:void(0)" (click)="filterSearchSubmit()" class="search-fil">SEARCH</a>
                            <a href="javascript:void(0)" (click)="filterSearchReset()">RESET</a>
                        </div>         
                    </div>
                    <!-- <div class="col-md-4"> 
                        
                        <div class="add-data">
                            <a href="javascript:void(0)" (click)="filterSearchSubmit()">SEARCH</a>
                        </div>   
                        <div class="add-data">
                            <a href="javascript:void(0)" (click)="filterSearchReset()">RESET</a>
                        </div>                    
                    </div> -->
                </div>
                </div>
                
            </ng-container>
            
        
        <div class="table-dashboard-cont">
            <div class="row m-0">
                <div class="col-md-12 p-0">
                    <!-- @{{trainerdata | json}} -->
                    <table>
                        <tr>
                            <th>Application No
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'id', curSortDir.id)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.id"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.id"></span>
                                </a>
                            </th>
                            <th>Application Date
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'created_date', curSortDir.created_date)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.created_date"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.created_date"></span>
                                </a>
                            </th>
                            <th width="15%">Status
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'accr_status', curSortDir.accr_status)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.accr_status"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.accr_status"></span>
                                </a>
                            </th>
                            <!-- <th>Prelim Visit
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'prelim_visit', curSortDir.prelim_visit)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.prelim_visit"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.prelim_visit"></span>
                                </a>
                            </th> -->
                            <th>Accreditation Type
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'form_meta', curSortDir.form_meta)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.form_meta"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.form_meta"></span>
                                </a>
                            </th>
                            <th>Payment Status
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'payment_status', curSortDir.payment_status)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.payment_status"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.payment_status"></span>
                                </a>
                            </th>
                            
                            <!-- <th>Applicant
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'applicant', curSortDir.applicant)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.applicant"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.applicant"></span>
                                </a>
                            </th> -->
                            <th>Action</th>
                        </tr>
                        <!-- trainerdata.records != undefined && -->
                    <ng-container *ngIf="trainerdata != undefined && trainerdata.length > 0">
                        <tr *ngFor="let item of trainerdata | paginate: { itemsPerPage: pageLimit, totalItems: pageTotal, currentPage: pageCurrentNumber }; let i2 = index;">
                            <td class="fnt-clr">
                                <a href="javascript:void(0)" routerLink="/dashboard/operations/registration-service-details/{{item.id}}" title="View" alt="View">
                                {{item.id}}</a></td>
                            <td>
                                {{item.created | date :'dd-MMM-yyyy' }}
                            </td>
                            <td [ngClass]="{'pending': (item.accr_status === 'pending' || item.accr_status == 'draft' || item.accr_status == 'application_process'), 'under-review':item.accr_status === null || item.accr_status === 'under_review', 'complete': item.accr_status === 'complete'}">
                                <span *ngIf="item.accr_status == 'pending' || item.accr_status == 'draft'">Pending</span>
                                <span *ngIf="item.accr_status == 'application_process'">Application Process</span>
                                <span *ngIf="item.accr_status == null || item.accr_status === 'under_review'">Under Review</span>
                                <span *ngIf="item.accr_status == 'complete'">Complete</span>
                            </td>
                            <!-- <td [ngClass]="{'complete': item.is_prelim_visit == true, 'under-review':item.is_prelim_visit == false }">
                                <span *ngIf="item.is_prelim_visit == true">Yes</span>
                                <span *ngIf="item.is_prelim_visit == false">No</span>
                            </td> -->
                            <td>
                                <span *ngIf="item.form_meta == 'work_permit'">Work Permit</span>
                            </td>
                            <td [ngClass]="{'complete': item.payment_status == 'paid', 'under-review':item.payment_status === null }">
                                <span *ngIf="item.payment_status == 'paid'">Paid</span>
                                <span *ngIf="item.payment_status == 'pending'">Unpaid</span>
                                <span *ngIf="item.payment_status == null">Unpaid</span>
                            </td> 
                            <!-- <td>
                                {{item.applicantName}}
                            </td> -->
                            <td class="action fnt-clr">
                                <!-- *ngIf="(item.accr_status == null && item.accr_status === 'under_review')" -->
                                <a href="javascript:void(0)" *ngIf="(item.payment_status == 'paid' && item.accr_status != 'complete')" (click)="serviceStatus(i2,item.id)" alt="Delete"><span class="icon-tick"></span></a>
                                <!-- <a href="javascript:void(0)" *ngIf="item.accr_status == 'complete'" alt="Delete"><span class="icon-tick"></span></a> -->
                                <a href="javascript:void(0)" *ngIf="(item.accr_status == null || item.accr_status == 'application_process' || item.accr_status === 'under_review' || item.accr_status == 'pending' || item.accr_status == 'draft') && item.payment_status != 'paid'" (click)="open(courseVoucher, item.id)" alt="Upload Proforma Invoice" title="Upload Proforma Invoice"><span class="icon-document-pen"></span></a>
                               
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="dataLoad && trainerdata.length == 0">
                        <tr>
                            <td colspan="5">
                                No Records
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="!dataLoad">
                        <tr>
                            <td colspan="7" align="center">
                                Loading...
                            </td>
                        </tr>
                    </ng-container>
                    </table>
                    <ng-container *ngIf="trainerdata != undefined && trainerdata.length > 0">
                        <pagination-controls (pageChange)="pageCurrentNumber = $event"></pagination-controls>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <ng-template #courseVoucher let-modal>
            <div class="modal-header course-pop">
              <h4 class="modal-title" id="modal-basic-title">UPLOAD PROFORMA INVOICE</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span class="icon-close"></span>
              </button>
            </div>
            <div class="modal-body">                 
                <form #voucherForm="ngForm">

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="cab-data">
                                <mat-label>Voucher Number</mat-label>
                                <input type="number" [ngModelOptions]="{standalone: true}"
                                matInput placeholder="Voucher Number" 
                                [(ngModel)]="voucherSentData.voucher_no" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="cab-data">
                                <mat-label>Voucher Date</mat-label>
                                <input matInput [matDatepicker]="voucher_date"  readonly="true" placeholder="Voucher Date" 
                                name="voucher_date" (click)="_service._openCalendar(voucher_date)" 
                                [(ngModel)]="voucherSentData.voucher_date" required>
                                <mat-datepicker-toggle matSuffix [for]="voucher_date"></mat-datepicker-toggle>
                                <mat-datepicker #voucher_date  disabled="false"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="cab-data">
                                <mat-label>Amount</mat-label>
                                <input type="number" [ngModelOptions]="{standalone: true}" 
                                matInput placeholder="Amount" 
                                [(ngModel)]="voucherSentData.amount" required>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <span class="fileupload">
                                <input type="file" name="voucher_invoice"                                
                                (change)="validateFile($event, 'voucher_invoice')" required>
                                <span class="icon-attach attach-data"></span>
                            </span>
                            <p class="error" *ngIf="paymentReceiptValidation == false">Please Upload a valid file (ex: pdf)</p>
                        </div>
                    </div>
                    <div class="row" [ngStyle]="{'margin-top': '10px'}">
                        <div class="col-md-12">
                            <div class="bttns-health">
                                <button type="submit" (click)="voucherSentSubmit(voucherForm)" class="cancel-bttn">SUBMIT</button>
                                <button type="button" class="submit-bttn submit-health" (click)="modal.close('Cancel click')">CANCEL</button>
                            </div>
                            
                        </div>
                    </div>                    
                </form>
            </div>
        </ng-template>
       
    </div>
    </div>
</div>
