
<div class="main-detail">
<!-- ============================================= -->
      <div class="user-header"> 
          <div class="container-fluid p-0">
              <div class="main-dashboard-cnt">
                  <div class="row">
                      <div class="col-md-6">
                        <a routerLink="/dashboard/cab_client/training-inpremise-course">
                            <p>In Premise Course</p>
                        </a>
                      </div>
                      <div class="col-md-4">
                        <a routerLink="/dashboard/cab_client/training-public-course-list">
                            <p>Public Course</p>
                        </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
</div>
