<app-loader *ngIf="loaderData"></app-loader>
<div class="main-detail">
    <div class="conatiner-fluid p-0">
      <div class="main-dashboard-cnt">
        <div class="row m-0">
          <div class="col-md-12">
            <div class="dashbrd-hdr">
              <h3>Training</h3>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-md-6" *ngFor="let item of pageDetails; let i = index;">
              <div [ngStyle]="{'float': 'left'}" class="accreditation-container" *ngIf="item.page_path.path != '' && item.page_path.path == 'public_training'">
                <div class="acc-main">
                  <div class="accreditation-img">
                    <img [src]="_constant.mediaPath + item.page_path.image_file" alt="">
                    <div class="acc-hov acc-apply">
                        
                        <a routerLink="/dashboard/cab_client/training-public-course-list">
                            Apply Now
                        </a>
                    </div>
                  </div> 
                  <div class="accreditation-desc">
                    <div class="accred_name">
                        <p>{{item.page_title}}</p>
                    </div>
                  </div>

                </div>
              </div>


              <div class="accreditation-container" *ngIf="item.page_path.path != '' && item.page_path.path == 'in_premise_training'">
                <div class="acc-main">
                  <div class="accreditation-img">
                    <img [src]="_constant.mediaPath + item.page_path.image_file" alt="">
                    
                  </div> 
                  
                  
                  <div class="accreditation-desc training_acc">
                    <div class="accred_name">
                        <p>{{item.page_title}}</p>
                    </div>
                    <div class="accred_opts">
                        <p><a routerLink="/dashboard/cab_client/training-inpremise-course">Request Course</a></p>
                        <p>
                          <a routerLink="/dashboard/cab_client/training-inpremise-course-apply">
                              Apply Now
                          </a>
                        </p>
                    </div>
                  </div>


                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0 mb-3">
                <div class="dashbrd-hdr">
                    <h3>Training</h3> 
                </div>
            </div>
        </div>
        <div class="row">
            <ng-container *ngFor="let item of pageDetails; let row = index;">
                <div class="col-md-6 col-sm-12 p-0">
                    <div class="service-hdr-data123">
                        <div class="service_desc_sec" [ngStyle]="{'width': '100%'}">
                            <img class="service_img" [ngStyle]="{'width': '100%', 'height':'150px'}" 
                            [src]="_constant.mediaPath + item.page_path.image_file">
                        </div>
                        <div class="service_desc">
                            <ng-container *ngIf="item.page_path.path != '' && item.page_path.path == 'public_training'">
                                <a routerLink="/dashboard/cab_client/training-public-course-list">
                                    <h4>{{item.page_title}}</h4>
                                </a>
                            </ng-container>
                            <ng-container *ngIf="item.page_path.path != '' && item.page_path.path == 'in_premise_training'">
                                <h4>{{item.page_title}}</h4>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>            
        </div>
    </div>
</div> -->
