
<!-- <div class="main-detail">
      <div class="user-header"> 
          <div class="container-fluid p-0">
              <div class="main-dashboard-cnt">
                  <div class="row">
                      <div class="col-md-6">
                        <a routerLink="/dashboard/cab_client/training-inpremise-course">
                            <p>In Premise Course</p>
                        </a>
                      </div>
                      <div class="col-md-4">
                        <a routerLink="/dashboard/cab_client/training-public-course-list">
                            <p>Public Course</p> 
                        </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
</div> -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0 mb-3">
                <div class="dashbrd-hdr">
                    <h3>Training</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 p-0">
                <div class="service-hdr-data123">
                    <div class="service_desc_sec" [ngStyle]="{'width': '100%'}">
                        <img class="service_img" [ngStyle]="{'width': '100%', 'height':'150px'}" src="https://dev-service.eiac.gov.ae/media/service/thumb_image/Workpermit_vQImNHw.jpg">
                    </div>
                    <div class="service_desc">
                        <a routerLink="/dashboard/cab_client/training-public-course-list">
                            <h4 >Public Course</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 p-0">
                <div class="service-hdr-data123">
                    <div class="service_desc_sec" [ngStyle]="{'width': '100%'}">
                        <img class="service_img" [ngStyle]="{'width': '100%', 'height':'150px'}" src="https://dev-service.eiac.gov.ae/media/service/thumb_image/no-objection_thumb_xmBhVWJ_W6JkxDL.jpg">
                    </div>
                    <div class="service_desc">
                        <a href="javascript:void(0)">
                            <h4 >In Premise Course</h4>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
