.accreditation-container { border: 1px solid #DFDFDF; background: #F9F9F9; text-align: center; font-size: 24px; font-family: 'Dubai Medium'; color: #3A3A3A; margin-bottom: 25px; }
.accreditation-desc p { margin: 0; padding: 20px; }
.acc-hov { display: none; }
.accreditation-img { position: relative; border-bottom: 1px solid  #DFDFDF; height: 330px; overflow: hidden;}
.accreditation-img img { width: 100%; height: 100%; object-fit: cover; }
.accreditation-img:hover .acc-hov {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.acc-apply a { color: #fff; font-size: 18px; font-family: 'Dubai Bold'; background: rgba(181, 65, 80, 1); padding: 10px 25px; letter-spacing: 1px; }
.acc-apply a:hover { text-decoration: none; color: #fff; }
