<!-- <p>trainer-service-list works!</p> -->
<app-loader *ngIf="!loader"></app-loader>
<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard-table">
            <flash-messages></flash-messages>
            <div class="row mb-4">
                <div class="col-md-8">                    
                    <div class="dashbrd-hdr">
                        <h3>Certifications</h3> 
                    </div>
                </div>
                <!-- <div class="col-md-4"> 
                    <div class="tbl-filter-data">
                        <ul>
                            <li>
                                <div class="filter">
                                    <a href="javascript:void(0)" (click)="filterSearchSec()"><span class="icon-filter"></span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>


            
            <ng-container class="tbl-filter-data">
                <div class="filter-dash filter_certification">
                    <div class="row m-0">
                        <div class="col-md-4">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                    <mat-label>Filter Columns</mat-label> 
                                    <mat-select placeholder="Select" [ngModelOptions]="{standalone: true}" (selectionChange)="changeFilter($event)"
                                    [(ngModel)]="searchValue">
                                        <mat-option value="cab_name">CAB Name</mat-option>
                                        <mat-option value="cab_code">CAB Code</mat-option>
                                        <mat-option value="contact">Contact Person</mat-option>
                                        <mat-option value="email">Email</mat-option>
                                        <mat-option value="city">City</mat-option>
                                        <mat-option value="location_city_country">Country</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> 
                        </div>

                        <div class="col-md-4 slectType" id="textType">
                            <div class="user-details">
                                <mat-form-field class="cab-data">
                                <mat-label>Search Text</mat-label> 
                                <input type="text" matInput [(ngModel)]="searchText" placeholder="Search Text">                                
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="slectType col-md-4" id="location_city_country"  [ngStyle]="{'display': 'none'}">  
                            <div class="col-md-12"> 
                                <div class="user-details"> 
                                    <mat-form-field class="cab-data">
                                        <mat-label>Country</mat-label>                              
                                        <mat-select placeholder="Acreditation Type" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText">
                                            <!-- <input class="form-control form-control-sm w-100" #myInput  type="text" 
                                                    (keyup)="searchCountry($event)" (keydown)="$event.stopPropagation()" autocomplete="off" placeholder="Search">
                                                    <mat-divider></mat-divider> -->
                                            <mat-option *ngFor="let item of loadCountryLists;" [value]="item.CountryName">{{item.CountryName}}</mat-option>                                        
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-md-12"> 
                                <div class="filter-search">
                                    <a href="javascript:void(0)" (click)="filterSearchSubmit()" class="search-fil">SEARCH</a>
                                    <ng-container *ngIf="userType == 'operations'">
                                    <a href="javascript:void(0)" (click)="exportFile()" class="space-left">EXPORT</a>
                                    </ng-container>
                                </div>         
                            </div>
                        </div>
                    </div>
                </div>                
            </ng-container>
            <div class="row m-0">
                <div class="col-md-4">
                    <div class="user-details" [ngStyle]="{'width': '100px'}">
                        <mat-form-field class="cab-data">
                            <mat-label>Show</mat-label>                              
                            <mat-select placeholder="Show" (selectionChange)="showData()"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="show_data">
                                <mat-option value="25">25</mat-option>
                                <mat-option value="50">50</mat-option>
                                <mat-option value="75">75</mat-option>
                                <mat-option value="100">100</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            
        
        <div class="table-dashboard-cont mt-3">
            <div class="row m-0">
                <div class="col-md-12 p-0">
                    <!-- @{{trainerdata | json}} -->
                    <table id="accreditation-service-export">
                        <tr>
                            <th [ngStyle]="{'font-size':'14px'}">Certificate No
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'id', curSortDir.id)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.id"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.id"></span>
                                </a>
                            </th>
                            <th [ngStyle]="{'font-size':'14px'}">Certificate Type
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'certificate_type', curSortDir.certificate_type)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.certificate_type"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.certificate_type"></span>
                                </a>
                            </th>
                            <th width="15%" [ngStyle]="{'font-size':'14px'}">CAB Type
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'cab_type', curSortDir.cab_type)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.cab_type"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.cab_type"></span>
                                </a>
                            </th>
                            <th [ngStyle]="{'font-size':'14px'}">CAB Status
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'cab_status', curSortDir.cab_status)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.cab_status"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.cab_status"></span>
                                </a>
                            </th>
                            <th [ngStyle]="{'font-size':'14px'}">Certificate Valid From
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'start_date', curSortDir.start_date)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.start_date"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.start_date"></span>
                                </a>
                            </th>
                            <th [ngStyle]="{'font-size':'14px'}">Certificate Valid To
                                <a href="javascript:void(0)" (click)="sortedList(trainerdata, 'to_date', curSortDir.to_date)">
                                    <span class="icon-arrow-down" *ngIf="!curSortDir.to_date"></span>
                                    <span class="icon-arrow-up"  *ngIf="curSortDir.to_date"></span>
                                </a>
                            </th>
                            <th>Action</th>
                        </tr>
                    <ng-container *ngIf="trainerdata != undefined && trainerdata.length > 0">
                        <tr *ngFor="let item of trainerdata | paginate: { itemsPerPage: pageLimit, totalItems: pageTotal, currentPage: pageCurrentNumber }; let i2 = index;">
                            <td class="fnt-clr">
                                <a href="javascript:void(0)" routerLink="/dashboard/operations/accreditation-service-details/{{item.id}}" title="View" alt="View">
                                {{item.id}}</a></td>
                            <td>                                
                            </td>
                            <td>                                
                            </td>
                            <td>                                
                            </td>
                            <td>                               
                            </td>
                            <td>                                
                            </td>                            
                            <td class="action fnt-clr">                                
                                <a href="javascript:void(0)"  alt="View">
                                    <span class="icon-eye"></span>
                                </a>
                                <a href="javascript:void(0)"  alt="View">
                                    <span class="icon-download"></span>
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="dataLoad && trainerdata.length == 0">
                        <tr>
                            <td colspan="6">
                                No Records
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="!dataLoad">
                        <tr>
                            <td colspan="6" align="center">
                                Loading...
                            </td>
                        </tr>
                    </ng-container>
                    </table>
                    <ng-container *ngIf="trainerdata != undefined && trainerdata.length > 0" >
                        <pagination-controls (click)="paginationReset()" (pageChange)="pageCurrentNumber = $event"></pagination-controls>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <ng-template #courseVoucher let-modal>
            <div class="modal-header course-pop">
              <h4 class="modal-title" id="modal-basic-title">UPLOAD PROFORMA INVOICE</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span class="icon-close"></span>
              </button>
            </div>
            <div class="modal-body">                 
                <form #voucherForm="ngForm">

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="cab-data">
                                <mat-label>Voucher Number</mat-label>
                                <input type="number" [ngModelOptions]="{standalone: true}" required="true"
                                matInput placeholder="Voucher Number" 
                                [(ngModel)]="voucherSentData.voucher_no">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="cab-data">
                                <mat-label>Voucher Date</mat-label>
                                <input matInput [matDatepicker]="voucher_date" 
                                (click)="_service._openCalendar(voucher_date)" 
                                readonly="true" 
                                [min]="minDate" name="voucher_date" 
                                [(ngModel)]="voucherSentData.voucher_date" placeholder="Voucher Date" required>
                                <mat-datepicker-toggle matSuffix [for]="voucher_date"></mat-datepicker-toggle>
                                <mat-datepicker #voucher_date disabled="false"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="cab-data">
                                <mat-label>Amount</mat-label>
                                <input type="number" [ngModelOptions]="{standalone: true}" required="true"
                                matInput placeholder="Voucher Number" 
                                [(ngModel)]="voucherSentData.amount">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <span class="fileupload">
                                <input type="file" name="voucher_invoice"                                
                                (change)="validateFile($event, 'voucher_invoice')" required>
                                <span class="icon-attach attach-data"></span>
                            </span>
                            <p class="error" *ngIf="paymentReceiptValidation == false">Please Upload a valid file (ex: pdf)</p>
                        </div>
                    </div>
                    <div class="row" [ngStyle]="{'margin-top': '10px'}">
                        <div class="col-md-12">
                            <div class="bttns-health">
                                <button type="submit" (click)="voucherSentSubmit(voucherForm)" class="cancel-bttn">SUBMIT</button>
                                <button type="button" class="submit-bttn submit-health" (click)="modal.close('Cancel click')">CANCEL</button>
                            </div>
                            
                        </div>
                    </div>                    
                </form>
            </div>
            <!-- <div class="modal-footer">
            </div> -->
          </ng-template>
          <!-- Modal -->
          <!-- Modal VIEW -->
        <ng-template #courseView let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">COURSE VIEW</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"> 
                <ng-container *ngIf="selectCourseData != undefined">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Course Code</h5>
                    </div>
                    <div class="col-md-6">
                        <span [innerHTML]="selectCourseData.course_code"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Agreement Status</h5>
                    </div>
                    <div class="col-md-6">
                        <span [innerHTML]="selectCourseData.agreement_status | titlecase"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Payment Status</h5>
                    </div>
                    <div class="col-md-6">
                        <span [innerHTML]="selectCourseData.payment_status | titlecase"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Course Type</h5>
                    </div>
                    <div class="col-md-6">
                        <span [innerHTML]="(selectCourseData.training_course_type === 'custom_course') ? 'Custom Course' : 'Public Course'"></span>
                    </div>
                </div>
                <div class="row" *ngIf="selectCourseData.customCourseListDetails != undefined && selectCourseData.customCourseListDetails.length > 0">
                    <div class="col-md-6">
                        <h5>Course Information</h5>
                    </div>
                    <div class="col-md-6">
                        <ng-container *ngIf="selectCourseData.customCourseListDetails != undefined && selectCourseData.customCourseListDetails.length > 0">
                            <ng-container *ngFor="let item of selectCourseData.customCourseListDetails; let row = index">
                                {{row + 1}}.&nbsp;{{item.name}}<br/>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
                </ng-container>
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">CANCEL</button> -->
            </div>
          </ng-template>
          <!-- Modal -->
          <!-- Modal DELETE -->
        <custom-modal *ngIf="deleteConfirm" (onDeleteAction)="deleteCourse(selectDeleteID)" [parent]="this" [modalType]="'delete'"></custom-modal>
        <!-- <ng-template #courseDelete let-modal>            
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Delete Confirmation</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"> 
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">CANCEL</button>  
              <button type="button" class="btn btn-outline-dark" (click)="deleteCourse(selectDeleteID)">OK</button>
            </div>
          </ng-template> -->
        <!--  -->
    </div>
    </div>
</div>
