<app-loader *ngIf="!loaderData"></app-loader>
<div class="main-content">
    <section>
        <div class="form-wrapper-course">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dashbrd-hdr">
                            <h3>Apply Public Course</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{courseDetails?.public_course.course}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="course-list">
                            <ng-container *ngIf="courseDetails?.public_course && courseDetails?.public_course.course_image !=''">
                                <div class="description-course">
                                    <img src="{{_constant.mediaPath}}{{courseDetails?.public_course.course_image}}" [alt]="courseDetails?.public_course.course"
                                    [title]="courseDetails?.public_course.course">                                   
                                </div>
                            </ng-container>
                            <ng-container *ngIf="courseDetails?.public_course && courseDetails?.public_course.course_image ===''">
                                <div class="description-course">
                                    <h3 [ngStyle]="{'text-align': 'center'}">No Image</h3>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-sm-0">
                        <div class="service-course-block">
                            <div class="course-data">
                                <div class="course-info">
                                    <h3>COURSE INFORMATION</h3>
                                </div>
                                <div class="course-info">
                                    <div class="course-det">
                                        <h5>Date : 
                                            <div  *ngIf="courseDetails?.eventDate && courseDetails?.eventDate[0].event_date; then Dateshow else Datehide" ></div>

                                            <ng-template #Dateshow>
                                                <span>{{courseDetails?.eventDate[0].event_date | date}}</span>
                                            </ng-template>
                                            <ng-template #Datehide>
                                                <span>N/A</span>
                                            </ng-template>
                                        </h5>
                                    </div>
                                    
                                    <div class="course-det">
                                        <h5>Duration : <span *ngIf="courseDetails?.public_course.training_days != ''">{{courseDetails?.public_course.training_days}} Days</span>
                                        <span *ngIf="courseDetails?.public_course.training_days == ''">N/A</span>
                                        </h5>
                                    </div>
                                </div>
                                
                                <div class="course-info">
                                    <div class="course-det">
                                        <h5 [ngStyle]="{'font-size': '21px'}">Fees in AED : <span *ngIf="courseDetails?.public_course.fees_per_trainee != ''">{{courseDetails?.public_course.fees_per_trainee}}</span>
                                        <span *ngIf="courseDetails?.public_course.fees_per_trainee == ''">N/A</span>
                                        </h5>
                                    </div>

                                    <div class="course-det">
                                        <h5  [ngStyle]="{'font-size': '21px'}">No. of Seats Available : <span *ngIf="courseDetails?.capacity != ''">
                                            {{courseDetails?.seat_availability}} of  {{courseDetails?.capacity}}</span>
                                        <span *ngIf="courseDetails?.capacity == ''">N/A</span>
                                        </h5>
                                    </div>
                                </div>

                                <div class="course-info">
                                    <h5>Trainer : <span *ngIf="courseDetails?.tutor != undefined">{{courseDetails?.tutor.name}}</span>
                                    <span *ngIf="courseDetails?.tutor == undefined">N/A</span>
                                    </h5>
                                </div>

                                <div class="course-info">
                                    <h5>Location : <span *ngIf="courseDetails?.location == 'eiac_training_center'">EIAC Training Center</span>
                                    <span *ngIf="courseDetails?.location != '' && courseDetails?.location != 'eiac_training_center'">N/A</span>
                                    </h5>
                                </div>

                                <div class="course-info">
                                    <h5>Audience : 
                                        <!-- <span *ngIf="courseDetails?.allTargatedAud && courseDetails?.allTargatedAud[0].target_aud_name.title">{{courseDetails?.allTargatedAud[0].target_aud_name.title}}</span> -->
                                    <!-- <span *ngIf="!courseDetails?.allTargatedAud && !courseDetails?.allTargatedAud[0].target_aud_name.title">{{courseDetails?.allTargatedAud[0].target_aud_name.title}}</span> -->
                                      <span *ngIf="audienceData != ''">{{audienceData}}</span>
                                    </h5>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="progs-up">
                            <div class="prog-details">
                                <p [innerHtml]="courseDetails?.public_course.course_description"></p>
                            </div>                               
                        </div>
                    </div>
                </div>
                <!-- <ng-container *ngIf="curCourseAvailable > 0"> -->
                    <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="course-bttn" *ngIf="courseDetails.remaining_capacity > 0 || courseDetails.remaining_capacity == null">
                            <div class="course-btn ">
                                <a class="curs-apply" [routerLink]="['/dashboard/cab_client/training-public-course-form']" [queryParams]="{courseid: routeId}">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </ng-container>-->
            </div>
        </div>
    </section>
        
</div>