<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="login-frm">
                    <div class="logos">
                        <img src="/assets/images/logo-left.png" alt="">
                        <img src="/assets/images/logo-right.png" alt="">
                    </div>
                    <div class="login-data">
                        <div class="login-hdr">
                            <h3>Sign in to EIAC's Portal</h3>
                            <h4>Your account is verified now you can login from below link</h4>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="no-acc">
                                    <p><a href="javascript:void(0)" routerLink="/sign-in">Login Now</a></p>
                                </div>
                            </div>
                        </div>                         
                            
                    </div>

                    <div class="copyright">
                        <p>Copyright © EIAC Accreditation Center 2019, All Rights Reserved.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-0">
                <div class="bg-img"></div>
            </div>
        </div>
    </div>
</div>