<!-- <app-header-after-login></app-header-after-login>
<div class="side-data-cont">
    <app-sidebar-after-login></app-sidebar-after-login>
</div> -->
<div class="main-detail">
    <div class="conatiner-fluid">
      <div class="main-dashboard-cnt">
        <div class="row">
          <div class="col-md-6">
            <div class="dashbrd-hdr">
              <div class="dash-wrap">
                <h3>Mr. Robert Joe Williams</h3>
                <p>Technical Manager</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tab-data">
                <!-- <mat-tab-group>
                    <mat-tab label="First"> Content 1 </mat-tab>
                    <mat-tab label="Second"> Content 2 </mat-tab>
                </mat-tab-group> -->
                <ul>
                  <li><a href="javascript:void(0)">PERSONAL DETAILS</a></li>
                  <li><a href="javascript:void(0)" class="tab-active">APPLICATION INFO</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="row ">
            <div class="col-md-12 message-det">
                <div class="row appl-cnt">
                    <div class="col">
                        <div class="appln-data">
                            <h5>Date of Birth</h5>
                        </div>
                        <div class="appln-details">
                            <span>10-07-2019</span>
                        </div>
                    </div>
                    <div class="col border-left-dash">
                        <div class="appln-data">
                            <h5>Personal Email</h5>
                        </div>
                        <div class="appln-details">
                            <span>robert.williams01@gmail.com</span>
                        </div>
                    </div>
                    <div class="col border-left-dash">
                        <div class="appln-data">
                            <h5>Nationality</h5>
                        </div>
                        <div class="appln-details">
                            <span>American</span>
                        </div>
                    </div>
                    <div class="col border-left-dash">
                        <div class="appln-data">
                            <h5>Phone Number</h5>
                        </div>
                        <div class="appln-details">
                            <span>(485) 587-2351</span>
                        </div>
                    </div>
                    <div class="col border-left-dash">
                        <div class="appln-data">
                            <h5>Fax Number</h5>
                        </div>
                        <div class="appln-details">
                            <span>(485) 111 888 6363</span>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-6">
              <div class="row appln-cnt-data ">
                <div class="col-md-12 p-0">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="appln-subhdr">
                        <h5>OFFICE DETAILS</h5>
                        <!-- <hr> -->
                      </div>
                    </div>
                  </div>
                  <div class="row msg-det">
                    <div class="col-md-12">
                      <div class="table-appln">
                        <table>
                          <tr>
                            <td>Office/Institution</td>
                            <td>Navigators Software Pvt. Ltd.</td>
                          </tr>
                          <tr>
                            <td>Office Address</td>
                            <td>1002, Eastern Metropolian Bypass</td>
                          </tr>
                          <tr>
                            <td>Company Mail</td>
                            <td>robert.william@gmail.com</td>
                          </tr>
                          <tr>
                            <td>Office Phone</td>
                            <td>(485) 587-2351</td>
                          </tr>
                          <tr>
                            <td>P.o. Box Mailing Address</td>
                            <td>500 Main Street #59</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <div class="appln-subhdr">
                      <h5>TRADE LICENSE DETAILS</h5>
                      <!-- <hr> -->
                    </div>
                  </div>
                </div>
                <div class="row msg-det">
                  <div class="col-md-12">
                    <div class="table-appln messg-tbl">
                      <table>
                        <tr>
                          <td>Legal- professional Commercial/Trade License Number</td>
                          <td>TD16568794622564</td>
                        </tr>
                        <tr>
                          <td>Upload Trade License</td>
                          <td>
                            <div class="data-main-attach">
                              <div class="data-attach">
                                <h5>
                                  <a href="javascript:void(0)">tradelicense details.pdf</a>
                                </h5>
                              </div>
                              <div class="icn-appln">
                                <a href="javascript:void(0)">
                                  <span class="icon-eye"></span>
                                </a>
                                <a href="javascript:void(0)">
                                  <span class="icon-download"></span>
                                </a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-12">
              <div class="row appln-cnt-data ">
                <div class="col-md-12 p-0">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="appln-subhdr">
                        <h5>APPLICATION INFORMATION</h5>
                        <!-- <hr> -->
                      </div>
                    </div>
                  </div>
                  <div class="row msg-det">
                    <div class="col-md-12">
                      <div class="table-appln">
                        <table>
                          <tr>
                            <td>Entity Commercial Name</td>
                            <td>Navigators Software Pvt. Ltd.</td>
                          </tr>
                          <tr>
                            <td>Location</td>
                            <td>1002, Eastern Metropolian Bypass</td>
                          </tr>
                          <tr>
                            <td>Mailing Address</td>
                            <td>robert.william@gmail.com</td>
                          </tr>
                          <tr>
                            <td>Phone (with Area Code)</td>
                            <td>(485) 587-2351</td>
                          </tr>
                          <tr>
                            <td>Fax (with Area Code)</td>
                            <td>(485) 587-2351</td>
                          </tr>
                          <tr>
                            <td>Official Em ail Address</td>
                            <td>robert.william@navsoft.com</td>
                          </tr>
                          <tr>
                            <td>Official Website</td>
                            <td>www.navsoft.com</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>

