.dashbrd-hdr p { margin-bottom: 0; color: #717171; }
.message-det .appln-data h5 { color: #b19782; }
.msg-det .table-appln { padding: 0; }
.msg-det .table-appln td:last-child { border-right: 0; }
.msg-det .table-appln td:first-child { border-left: 0; width: 25%; }
.data-main-attach { display: flex; justify-content: space-between;  }