<!-- Delete Dialog -->
<ng-container *ngIf="modalType === 'delete'">
    <span id="openDialog" (click)="openDialog(deleteDialog)"></span>
    <ng-template #deleteDialog>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{_constant.deleteConfirmDialogHeader}}</h4>
        <button type="button" class="close"  id="closeDialog" aria-label="Close" (click)="closeAction()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
          <p>{{_constant.deleteConfirmText}}</p> 
      </div>
      <div class="modal-footer">
        <button type="button" id="cancelDialog" class="cancel-bttn" (click)="closeAction()">{{_constant.dialogCancelButtonText}}</button>  
        <button type="button" class="submit-bttn submit-health" (click)="deleteAction()">{{_constant.dialogOKButtonText}}</button>
      </div>
    </ng-template>
</ng-container>

<!-- View Record Dialog -->
<ng-container *ngIf="modalType === 'reject'">
  <span id="openDialog" (click)="openDialog(rejectDialog)"></span>
    <ng-template #rejectDialog >
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{_constant.rejectConfirmDialogHeader}}</h4>
        <button type="button" class="close"  id="closeDialog" aria-label="Close" (click)="closeAction()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="cab-data">
                  <mat-label>Message</mat-label>
                  <input matInput [(ngModel)]="rejectmessage" name="message" placeholder="Message" required>
              </mat-form-field>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancelDialog" class="cancel-bttn" (click)="closeAction()">{{_constant.dialogCancelButtonText}}</button>  
        <button type="button" class="submit-bttn submit-health" (click)="rejectAction()">{{_constant.dialogSubmitButtonText}}</button>
      </div>
    </ng-template>
</ng-container>