<app-loader *ngIf="!loader"></app-loader>
<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard">
            <div class="row">
                <div class="col-md-6">
                    <div class="trainer-details">
                        <div class="trainer-name">
                            <h4>{{userDetails?.first_name}} {{userDetails?.last_name}}</h4>
                            <div class="acc_verified">
                                <span class="icon-check-circle"></span>
                                <span class="tooltip_data">Account Verified</span>
                            </div>
                        </div>
                        <div class="trainer-detail">
                            <span class="trainer-data"><span class="icon-company"></span>{{step1Data?.office_address}}</span>
                            <span class="trainer-data"><span class="icon-Page"></span>{{step1Data?.office_email}}</span>
                            <span class="trainer-data"><span class="icon-call"></span>{{step1Data?.office_tel_no}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="trainer-content">
                        <div class="trainer-type">
                            <span>Designation</span>
                        </div>
                        <div class="trainer-type-data">
                            <span>{{step1Data?.designation}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="trainer-content">
                        <div class="trainer-type">
                            <span>Qualification</span>
                        </div>
                        <div class="trainer-type-data">
                            <span>{{step1Data?.office}}<span class="icon-checkmark"></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="trainer-main-details">
                        <div class="user-icons">
                            <span class="icon-user"></span>
                        </div>
                        <div class="trainer-data-det">
                            <div class="trainer-pro">
                                <span>Profile</span>

                            </div>
                            <div class="trainer-maindata trainer-update">
                                <span>Update 
                                    <a routerLink="/dashboard/{{userType}}/company-profile">
                                        <span [ngStyle]="{'color': '#FFF', 'font-size':'31px'}">></span>
                                    </a>
                                </span>
                                <!-- <span>Update<span class="icon-right-arrow"></span></span> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="trainer-main-details trainer2">
                        <div class="user-icons">
                            <span class="icon-calendar"></span>
                        </div>
                        <div class="trainer-data-det">
                            <div class="trainer-pro">
                                <span>Event</span>
                            </div>
                            <div class="trainer-maindata">
                                <span *ngIf="dashboardEvents != undefined"> 
                                    {{dashboardEvents.length}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="trainer-main-details trainer3">
                        <div class="user-icons">
                            <span class="icon-tick"></span>
                        </div>
                        <div class="trainer-data-det">
                            <div class="trainer-pro">
                                <span>Course Completed</span>
                            </div>
                            <div class="trainer-maindata">
                                <span>NA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="trainer-main-details trainer4">
                        <div class="user-icons">
                            <span class="icon-options"></span>
                        </div>
                        <div class="trainer-data-det">
                            <div class="trainer-pro">
                                <span>Course Planned</span>
                            </div>
                            <div class="trainer-maindata">
                                <span>NA</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-events">
            <div class="row m-0">
                <!-- <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>Schedule (Planned Events)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="event_timings">
                                <ul>
                                    <li><span class="date-dash">20/01/2020</span>At vero eos et accusamus et iusto odio
                                        dignissimos ducimus qui blanditiis.</li>
                                    <hr>
                                    <li><span class="date-dash">19/01/2020</span>Et harum quidem rerum facilis est et
                                        expedita distinctio. Nam libero tempor.</li>
                                    <hr>
                                    <li><span class="date-dash">18/01/2020</span>Temporibus autem quibusdam et aut
                                        officiis debitis aut rerum necessity.</li>
                                    <hr>
                                    <li><span class="date-dash">17/01/2020</span>Aut reiciendis voluptatibus maiores
                                        alias consequatur aut perferendis.</li>
                                    <hr>
                                    <li><span class="date-dash">16/01/2020</span>Et harum quidem rerum facilis est et
                                        expedita distinctio.</li>
                                    <hr>
                                    <li><span class="date-dash">15/01/2020</span>Temporibus autem quibusdam et aut
                                        officiis debitis aut rerum.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>Recent Updates</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="event_timings">
                                
                                <div class="date-cnt">
                                    <span>Last Activity</span>
                                </div>
                                <div class="activity-details">
                                    <ul>
                                        <ng-container *ngFor = "let item of dashboardRecentUpdates">
                                        <li>{{item.title}}<span> on {{item.date}} at {{item.time}}</span></li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="event_timings">
                                <div class="date-cnt">
                                    <span>20/01/2020</span>
                                </div>
                                <div class="activity-details">
                                    <ul>
                                        <li><span class=""></span> Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit, sed do eiusmod tempor.<span>05:25 PM</span></li>
                                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu.<span>05:21 PM</span></li>
                                        <li>On the other hand, we denounce with righteous indignation and dislike men
                                            who.<span>05:25 PM</span></li>
                                        <li>These cases are perfectly simple and easy to distinguish.<span>05:21
                                                PM</span></li>
                                    </ul>
                                </div>
                                <div class="date-cnt">
                                    <span>20/01/2020</span>
                                </div>
                                <div class="activity-details">
                                    <ul>
                                        <li><span class=""></span> Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit, sed do eiusmod tempor.<span>05:25 PM</span></li>
                                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu.<span>05:21 PM</span></li>
                                        <li>On the other hand, we denounce with righteous indignation and dislike men
                                            who.<span>05:25 PM</span></li>
                                        <li>These cases are perfectly simple and easy to distinguish.<span>05:21
                                                PM</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        
        <div class="event_data">
            <div class="row m-0">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>Events</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ass-name-det">
                        <div class="row">
                            <div class="col-md-12">
                                <ng-container *ngIf="dashboardEvents.length > 0">
                                    <mat-accordion>
                                        <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false" *ngFor="let item of dashboardEvents;let i=index;">
                                            <!-- <ng-container *ngFor="let item of dashboardEvents;"> -->
                                            <mat-expansion-panel-header *ngIf="item.eventDate != undefined && item.eventDate.length > 0 && item.eventDate[0].event_date != null">
                                                <div class="ass-details" [ngStyle]="{'padding-bottom': '4px'}">
                                                    
                                                    <div class="date_content">
                                                        <span class="date-dash" *ngIf="item.eventDate != undefined && item.eventDate.length > 0">
                                                            <span>
                                                                {{item.eventDate[0].event_date | date}}
                                                            </span>
                                                        </span>
                                                        {{item.courseDetails.course}}
                                                    </div>
                                                </div>
                                            </mat-expansion-panel-header>

                                            <div class="ass-details">
                                                
                                                <div class="row ticket-cnt">
                                                    <div class="col-md-12">
                                                        <div class="status-wrapper-ticket" *ngIf="item.courseDetails != undefined">
                                                            <h3 [ngStyle]="{'font-size': '25px'}">{{item.courseDetails.course}}</h3>
                                                            <p [innerHTML]="item.courseDetails.course_description"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                                <div class="row ticket-details m-0">
                                                    <div class="col">
                                                            <div class="doc-data border-right-dash">
                                                                <div class="documents">
                                                                    <h5>Date</h5>
                                                                </div>
                                                                <div class="counts">
                                                                    <span *ngIf="item.eventDate != undefined && item.eventDate.length > 0">
                                                                        {{item.eventDate[0].event_date | date}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <div class="doc-data border-right-dash">
                                                                <div class="documents">
                                                                    <h5>Location</h5>
                                                                </div>
                                                                <div class="counts">
                                                                    <span *ngIf="item.courseDetails.location == 'eiac_training_center'">Eiac Training Center</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <div class="doc-data border-right-dash">
                                                                <div class="documents">
                                                                    <h5>Tutor</h5>
                                                                </div>
                                                                <div class="counts">
                                                                    <span *ngIf="item.tutor != undefined && item.tutor.name != ''">{{item.tutor.name}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <div class="doc-data border-right-dash">
                                                                <div class="documents">
                                                                    <h5>Persons</h5>
                                                                </div>
                                                                <div class="counts">
                                                                    <span *ngIf="item.courseDetails.allTargatedAud != undefined">{{item.courseDetails.allTargatedAud.length}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <div class="doc-data">
                                                                <div class="documents">
                                                                    <h5>Status</h5>
                                                                </div>
                                                                <div class="counts">
                                                                    <span *ngIf="item.courseDetails.status != undefined && item.courseDetails.status == true">Active</span>
                                                                    <span *ngIf="item.courseDetails.status != undefined && item.courseDetails.status == false">InActive</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            <!-- </ng-container> -->
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </ng-container>
                                <ng-container *ngIf="dashboardEvents.length == 0">
                                    <p>No Events</p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="comments-section">
            <div class="row m-0">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>COMMUNICATION</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 *ngIf="recordsTotal==0">No New Message</h5>
                    <div class="ass-name-det" *ngFor="let row of messageList | paginate: config; let i = index;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-data">
                                    <h3>{{row.title}}</h3>
                                    <div class="date_wrapper">
                                        <p>{{row.created | date}}</p>
                                        <div class="reply_msg" (click)="getUserDetails(row.user)"
                                            *ngIf="row.meta_title != 'user_registration'"
                                            routerLink="/dashboard/message-reply/{{row.id}}">
                                            <span class="icon-chat"></span>
                                            Reply
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="assess-doc">
                                    <div class="data-attach">
                                        <h5>{{row.message}}</h5>
                                    </div>
                                </div>

                                <div class="ass-details" *ngIf="row.meta_title != 'user_registration'">
                                    <div class="attach-cnt" *ngIf="row.document!=null">
                                        <a href="{{constant.mediaPath+row.document}}" target="_blank"
                                            class="attachment-cnt"><span class="icon-attach"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cmnt-content">
                                <form #ngForm="ngForm" (ngSubmit)="onSubmit(ngForm)">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <mat-form-field  class="cab-data">
                                                <mat-label>Select</mat-label>
                                                <mat-select required [(ngModel)]="selectedField"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (ngModelChange)="setField($event)">
                                                    <mat-option *ngFor="let data of select_field" [value]="data.value">
                                                        {{data.field}}</mat-option>
                                                </mat-select>
                                                <mat-error></mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-6"
                                            *ngIf="getUserType=='cab_client' || getUserType=='cab_code'">
                                            <mat-form-field class="cab-data">
                                                <!-- <input type="text" (click)="search($event.target.value)"
                                                    (input)="search($event.target.value)"
                                                    placeholder="{{selectedField}}" matInput required
                                                    [matAutocomplete]="auto">
                                                <mat-autocomplete #auto="matAutocomplete">
                                                    <mat-option (onSelectionChange)="getValue(option.id)"
                                                        *ngFor="let option of selectSearch" [value]="option.username">
                                                        {{option.username}}
                                                    </mat-option>
                                                </mat-autocomplete> -->
                                                <mat-chip-list #chipList >
                                                    <mat-chip
                                                      *ngFor="let option of selectedUser"
                                                      [selectable]="selectable"
                                                      [removable]="removable"
                                                      (removed)="remove(option)">
                                                      {{option}}
                                                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                    </mat-chip>
                                                    <input 
                                                      placeholder="{{selectedField}}"
                                                      #fruitInput                                                      
                                                      [matAutocomplete]="auto"
                                                      [matChipInputFor]="chipList"                                                      
                                                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                      (matChipInputTokenEnd)="add($event)" (input)="search($event.target.value)">
                                                  </mat-chip-list>
                                                  <mat-autocomplete #auto="matAutocomplete">
                                                    <mat-option (onSelectionChange)="getValue(option, 'username')"
                                                        *ngFor="let option of selectSearch" [value]="option.username">
                                                        {{option.username}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6"
                                            *ngIf="getUserType=='trainers' || getUserType=='operations'">
                                            <mat-form-field class="cab-data" #matForm>
                                                <!-- <input type="text" (click)="search($event.target.value)"
                                                    (input)="search($event.target.value)"
                                                    placeholder="{{selectedField}}" matInput required
                                                    [matAutocomplete]="auto"> -->
                                                    <mat-chip-list #chipList >
                                                        <mat-chip
                                                          *ngFor="let option of selectedUser"
                                                          [selectable]="selectable"
                                                          [removable]="removable"
                                                          (removed)="remove(option)">
                                                          {{option}}
                                                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                        </mat-chip>
                                                        <input 
                                                          placeholder="{{selectedField}}"
                                                          #fruitInput                                                      
                                                          [matAutocomplete]="auto"
                                                          [matChipInputFor]="chipList"
                                                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                          (matChipInputTokenEnd)="add($event)" (input)="search($event.target.value)">
                                                      </mat-chip-list>
                                                <mat-autocomplete #auto="matAutocomplete" >
                                                    <mat-option (onSelectionChange)="getValue(option, 'email')"
                                                        *ngFor="let option of selectSearch" [value]="option.email">
                                                        {{option.email}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="matupload position-relative">
                                                <mat-form-field class="lng-data">
                                                    <input readonly name="upload_message" [(ngModel)]="documentName"
                                                        matInput name="file" placeholder="Upload Document">
                                                </mat-form-field>
                                                <span class="fileupload">
                                                    <input #file type="file" accept="application/pdf"
                                                        name="upload_message_file"
                                                        [(ngModel)]="chatMessage.upload_message_file"
                                                        (change)="validateFile($event)">
                                                    <!-- <mat-error class="error" *ngIf="!file_validation">Please Upload a valid file (ex: pdf,xlsx,xlx)</mat-error>  -->
                                                    <span class="icon-attach attach-data" (click)="file.click()"></span>
                                                </span>
                                                <p class="error" *ngIf="!file_validation">Please Upload a
                                                    valid file (ex: pdf)</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Message</mat-label>
                                                <input name="message" maxlength="200" required [(ngModel)]="chatMessage.message"
                                                    matInput autocomplete="off" placeholder="Message">
                                                <mat-error></mat-error>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-12">
                                            <div class="bttns-appln mb-0">
                                                <button class="submit-bttn" [disabled]="button_disable">SEND
                                                    MESSAGE</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>