<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard">
            <div class="row">
                <div class="col-md-6">
                    <div class="trainer-details">
                        <div class="trainer-name">
                            <h4>Mr. Chris Jackson Joe</h4>
                            <div class="acc_verified">
                                <span class="icon-check-circle"></span>
                                <span class="tooltip_data">Account Verified</span>
                            </div>
                        </div>
                        <div class="trainer-detail">
                            <span class="trainer-data"><span class="icon-company"></span>Navigators Software Pvt.
                                Ltd.</span>
                            <span class="trainer-data"><span class="icon-Page"></span>robert.williams01@gmail.com</span>
                            <span class="trainer-data"><span class="icon-call"></span>+971 254-3269</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="trainer-content">
                        <div class="trainer-type">
                            <span>Type</span>
                        </div>
                        <div class="trainer-type-data">
                            <span>Account</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="trainer-content">
                        <div class="trainer-type">
                            <span>Qualification</span>
                        </div>
                        <div class="trainer-type-data">
                            <span>5 Years<span class="icon-checkmark"></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="trainer-main-details">
                        <div class="user-icons">
                            <span class="icon-user"></span>
                        </div>
                        <div class="trainer-data-det">
                            <div class="trainer-pro">
                                <span>Profile</span>
                            </div>
                            <div class="trainer-maindata trainer-update">
                                <span>Update<span class="icon-right-arrow"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="trainer-main-details trainer2">
                        <div class="user-icons">
                            <span class="icon-calendar"></span>
                        </div>
                        <div class="trainer-data-det">
                            <div class="trainer-pro">
                                <span>Schedule</span>
                            </div>
                            <div class="trainer-maindata">
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="trainer-main-details trainer3">
                        <div class="user-icons">
                            <span class="icon-tick"></span>
                        </div>
                        <div class="trainer-data-det">
                            <div class="trainer-pro">
                                <span>Completed</span>
                            </div>
                            <div class="trainer-maindata">
                                <span>05</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="trainer-main-details trainer4">
                        <div class="user-icons">
                            <span class="icon-options"></span>
                        </div>
                        <div class="trainer-data-det">
                            <div class="trainer-pro">
                                <span>Profile</span>
                            </div>
                            <div class="trainer-maindata">
                                <span>02</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-events">
            <div class="row m-0">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>Schedule (Planned Events)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="event_timings">
                                <ul>
                                    <li><span class="date-dash">20/01/2020</span>At vero eos et accusamus et iusto odio
                                        dignissimos ducimus qui blanditiis.</li>
                                    <hr>
                                    <li><span class="date-dash">19/01/2020</span>Et harum quidem rerum facilis est et
                                        expedita distinctio. Nam libero tempor.</li>
                                    <hr>
                                    <li><span class="date-dash">18/01/2020</span>Temporibus autem quibusdam et aut
                                        officiis debitis aut rerum necessity.</li>
                                    <hr>
                                    <li><span class="date-dash">17/01/2020</span>Aut reiciendis voluptatibus maiores
                                        alias consequatur aut perferendis.</li>
                                    <hr>
                                    <li><span class="date-dash">16/01/2020</span>Et harum quidem rerum facilis est et
                                        expedita distinctio.</li>
                                    <hr>
                                    <li><span class="date-dash">15/01/2020</span>Temporibus autem quibusdam et aut
                                        officiis debitis aut rerum.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>Activity (Recent Updates)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="event_timings">
                                <div class="date-cnt">
                                    <span>20/01/2020</span>
                                </div>
                                <div class="activity-details">
                                    <ul>
                                        <li><span class=""></span> Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit, sed do eiusmod tempor.<span>05:25 PM</span></li>
                                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu.<span>05:21 PM</span></li>
                                        <li>On the other hand, we denounce with righteous indignation and dislike men
                                            who.<span>05:25 PM</span></li>
                                        <li>These cases are perfectly simple and easy to distinguish.<span>05:21
                                                PM</span></li>
                                    </ul>
                                </div>
                                <div class="date-cnt">
                                    <span>20/01/2020</span>
                                </div>
                                <div class="activity-details">
                                    <ul>
                                        <li><span class=""></span> Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit, sed do eiusmod tempor.<span>05:25 PM</span></li>
                                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu.<span>05:21 PM</span></li>
                                        <li>On the other hand, we denounce with righteous indignation and dislike men
                                            who.<span>05:25 PM</span></li>
                                        <li>These cases are perfectly simple and easy to distinguish.<span>05:21
                                                PM</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event_data">
            <div class="row m-0">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>Event Details</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ass-name-det">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-details">
                                    <div class="date_content">
                                        <span class="date-dash">20/01/2020</span>
                                    </div>
                                    <div class="row ticket-cnt">
                                        <div class="col-md-12">
                                            <div class="status-wrapper-ticket">
                                                <h3>How do I tell you about a correction you need to make to an article?
                                                </h3>
                                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                                                    tempor incididunt
                                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam quis
                                                    nostrud exercitation ullamco
                                                    laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ticket-details m-0">
                                    <div class="col">
                                        <div class="doc-data border-right-dash">
                                            <div class="documents">
                                                <h5>Time</h5>
                                            </div>
                                            <div class="counts">
                                                <span>11:00 AM - 2:00 PM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col pl-0">
                                        <div class="doc-data border-right-dash">
                                            <div class="documents">
                                                <h5>Location</h5>
                                            </div>
                                            <div class="counts">
                                                <span>Kolkata, India</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col pl-0">
                                        <div class="doc-data border-right-dash">
                                            <div class="documents">
                                                <h5>Topic</h5>
                                            </div>
                                            <div class="counts">
                                                <span>Kick Off Meeting</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col pl-0">
                                        <div class="doc-data border-right-dash">
                                            <div class="documents">
                                                <h5>Persons</h5>
                                            </div>
                                            <div class="counts">
                                                <span>10</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col pl-0">
                                        <div class="doc-data">
                                            <div class="documents">
                                                <h5>Status</h5>
                                            </div>
                                            <div class="counts">
                                                <span>Pending</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col pl-0">
                                            <div class="doc-data">
                                                <div class="documents">
                                                    <h5></h5>
                                                </div>
                                                <div class="counts">
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments-section">
            <div class="row m-0">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>COMMUNICATION</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 *ngIf="recordsTotal==0">No New Message</h5>
                    <div class="ass-name-det" *ngFor="let row of messageList | paginate: config; let i = index;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-data">
                                    <h3>{{row.title}}</h3>
                                    <div class="date_wrapper">
                                        <p>{{row.created | date}}</p>
                                        <div class="reply_msg" (click)="getUserDetails(row.user)"
                                            *ngIf="row.meta_title != 'user_registration'"
                                            routerLink="/dashboard/message-reply/{{row.id}}">
                                            <span class="icon-chat"></span>
                                            Reply
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="assess-doc">
                                    <div class="data-attach">
                                        <h5>{{row.message}}</h5>
                                    </div>
                                </div>

                                <div class="ass-details" *ngIf="row.meta_title != 'user_registration'">
                                    <div class="attach-cnt" *ngIf="row.document!=null">
                                        <a href="{{constant.mediaPath+row.document}}" target="_blank"
                                            class="attachment-cnt"><span class="icon-attach"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>