<app-loader *ngIf="!loader"></app-loader>
<!-- <app-header-after-login></app-header-after-login>
<div class="side-data-cont">
    <app-sidebar-after-login></app-sidebar-after-login>
</div> -->
<div class="main-detail">
  <div class="container-fluid p-0">
    <div class="main-dashboard-cnt">

      <div class="row m-0">
        <div class="col-md-12 message-det">
            <div class="row">
              <div class="col-md-3">
                <div class="main_app_wrap">
                  <div class="appln-data">
                    <h3>Application No. {{routeId}}</h3>
                  </div>
                  <!-- <div class="appln-details">
                    <span>
                      <img class="qr_code" src="../../../../../../assets/images/qr_code.png" />
                    </span>
                  </div> -->
                </div>
              </div>

              <div class="col border-left-dash">
                <div class="main_app_wrap">
                  <div class="appln-data status_hdr">
                    <h5>Application Fees :</h5>
                  </div>
                  <div [ngClass]="{'complete': serviceDetail?.payment_status == 'paid', 'under-review':serviceDetail?.payment_status == 'pending', 'under-review':serviceDetail?.payment_status == null }">
                    <!-- <span>{{(serviceDetail?.payment_status == "paid") ? 'Paid' : 'Unpaid'}}</span> -->
                    <span *ngIf="serviceDetail?.payment_status == 'pending'">Unpaid</span>
                    <span *ngIf="serviceDetail?.payment_status == 'paid'">Paid</span>
                  </div>
                </div>
              </div>

              <div class="col border-left-dash">
                <div class="main_app_wrap">
                  <div class="appln-data status_hdr">
                    <h5>Document Review :</h5>
                  </div>
                  <div [ngClass]="{'complete': serviceDetail?.paymentDetails?.doc_review_payment_status != null, 'under-review':serviceDetail?.paymentDetails?.doc_review_payment_status == null,'under-review': !serviceDetail?.paymentDetails?.doc_review_payment_status }">
                    <span *ngIf="serviceDetail?.paymentDetails?.doc_review_payment_status == null || !serviceDetail?.paymentDetails?.doc_review_payment_status">Unpaid</span>
                    <span *ngIf="serviceDetail?.paymentDetails?.doc_review_payment_status != null">Paid</span>
                  </div>
                </div>
              </div>

              <div class="col border-left-dash">
                <div class="main_app_wrap">
                  <div class="appln-data status_hdr">
                    <h5>Assessment :</h5>
                  </div>
                  <div [ngClass]="{'complete': serviceDetail?.paymentDetails?.doc_review_payment_status != null, 'under-review':serviceDetail?.paymentDetails?.doc_review_payment_status == null }">
                    <span>{{(serviceDetail?.paymentDetails?.assessment_payment_status == null) ? 'Unpaid' : 'Paid'}}</span>
                  </div>
                </div>
              </div>

              <div class="col border-left-dash">
                <div class="main_app_wrap">
                  <div class="appln-data status_hdr">
                    <h5>Certification :</h5>
                  </div>
                  <div [ngClass]="{'complete': serviceDetail?.paymentDetails?.certification_payment_status != null, 'under-review':serviceDetail?.paymentDetails?.certification_payment_status == null }">
                    <span>{{(serviceDetail?.paymentDetails?.certification_payment_status == null) ? 'Unpaid' : 'Paid'}}</span>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="row m-0">
        <div class="col-md-12 message-det">
            <div class="row appl-cnt">
              <div class="col">
                <div class="appln-data">
                  <h5>Application Type</h5>
                </div>
                <div class="appln-details">
                  <span *ngIf="serviceDetail?.form_meta == 'work_activity'">Work Activity Permit</span>
                  <span *ngIf="serviceDetail?.form_meta == 'no_objection'">No Objection Certificate</span>
                </div>
              </div>
              <div class="col border-left-dash">
                <div class="appln-data">
                  <h5>Establishment Name</h5>
                </div>
                <div class="appln-details">
                  <span *ngIf="!serviceDetail?.official_commercial_name">None</span>
                  <span *ngIf="serviceDetail?.official_commercial_name">{{serviceDetail?.official_commercial_name}}</span>
                </div>
              </div>
              <div class="col border-left-dash">
                <div class="appln-data">
                  <h5>Date of Establishment</h5>
                </div>
                <div class="appln-details">
                  <span *ngIf="serviceDetail?.date_of_establishment">{{serviceDetail?.date_of_establishment | date:'dd-MM-yyyy'}}</span>
                </div>
              </div>
              <div class="col border-left-dash">
                <div class="appln-data">
                  <h5>Location</h5>
                </div>
                <div class="appln-details">
                  <span *ngIf="serviceDetail?.physical_location_address">{{serviceDetail?.physical_location_address}}</span>
                </div>
              </div>
              <div class="col border-left-dash">
                <div class="appln-data">
                  <h5>Trade License No.</h5>
                </div>
                <div class="appln-details license_no">
                  <span *ngIf="serviceDetail?.trade_license_number != null">{{serviceDetail?.trade_license_number}}</span>
                  <span *ngIf="serviceDetail?.trade_license_number == null">N/A</span>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="row m-0 appn-cnt-data">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="appln-subhdr">
                <h5>APPLICANT INFORMATION</h5>
              </div>
            </div>
          </div> 
          <div class="row status-det">
              <div class="col-md-12">
                <div class="table-appln">
                  <table>
                    <tr>
                      <td>Date of Issue</td>
                      <td *ngIf="serviceDetail?.date_of_issue">{{serviceDetail?.date_of_issue | date: 'dd-MM-yyyy'}}</td>
                      <td>Date of expiry</td>
                      <td *ngIf="serviceDetail?.date_of_expiry">{{serviceDetail?.date_of_expiry | date: 'dd-MM-yyyy'}}</td>
                    </tr>
                    <!-- <tr>
                      <td>Type of Accreditation</td>
                      <td>{{(serviceDetail?.accredation_criteria == 1) ? 'Initial' : 'Extension' }}</td>
                      <td *ngIf="serviceDetail?.criteria_request != null">Criteria for which Acc. is Requested</td>
                      <td *ngIf="serviceDetail?.criteria_request != null">{{serviceDetail?.criteria_request}}</td>
                    </tr> -->
                    <tr>
                      <td>Registered Address</td>
                      <td colspan="3" *ngIf="serviceDetail?.physical_location_address">{{serviceDetail?.physical_location_address}}</td>
                    </tr>
                    <tr>
                      <td>City</td>
                      <td *ngIf="serviceDetail?.city">{{serviceDetail?.city}}</td>
                      <td>Country</td>
                      <td *ngIf="serviceDetail?.country">{{serviceDetail?.country}}</td>
                    </tr>
                    <tr>
                      <td>Mailing Address</td>
                      <td *ngIf="serviceDetail?.mailing_address">{{serviceDetail?.mailing_address}}</td>
                      <td>PO Box No./ZIP Code</td>
                      <td *ngIf="serviceDetail?.po_box">{{serviceDetail?.po_box}}</td>
                    </tr>
                    <tr>
                      <td>Official E-mail Address</td>
                      <td *ngIf="serviceDetail?.official_email">{{serviceDetail?.official_email}}</td>
                      <td>Official Website</td>
                      <td *ngIf="serviceDetail?.official_website">{{serviceDetail?.official_website}}</td>
                    </tr>
                    <tr>
                      <td>Telephone Number</td>
                      <td *ngIf="serviceDetail?.telephone">{{_service.removePlus(serviceDetail?.telephone)}}</td>
                      <td>Fax Number</td>
                      <td *ngIf="serviceDetail?.fax_no">{{serviceDetail?.fax_no}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="row m-0">
        <div class="col-md-6" *ngFor="let row of ownershipOfOrg; let i = index;">
          <div class="row">
            <div class="col-md-12">
              <div class="appln-subhdr">
                <h5>#{{i+1}}  OWNERSHIP OF THE ORGANIZATION</h5>
              </div>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-4">
              <div class="status-main-details">
                <div class="status-data">
                  <p>{{row.name}}, </p>
                  <span>{{row.designation}}</span>
                </div>
                <div class="status-subdata">
                  <span class="status_details">
                    <span class="icon-mobile"></span>
                    {{_service.removePlus(row.mobile_no)}}
                  </span>
                  <span class="status_details">
                    <span class="icon-call-data icon-call-2"></span>
                    {{_service.removePlus(row.telephone_no)}}
                  </span>
                  <span class="status_details">
                    <span class="icon-email"></span>
                    {{row.email}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="row m-0">
        <div class="col-md-12">
          <div class="row status-det-wrapper">
            <div class="col-md-12 p-0">
              <div class="row">
                <div class="col-md-12">
                  <div class="appln-subhdr">
                    <h5>BOARD MEMBERS OF THE COMPANY</h5>
                  </div>
                  <hr>
                </div>
              </div>
              <div class="status_main">
                <div class="row m-0">
                  <div class="col-md-6 p-0" *ngFor="let row2 of ownOrgMembInfo; let i1 = index;">
                    <div class="members_details">
                      <h4>{{row2.name}}</h4>
                      <p class="address_details">{{row2.bod_company}}</p>
                      <span class="personal_details">{{row2.contact_person}}</span>
                      <span *ngIf="row2.designation">, {{row2.designation}}</span>
                      <span *ngIf="row2.mobile_no">, Mobile : {{row2.mobile_no}}</span>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row m-0 appn-cnt-data" *ngIf="paymentDetails && paymentDetails!= null">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="appln-subhdr">
                <h5>PAYMENT INFORMATION</h5>
              </div>
            </div>
          </div>
          <div class="row status-det">
              <div class="col-md-12">
                <div class="table-appln">
                  <table>
                    <tr>
                      <td>Voucher Code</td>
                      <td>{{paymentDetails?.voucher_no}}</td>
                      <td>Payment Date</td>
                      <td>{{paymentDetails?.voucher_date | date:'dd-MM-yyyy'}}</td>
                    </tr>
                    <tr>
                      <td>Payment Amount</td>
                      <td>AED {{paymentDetails?.amount}}</td>
                      <td>Transaction No</td>
                      <td>{{paymentDetails?.transaction_no}}</td>
                    </tr>
                    <tr>
                      <td>Payment Method</td>
                      <td>{{paymentDetails?.payment_method}}</td>
                      <td>Payment Made By</td>
                      <td>{{paymentDetails?.payment_method}}</td>
                    </tr>
                    <tr>
                      <td>Mobile Number</td>
                      <td *ngIf="paymentDetails?.mobile_no != null" colspan="3">{{_service.removePlus(paymentDetails?.mobile_no)}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md-12">
          <div class="bttns-health bttn-staff">
            <div *ngIf="paymentDetails && paymentDetails!= null" class="button-content">
              <button class="cancel-bttn" (click)="uiDialog.openPDFViewer(_constant.mediaPath,serviceDetail.form_pdf)"  [ngStyle]="{'font-weight':'bold'}">DOWNLOAD APPLICATION</button>

              <button class="cancel-bttn" (click)="downloadCsv()"  [ngStyle]="{'font-weight':'bold'}">DOWNLOAD CSV</button>
            </div>
            <!-- <a *ngIf="!paymentDetails && userType == 'operations'" class="submit-bttn submit-health" href="javascript:void(0)" (click)="open(courseVoucher, routeId)">PROFORMA UPLOAD</a> -->
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #courseVoucher let-modal>
  <div class="modal-header course-pop">
    <h4 class="modal-title" id="modal-basic-title">UPLOAD PROFORMA INVOICE</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span class="icon-close"></span>
    </button>
  </div>
  <div class="modal-body">                 
      <form #voucherForm="ngForm">

          <div class="row">
              <div class="col-md-6">
                  <mat-form-field class="cab-data">
                      <mat-label>Voucher Number</mat-label>
                      <input type="number" [ngModelOptions]="{standalone: true}" required="true"
                      matInput placeholder="Voucher Number" 
                      [(ngModel)]="voucherSentData.voucher_no">
                  </mat-form-field>
              </div>
              <div class="col-md-6">
                  <mat-form-field class="cab-data">
                      <mat-label>Voucher Date</mat-label>
                      <input matInput [matDatepicker]="voucher_date" 
                      (click)="_service._openCalendar(voucher_date)" 
                      readonly="true" 
                      [min]="minDate" name="voucher_date" 
                      [(ngModel)]="voucherSentData.voucher_date" placeholder="Voucher Date" required>
                      <mat-datepicker-toggle matSuffix [for]="voucher_date"></mat-datepicker-toggle>
                      <mat-datepicker #voucher_date disabled="false"></mat-datepicker>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <mat-form-field class="cab-data">
                      <mat-label>Amount</mat-label>
                      <input type="number" [ngModelOptions]="{standalone: true}" required="true"
                      matInput placeholder="Voucher Number" 
                      [(ngModel)]="voucherSentData.amount">
                  </mat-form-field>
              </div>

              <div class="col-md-6">
                  <span class="fileupload">
                      <input type="file" name="voucher_invoice"                                
                      (change)="validateFile($event, 'voucher_invoice')" required>
                      <span class="icon-attach attach-data"></span>
                  </span>
                  <p class="error" *ngIf="paymentReceiptValidation == false">Please Upload a valid file (ex: pdf)</p>
              </div>
          </div>
          <div class="row" [ngStyle]="{'margin-top': '10px'}">
              <div class="col-md-12">
                  <div class="bttns-health">
                      <button type="submit" (click)="voucherSentSubmit(voucherForm)" class="cancel-bttn">SUBMIT</button>
                      <button type="button" class="submit-bttn submit-health" (click)="modal.close('Cancel click')">CANCEL</button>
                  </div>
                  
              </div>
          </div>                    
      </form>
  </div>
  <!-- <div class="modal-footer">
  </div> -->
</ng-template>