<app-loader *ngIf="!loader"></app-loader>
<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard main-dashboard-trainer">
            <div class="row io_details">
                <div class="col-md-3">
                    <div class="dsh-wrapper">
                        <div class="trainer-main-details">
                            <div class="user-icons">
                                <span class="icon-user-dash"></span>
                            </div>
                            <div class="trainer-data-det">
                                <div class="trainer-pro">
                                    <span>CAB</span>
                                </div>
                                <div class="trainer-maindata trainer-update">
                                    <span>{{dashboardItemData.totalCabCount}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="date-update">
                            <div class="data-bg">
                                <h6>
                                    <!-- <span class="icon-arrow-up"></span> -->
                                    {{dashboardItemData.lastMonthCabCount}} New since last month</h6>
                            </div>
                        </div> 
                    </div> 
                </div>
                <div class="col-md-3">
                    <div class="dsh-wrapper">
                        <div class="trainer-main-details trainer2">
                            <div class="user-icons">                            
                                <span class="icon-doc-write"></span>                            
                            </div>
                            <div class="trainer-data-det">
                                <div class="trainer-pro">
                                    <span>Certificates</span>
                                </div>
                                <div class="trainer-maindata trainer-update">
                                    <span>{{dashboardItemData.totalCabDirectoryCount}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="date-update update2">
                            <div class="data-bg">
                                <h6>
                                    <!-- <span class="icon-arrow-up"></span> -->
                                    {{dashboardItemData.lastMonthCabDirectoryCount}} New since last month</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dsh-wrapper">
                        <div class="trainer-main-details trainer3">
                            <div class="user-icons">                             
                                <span class="icon-doc-diff"></span>                            
                            </div>
                            <div class="trainer-data-det">
                                <div class="trainer-pro">
                                    <span>Records</span>
                                </div>
                                <div class="trainer-maindata trainer-update">
                                    <span>{{dashboardItemData.totalActiveRecCount}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="date-update update3">
                            <div class="data-bg">
                                <h6>{{dashboardItemData.totalExpiredRecCountLastMonth}}  Expiring this month</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"> 
                    <div class="dsh-wrapper">
                        <div class="trainer-main-details trainer4">
                            <div class="user-icons">
                            
                                <span class="icon-calendar"></span>
                            
                            </div>
                            <div class="trainer-data-det">
                                <div class="trainer-pro">
                                    <span>Events</span>
                                </div>
                                <div class="trainer-maindata trainer-update">
                                    <span>{{dashboardItemData.eventCount}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="date-update update4">
                            <div class="data-bg">
                                <h6>
                                    <!-- <span class="icon-arrow-down"></span> -->
                                    {{dashboardItemData.completedThisYearEventCount}} Completed this year</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Application Status -->
        <div class="appln_wrapper main-dashboard-trainer">
            <div class="row m-0">
                <div class="col-md-12">
                    <div class="trainer_head">
                        <h4>Application Status</h4>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-md-3">
                    <div class="dash-main">
                        <div class="dash-wrap">
                            <div class="usermain">
                                <div class="main-status">
                                    <p class="head-dash">Received</p>
                                    <p class="sub-head-dash">{{dashboardItemData.total_received}}</p>
                                </div>
                                <div class="view-all sub-head-dash">
                                    <!-- <p><span class="active-dash waiting-dash">Waiting</span></p> -->
                                </div>
                            </div>
                        </div>
                        <div class="dash-logo">
                            <span class="icon-download"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dash-main">
                        <div class="dash-wrap">
                            <div class="usermain">
                                <div class="main-status">
                                    <p class="head-dash">Authentication</p>
                                    <p class="sub-head-dash">{{dashboardItemData.total_approved}}</p>
                                </div>
                                <div class="view-all">
                                    <!-- <p><span class="icon-arrow-up"></span>12 New</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="dash-logo">
                            <span class="icon-check-mark"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dash-main">
                        <div class="dash-wrap">
                            <div class="usermain">
                                <div class="main-status">
                                    <p class="head-dash head-dash-bill">Payment Uploaded</p>
                                    <p class="sub-head-dash">{{dashboardItemData.total_inprocess}}</p>
                                </div>
                                <div class="view-all">
                                    <!-- <p><span class="icon-arrow-up"></span>12 New</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="dash-logo">
                            <span class="icon-refresh"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dash-main">
                        <div class="dash-wrap">
                            <div class="usermain">
                                <div class="main-status">
                                    <p class="head-dash head-dash-bill">Approved</p>
                                    <p class="sub-head-dash">{{dashboardItemData.total_closed}}</p>
                                </div>
                                <div class="view-all">
                                    <!-- <p><span class="icon-arrow-up"></span>12 New</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="dash-logo">
                            <span class="icon-close"></span>
                        </div>
                    </div>
                </div>
            </div>

    <!-- display: flex;
        align-items: flex-end;
        height: 100%; -->
            <div class="service-links dash_menu_main">
                <div class="row m-0">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="trainer_head" [ngStyle]="{'display':'flex', 'align-items':'flex-end', 'height':'100%'}">
                                    <h4>Department View</h4>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <!-- @{{selectDepartment}} -->
                                <!-- (selectionChange)="changeDepartmentView($event)" -->
                                <mat-form-field class="cab-data mt-2">         
                                                        
                                    <mat-select placeholder="Select Department" (selectionChange)="changeDepartmentView($event)"  name="department_view" 
                                    [(ngModel)]="selectDepartment" required="true">
                                    <mat-option [value]="item.value" *ngFor="let item of ioDeartment">
                                        {{item.title}}
                                    </mat-option>
                                    <!-- <mat-option value="CB">CB</mat-option>
                                    <mat-option value="HALAL">HALAL</mat-option>  -->
                                    </mat-select>
                                </mat-form-field>
                                    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dash-main">
                                    <div class="dash-wrap">
                                        <div class="usermain">
                                            <div class="main-status">
                                                <p class="head-dash">CAB</p>
                                                <p class="sub-head-dash" *ngIf="totalDeptSelect == ''">NA</p>
                                                <p class="sub-head-dash" *ngIf="totalDeptSelect != ''">{{totalDeptSelect}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash-logo">
                                        <span class="icon-user-dash"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dash-main">
                                    <div class="dash-wrap">
                                        <div class="usermain">
                                            <div class="main-status">
                                                <p class="head-dash">Scheme</p>
                                                <p class="sub-head-dash">{{totalDeptSchemeCount}}</p>
                                            </div>
                                            <div class="view-all sub-head-dash">
                                                <p><span class="active-dash">Active</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash-logo">
                                        <span (click)="openScheme()" [ngStyle]="{'cursor':'pointer'}" class="icon-doc-fold"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dash-main">
                                    <div class="dash-wrap">
                                        <div class="usermain">
                                            <div class="main-status">
                                                <p class="head-dash">Documents</p>
                                                <p class="sub-head-dash">{{totalDeptDocCount}}</p>
                                            </div>
                                            <div class="view-all sub-head-dash">
                                                <p><span class="active-dash confirmed-dash">Refference</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash-logo">
                                        <a href="https://uat.eiac.gov.ae/documents/publications" target="_blank">
                                            <span class="icon-doc-diff"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- service-enquiries-list -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="dash-main">
                                    <div class="dash-wrap">
                                        <div class="usermain">
                                            <div class="main-status">
                                                <p class="head-dash">CAB Approvals</p>
                                                <p class="sub-head-dash">{{totalDeptCABCount}}</p>
                                            </div>
                                            <div class="view-all sub-head-dash">
                                                <p><span class="active-dash waiting-dash">Waiting</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash-logo">
                                    <a href="/dashboard/onboarding-message-list">
                                        <span class="icon-check-mark"></span>
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dash-main">
                                    <div class="dash-wrap">
                                        <div class="usermain">
                                            <div class="main-status">
                                                <p class="head-dash">Service Enquiries</p>
                                                <p class="sub-head-dash">{{dashboardItemData.enquiryCount}}</p>
                                            </div>
                                            <!-- <div class="view-all">
                                                <p><span class="icon-arrow-up"></span> 12 New</p>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="dash-logo">                                        
                                        <span (click)="openServiceEnquiries()" [ngStyle]="{'cursor':'pointer'}" class="icon-check-mark"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row" [ngStyle]="{'padding-top': '25px'}">
                            <div class="col-md-6">
                                <div class="trainer_head">
                                    <h4>Certificate View</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="dash-main">
                                    <div class="dash-wrap">
                                        <div class="usermain">
                                            <div class="main-status">
                                                <p class="head-dash head-dash-bill">{{totalDeptSelect}} Certificates</p>
                                                <p class="sub-head-dash">{{totalDeptCertificateCount}}</p>
                                            </div>
                                            <!-- <div class="view-all">
                                                <p><span class="icon-arrow-up"></span>12 New</p>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="dash-logo bill-logo">
                                        <a routerLink="/dashboard/certifications">
                                            <span class="icon-doc-write"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dash-main">
                                    <div class="dash-wrap">
                                        <div class="usermain">
                                            <div class="main-status">
                                                <p class="head-dash head-dash-bill">In Progress</p>
                                                <p class="sub-head-dash">{{totalDeptPendingCount}}</p>
                                            </div>
                                            <div class="view-all">
                                                <p>From last week</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash-logo bill-logo">
                                        <span class="icon-refresh"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dash-main">
                                    <div class="dash-wrap">
                                        <div class="usermain">
                                            <div class="main-status long_content">
                                                <p class="head-dash head-dash-bill">Status</p>
                                                <p class="sub-head-dash sub_data_status">{{totalDeptStatus.accredatedCount}}<span>Accredited</span></p>
                                                <p class="sub-head-dash sub_data_status">{{totalDeptStatus.withdrawCount}} <span>Withdrawn</span></p>
                                                <p class="sub-head-dash sub_data_status">{{totalDeptStatus.suspendedCount}} <span>Suspended</span></p>
                                                <!-- <p class="sub-head-dash">{{totalDeptStatus.volWithdrawCount}} <span>Voluntary Withdrawn</span></p>
                                                <p class="sub-head-dash">{{totalDeptStatus.volSuspendedCount}} <span>Voluntary Suspended</span></p> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash-logo bill-logo">
                                        <a href="https://uat.eiac.gov.ae/directory" target="_blank">
                                        <span class="icon-menu"></span>
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <!-- (openedChange)="myInput.focus()" || <input class="form-control form-control-sm w-100" #myInput  type="text" 
                            (keyup)="searchCountry($event)" (keydown)="$event.stopPropagation()" autocomplete="off" placeholder="Search">
                            <mat-divider></mat-divider> -->
                            <div class="col-md-6">
                                <div class="dash-main">
                                    <div class="dash-wrap">
                                        <div class="usermain">
                                            <div class="main-status">
                                                <p class="head-dash head-dash-bill region">Region</p>
                                                <select class="select_dash" [(ngModel)]="select_country" (change)="onSelectCountry(select_country)">
                                                <option value="">Country</option>
                                                    <option *ngFor="let item of loadCountryList;" value="{{item.CountryName}}">{{item.CountryName}}</option>
                                                </select>
                                                <!-- <mat-form-field class="cab-data">
                                                    <mat-label>Country</mat-label>
                                                    <mat-select placeholder="Acreditation Type" (selectionChange)="onSelectCountry(select_country)"
                                                    [(value)]="select_country">                                                   
                                                        <mat-option *ngFor="let item of loadCountryList;" [value]="item.CountryName">{{item.CountryName}}</mat-option>                                        
                                                    </mat-select>
                                                </mat-form-field> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash-logo bill-logo">
                                        <span class="icon-world"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-events">
                <div class="row m-0">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tra_events">
                                    <div class="trainer_head">
                                        <h4>Recent Updates</h4>
                                    </div>
                                    <!-- <div class="add-data">
                                        <a href="javascript:void(0)"><span class="icon-close"></span></a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event_timings">                                
                                    <div class="date-cnt">
                                        <span>Last Activity</span>
                                    </div>
                                    <div class="activity-details">
                                        <ul>
                                            <ng-container *ngFor = "let item of dashboardRecentUpdates">
                                            <!-- <li>{{userDetails?.first_name}} {{userDetails?.last_name}}<span>, {{item.title}} on {{item.date | date: 'short'}}</span></li> -->
                                            <li>{{item.title}}<span> on {{item.date | date: 'dd/MM/y, h:mm:ss a'}}</span></li>
                                            </ng-container>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comments-section">
                <div class="row m-0">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tra_events">
                                    <div class="trainer_head">
                                        <h4>Communication</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ass-name-det" *ngFor="let row of messageList | paginate: config; let i = index;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="ass-data">
                                        <h3>{{row.title}}</h3>
                                        <div class="date_wrapper">
                                            <p>{{row.created | date}}</p>
                                            <div class="reply_msg" (click)="getUserDetails(row.user)"
                                                *ngIf="row.meta_title != 'user_registration'"
                                                routerLink="/dashboard/message-reply/{{row.id}}">
                                                <span class="icon-chat"></span>
                                                Reply
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="assess-doc" *ngIf="row.meta_title == 'user_registration'">
                                        <div class="data-attach">
                                            <h5>{{row.message}}</h5>
                                        </div>
                                        <div class="bttn-details">
                                            <a *ngIf="row.user.users_type=='cab_client'" class="reg_details submit-bttn"
                                                (click)="getRouteId(row.user.id)"
                                                routerLink="/dashboard/cab_client/message-detail/{{row.user.id}}">DETAILS</a>

                                            <a *ngIf="row.user.users_type=='assessors'" class="reg_details submit-bttn"
                                                (click)="getRouteId(row.user.id)"
                                                routerLink="/dashboard/assessors/message-detail/{{row.user.id}}">DETAILS</a>

                                            <a *ngIf="row.user.users_type=='trainers'" class="reg_details submit-bttn"
                                                (click)="getRouteId(row.user.id)"
                                                routerLink="/dashboard/trainers/message-detail/{{row.user.id}}">DETAILS</a>

                                            <a *ngIf="row.user.users_type=='candidate'" class="reg_details submit-bttn"
                                                (click)="getRouteId(row.user.id)"
                                                routerLink="/dashboard/candidate/message-detail/{{row.user.id}}">DETAILS</a>

                                            <a *ngIf="row.user.users_type=='operations'" class="reg_details submit-bttn"
                                                (click)="getRouteId(row.user.id)"
                                                routerLink="/dashboard/operations/message-detail/{{row.user.id}}">DETAILS</a>
                                        </div>
                                    </div>

                                    <div class="ass-details" *ngIf="row.meta_title != 'user_registration'">
                                        <p>{{row.message}}</p>
                                        <div class="attach-cnt" *ngIf="row.document!=null">
                                            <a href="{{constant.mediaPath+row.document}}" target="_blank"
                                                class="attachment-cnt"><span class="icon-attach"></span>{{ getFileName(row.document)}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        <div class="row" *ngIf="userType=='operations'">
                            <div class="col-md-12">
                                <div class="cmnt-content">
                                    <form #ngForm="ngForm" (ngSubmit)="onOperationSubmit(ngForm)">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <mat-form-field  class="cab-data">
                                                    <mat-label>Select</mat-label>
                                                    <mat-select required [(ngModel)]="selectedField"
                                                        [ngModelOptions]="{standalone: true}"
                                                        (ngModelChange)="setField($event)">
                                                        <mat-option *ngFor="let data of select_field" [value]="data.value">
                                                            {{data.field}}</mat-option>
                                                    </mat-select>
                                                    <mat-error></mat-error>
                                                </mat-form-field>
                                            </div>
                                            <!-- {{selectSearch | json}} -->
                                            <div class="col-md-6" *ngIf="getUserType =='cab_client'">
                                                <mat-form-field class="cab-data">                                                   
                                                    <mat-chip-list #chipList >
                                                        <mat-chip
                                                        *ngFor="let option of selectedUser"
                                                        [selectable]="selectable"
                                                        [removable]="removable"
                                                        (removed)="remove(option)">
                                                        {{option}}
                                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                        </mat-chip>
                                                        <input 
                                                        placeholder="{{selectedField}}"
                                                        #fruitInput                                                      
                                                        [matAutocomplete]="auto"
                                                        [matChipInputFor]="chipList"                                                      
                                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                        (keypress)="enterInput($event)"
                                                        (matChipInputTokenEnd)="add($event)" (input)="search($event.target.value)">
                                                    </mat-chip-list>
                                                        <mat-autocomplete #auto="matAutocomplete" >
                                                            <mat-option (onSelectionChange)="getValue(option, 'cab_name')"
                                                                *ngFor="let option of selectSearch" [value]="option.username">
                                                                {{option.cab_name}}
                                                            </mat-option>
                                                        </mat-autocomplete>                                                    
                                                </mat-form-field>
                                            </div>
                                            <!-- {{selectSearch | json}} -->
                                            <div class="col-md-6" *ngIf="getUserType =='cab_code'">
                                                <mat-form-field class="cab-data">
                                                    <mat-chip-list #chipList >
                                                        <mat-chip
                                                        *ngFor="let option of selectedUser"
                                                        [selectable]="selectable"
                                                        [removable]="removable"
                                                        (removed)="remove(option)">
                                                        {{option}}
                                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                        </mat-chip>
                                                        <input 
                                                        placeholder="{{selectedField}}"
                                                        #fruitInput                                                      
                                                        [matAutocomplete]="auto"
                                                        [matChipInputFor]="chipList"                                                      
                                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                        (keypress)="enterInput($event)"
                                                        (matChipInputTokenEnd)="add($event)" (input)="search($event.target.value)">
                                                    </mat-chip-list>
                                                    <mat-autocomplete #auto="matAutocomplete">
                                                        <mat-option (onSelectionChange)="getValue(option, 'cab_code')"
                                                            *ngFor="let option of selectSearch" [value]="option.username">
                                                            {{option.cab_code}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-md-6"
                                                *ngIf="getUserType=='candidate' || getUserType=='trainers' || getUserType=='assessors' || getUserType=='super_admin'">
                                                <mat-form-field class="cab-data" #matForm>
                                                    <!-- <input type="text" (click)="search($event.target.value)"
                                                        (input)="search($event.target.value)"
                                                        placeholder="{{selectedField}}" matInput required
                                                        [matAutocomplete]="auto"> -->
                                                        <mat-chip-list #chipList >
                                                            <mat-chip
                                                            *ngFor="let option of selectedUser"
                                                            [selectable]="selectable"
                                                            [removable]="removable"
                                                            (removed)="remove(option)">
                                                            {{option}}
                                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                            </mat-chip>
                                                            <input 
                                                            placeholder="{{selectedField}}"
                                                            #fruitInput                                                      
                                                            [matAutocomplete]="auto"
                                                            [matChipInputFor]="chipList"
                                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                            (keypress)="enterInput($event)"
                                                            (matChipInputTokenEnd)="add($event)" (input)="search($event.target.value)">
                                                        </mat-chip-list>
                                                    <mat-autocomplete #auto="matAutocomplete" >
                                                        <mat-option (onSelectionChange)="getValue(option, 'email')"
                                                            *ngFor="let option of selectSearch" [value]="option.email">
                                                            {{option.email}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="matupload position-relative">
                                                    <mat-form-field class="lng-data">
                                                        <input readonly name="upload_message" [(ngModel)]="documentName"
                                                            matInput name="file" placeholder="Upload Document">
                                                    </mat-form-field>
                                                    <span class="fileupload">
                                                        <input #file type="file" accept="application/pdf"
                                                            name="upload_message_file"
                                                            [(ngModel)]="chatMessage.upload_message_file"
                                                            (change)="validateFile($event)">
                                                        <span class="icon-attach attach-data" (click)="file.click()"></span>
                                                    </span>
                                                    <p class="error" *ngIf="!file_validation">Please Upload a
                                                        valid file (ex: pdf)</p>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <mat-form-field class="cab-data">
                                                    <mat-label>Message</mat-label>
                                                    <input name="message" maxlength="200" required [(ngModel)]="chatMessage.message"
                                                        matInput autocomplete="off" placeholder="Message">
                                                    <mat-error></mat-error>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-md-12">
                                                <div class="bttns-appln mb-0">
                                                    <button class="submit-bttn" [disabled]="button_disable">SEND
                                                        MESSAGE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>