<div class="main-detail">
    <div class="container-fluid p-0">
        <div class="main-dashboard">
            <div class="row io_details">
                <div class="col-md-3">
                    <div class="dsh-wrapper">
                        <div class="trainer-main-details">
                            <div class="user-icons">
                                <span class="icon-user-dash"></span>
                            </div>
                            <div class="trainer-data-det">
                                <div class="trainer-pro">
                                    <span>CAB</span>
                                </div>
                                <div class="trainer-maindata trainer-update">
                                    <span>144</span>
                                </div>
                            </div>
                        </div>
                        <div class="date-update">
                            <div class="data-bg">
                                <h6 ><span class="icon-arrow-up"></span>22 New since last month</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dsh-wrapper">
                        <div class="trainer-main-details trainer2">
                            <div class="user-icons">
                                <span class="icon-doc-write"></span>
                            </div>
                            <div class="trainer-data-det">
                                <div class="trainer-pro">
                                    <span>Certificates</span>
                                </div>
                                <div class="trainer-maindata trainer-update">
                                    <span>324</span>
                                </div>
                            </div>
                        </div>
                        <div class="date-update update2">
                            <div class="data-bg">
                                <h6 ><span class="icon-arrow-up"></span>22 New since last month</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dsh-wrapper">
                        <div class="trainer-main-details trainer3">
                            <div class="user-icons">
                                <span class="icon-doc-diff"></span>
                            </div>
                            <div class="trainer-data-det">
                                <div class="trainer-pro">
                                    <span>Documents</span>
                                </div>
                                <div class="trainer-maindata trainer-update">
                                    <span>542</span>
                                </div>
                            </div>
                        </div>
                        <div class="date-update update3">
                            <div class="data-bg">
                                <h6 ><span class="icon-arrow-down"></span>22 Expiring since last month</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dsh-wrapper">
                        <div class="trainer-main-details trainer4">
                            <div class="user-icons">
                                <span class="icon-calendar"></span>
                            </div>
                            <div class="trainer-data-det">
                                <div class="trainer-pro">
                                    <span>Training Events</span>
                                </div>
                                <div class="trainer-maindata trainer-update">
                                    <span>324</span>
                                </div>
                            </div>
                        </div>
                        <div class="date-update update4">
                            <div class="data-bg">
                                <h6 ><span class="icon-arrow-down"></span>22 Completed this year</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="service-links dash_menu_main">
            <div class="row m-0">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="trainer_head">
                                <h4>Department View</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash">CAB</p>
                                            <p class="sub-head-dash">IB</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo">
                                    <span class="icon-user-dash"></span> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash">Scheme</p>
                                            <p class="sub-head-dash">21</p>
                                        </div>
                                        <div class="view-all sub-head-dash">
                                            <p><span class="active-dash">Active</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo">
                                    <span class="icon-doc-fold"></span> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash">Documents</p>
                                            <p class="sub-head-dash">04</p>
                                        </div>
                                        <div class="view-all sub-head-dash">
                                            <p><span class="active-dash confirmed-dash">Refference</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo">
                                    <span class="icon-doc-diff"></span> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash">CAB Approvals</p>
                                            <p class="sub-head-dash">02</p>
                                        </div>
                                        <div class="view-all sub-head-dash">
                                            <p><span class="active-dash waiting-dash">Waiting</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo">
                                    <span class="icon-check-mark"></span> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash">Service Enquiries</p>
                                            <p class="sub-head-dash">29</p>
                                        </div>
                                        <div class="view-all">
                                            <p><span class="icon-arrow-up"></span>12 New</p>
                                        </div>
                                        </div>
                                </div>
                                <div class="dash-logo">
                                    <span class="icon-check-mark"></span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="trainer_head">
                                <h4>Certificate View</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash head-dash-bill">IB Certificates</p>
                                            <p class="sub-head-dash">345</p>
                                        </div>
                                        <div class="view-all">
                                            <p><span class="icon-arrow-up"></span>12 New</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo bill-logo">
                                    <span class="icon-doc-write"></span> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash head-dash-bill">In Progress</p>
                                            <p class="sub-head-dash">11</p>
                                        </div>
                                        <div class="view-all">
                                            <p>From last week</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo bill-logo">
                                    <span class="icon-refresh"></span> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status long_content">
                                            <p class="head-dash head-dash-bill">Status</p>
                                            <p class="sub-head-dash">50 <span>Accredited</span></p>
                                            <p class="sub-head-dash">11 <span>Withdrawn</span></p>
                                            <p class="sub-head-dash">04 <span>Suspended</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo bill-logo">
                                    <span class="icon-menu"></span> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="dash-main">
                                <div class="dash-wrap">
                                    <div class="usermain">
                                        <div class="main-status">
                                            <p class="head-dash head-dash-bill">Region</p>
                                            <p class="sub-head-dash">India</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-logo bill-logo">
                                    <span class="icon-world"></span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-events">
            <div class="row m-0">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>Recent Updates</h4>
                                </div>
                                <div class="add-data">
                                    <a href="javascript:void(0)"><span class="icon-close"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="event_timings client_timings">
                                <div class="date-cnt">
                                    <span>20/01/2020</span>
                                </div>
                                <div class="activity-details">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                            Ut enim ad minim veniam, quis nostrud exercitation.<span>05:25 PM</span></li>
                                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<span>05:21 PM</span></li>
                                        <li>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms 
                                            of pleasure of the moment.<span>05:25 PM</span></li>
                                        <li>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when 
                                            nothing prevents.<span>05:21 PM</span></li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                             Ut enim ad minim veniam, quis nostrud exercitation.<span>05:25 PM</span></li>
                                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<span>05:21 PM</span></li>
                                    </ul>
                                </div>
                                <div class="date-cnt">
                                    <span>19/01/2020</span>
                                </div>
                                <div class="activity-details">
                                    <ul>
                                        <li>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized 
                                            by the charms of pleasure of the moment.<span>05:25 PM</span></li>
                                        <li>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is 
                                            untrammelled and when nothing prevents.<span>05:21 PM</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments-section">
            <div class="row m-0">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tra_events">
                                <div class="trainer_head">
                                    <h4>Communication</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ass-name-det">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-data">
                                    <h3>Daniel Thompson</h3>
                                    <p>Dec 31, 2019 - 05:25 PM</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                    <div class="attach-cnt">
                                        <a href="javascript:void(0)" class="attachment-cnt"><span class="icon-attach"></span>Accreditation Application for PTP Provider.xlsx</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ass-name-det">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-data">
                                    <h3>Brayn Williams</h3>
                                    <p>Dec 25, 2019 - 07:02 PM</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                                        esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ass-name-det m-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-data">
                                    <h3>Peter Robertson</h3>
                                    <p>Nov 01, 2019 - 09:56 PM</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ass-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                                        esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hdr-sec">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="trainer_head">
                                    <h4>Write A Comment</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cmnt-content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Name</mat-label>
                                            <input  matInput autocomplete="off" placeholder="Name">
                                            <mat-error></mat-error>      
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-8">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Message</mat-label>
                                            <input  matInput autocomplete="off" placeholder="Message">
                                            <mat-error></mat-error>      
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="matupload position-relative">
                                            <mat-form-field  class="cab-data">
                                                <input matInput name="trade_license_name" placeholder="Upload Document" >
                                            </mat-form-field>
                                            <span class="fileupload">
                                                <input type="file" required>
                                                <span class="icon-attach attach-data"></span>
                                            </span>
                                        </div>
                                        <span class="place_holder_doc">Only PDF, below 2 MB</span>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row message_detail">
                                            <div class="col-md-6">
                                                <div class="form-subheader">
                                                    <span>Message Type</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="cab-data">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="initial_data">
                                                                <mat-radio-button value="1" >Public</mat-radio-button>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="initial_data">
                                                                <mat-radio-button value="2">Private</mat-radio-button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="cab-data">
                                            <mat-label>Notify Team</mat-label>
                                            <mat-select placeholder="">
                                                <mat-option>1</mat-option>
                                            </mat-select>
                                            <mat-error></mat-error>      
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="bttns-appln mb-0">
                                            <button class="submit-bttn">SEND MESSAGE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>