<!-- <app-loader *ngIf="loader"></app-loader> -->
<div class="main-content">
    <!-- <section>
        <div class="container-fluid p-0">
            <div class="hdr-content"  [style.background-image]="'url('+banner+')'">
                <app-partial-header></app-partial-header>
                <div class="row m-0">
                    <div class="col-12">
                        <div class="bg-contnt">
                            <span class="bg-dfnt">Work Permit
                            </span>        
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12">
                        <div class="stremline">
                            <div class="cnt">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
   
    <section>
        <div class="form_main">
            <div class="container-fluid">
                <form #ngForm="ngForm" (ngSubmit)="onSubmit(ngForm)" autocomplete="off">
                    <div class="cont-header">
                        <div class="row">
                            <div class="col-md-9 col-sm-12">
                                <div class="form-main">
                                    <h1>APPLICATION FOR A PERMIT TO ENGAGE IN ACTIVITY</h1>
                                </div>
                            </div>
                            <!-- <div class="col-md-5 col-sm-12">
                                <div class="download">
                                    <a class="dwnload" href="javascript:void(0)">
                                        <span class="icon-download"></span>
                                    DOWNLOAD</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="assess-dir">
                        <div class="row m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-12 p-0">
                                            <div class="cab-info">
                                                <h5>1. DETAILS OF CONFORMITY ASSESSMENT BODY (CAB)</h5>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Name of CAB</mat-label>
                                                <input matInput placeholder="" name="name_of_cab" onpaste="return false" (keypress)="Service.inputFilter($event)" [(ngModel)]="workPermitForm.name_of_cab" required> 
                                            <!--  <input matInput placeholder="" name="name_of_cab" [(ngModel)]="workPermitForm.name_of_cab"> -->
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-8 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Address</mat-label>
                                                <input matInput onpaste="return false" (keypress)="Service.inputFilter($event)" placeholder="" name="address" [(ngModel)]="workPermitForm.address" required>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>License no.</mat-label>
                                                <input matInput onpaste="return false" (keypress)="Service.inputFilter($event)" placeholder="" name="cab_license_no" [(ngModel)]="workPermitForm.cab_license_no" required>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Issued Date</mat-label>
                                                <input matInput onpaste="return false" (keypress)="Service.inputFilter($event)" readonly="true" [matDatepicker]="issue_data"  placeholder="" name="cab_issue_date"  (click)="Service._openCalendar(issue_data)" [(ngModel)]="workPermitForm.cab_issue_date" required>
                                                <mat-datepicker-toggle matSuffix [for]="issue_data"></mat-datepicker-toggle>
                                                <mat-datepicker #issue_data readonly="false"></mat-datepicker>
                            
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Applicant Name</mat-label>
                                                <input onpaste="return false" (keypress)="Service.inputFilter($event)" matInput placeholder="" name="applicant_name" [(ngModel)]="workPermitForm.applicant_name" required>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Designation</mat-label>
                                                <input onpaste="return false" (keypress)="Service.inputFilter($event)" matInput placeholder="" name="designation" [(ngModel)]="workPermitForm.designation" required>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Telephone No.</mat-label>
                                                <input onpaste="return false" (keypress)="Service.inputFilter($event)" type="text" maxlength="15" minlength="10" (keypress)="Service.IsNumeric($event)" matInput placeholder="" name="tel_no" [(ngModel)]="workPermitForm.tel_no" required>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Email Address</mat-label>
                                                <input type="email" onpaste="return false" (keypress)="Service.inputFilter($event)" matInput placeholder="" name="email_address" [(ngModel)]="workPermitForm.email_address" required>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Activity section</mat-label>
                                                <input onpaste="return false" (keypress)="Service.inputFilter($event)" matInput placeholder="" name="activity_section" [(ngModel)]="workPermitForm.activity_section" required>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Scopes to be Authorized</mat-label>
                                                <input onpaste="return false" (keypress)="Service.inputFilter($event)" matInput placeholder="" name="scopes_to_be_authorized" [(ngModel)]="workPermitForm.scopes_to_be_authorized" required>
                                            </mat-form-field>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="assess-dir">
                        <div class="row m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-12 p-0">
                                            <div class="cab-info">
                                                <h5>2. DOCUMENTS ATTACHED TO THE APPLICATION</h5>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="matupload position-relative">
                                                <mat-form-field>
                                                        <input onpaste="return false" (keypress)="Service.inputFilter($event)" matInput readonly="true" name="licence_document_name" [(ngModel)]="workPermitForm.licence_document_name" required placeholder="Upload Licence documents file" >
                                                </mat-form-field>
                                                <span class="fileupload">
                                                    <input type="file" onpaste="return false" (keypress)="Service.inputFilter($event)" name="licence_document_file" [(ngModel)]="workPermitForm.licence_document_file" (change)="validateFile($event,'licence_document_file')" required>
                                                    <span class="icon-attach attach-data"></span>
                                                </span>            
                                            </div>
                                            <p class="error" *ngIf="!file_validation">Please Upload a valid file (ex: pdf,png)</p>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="matupload position-relative">
                                                <mat-form-field>
                                                        <input onpaste="return false" (keypress)="Service.inputFilter($event)" matInput readonly="true" name="quality_manual_name" [(ngModel)]="workPermitForm.quality_manual_name" placeholder="Upload Quality Manual" required>
                                                </mat-form-field>
                                                <span class="fileupload">
                                                    <input type="file" name="quality_manual_file" [(ngModel)]="workPermitForm.quality_manual_file" (change)="validateFile($event,'quality_manual_file')"  required>
                                                    <span class="icon-attach attach-data"></span>
                                                </span>            
                                            </div>
                                            <p class="error" *ngIf="!file_validation2">Please Upload a valid file (ex: pdf,png)</p>
                                        <!-- <mat-form-field class="cab-data">
                                                <mat-label>Upload Quality Manual</mat-label>
                                                <input matInput placeholder="" name="upload-quality">
                                                <span class="icon-attach attach-data"></span>
                                            </mat-form-field>  -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <!-- <mat-form-field class="cab-data">
                                                <mat-label>Upload Internal Procedures & Work Instructions</mat-label>
                                                <input matInput placeholder="" name="upload-instructions">
                                                <span class="icon-attach attach-data"></span>
                                            </mat-form-field>  -->
                                            <div class="matupload position-relative">
                                                <mat-form-field>
                                                        <input onpaste="return false" (keypress)="Service.inputFilter($event)" matInput readonly="true" name="work_instruction_name" [(ngModel)]="workPermitForm.work_instruction_name" placeholder="Upload Internal Procedures & Work Instructions" required>
                                                </mat-form-field>
                                                <span class="fileupload">
                                                    <input type="file" name="work_instruction_file" [(ngModel)]="workPermitForm.work_instruction_file" (change)="validateFile($event,'work_instruction_file')"  required>
                                                    <span class="icon-attach attach-data"></span>
                                                </span>            
                                            </div>
                                            <p class="error" *ngIf="!file_validation3">Please Upload a valid file (ex: pdf,png)</p>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <!-- <mat-form-field class="cab-data">
                                                <mat-label>Upload International Standard</mat-label>
                                                <input matInput placeholder="" name="upload-international">
                                                <span class="icon-attach attach-data"></span>
                                            </mat-form-field>  -->
                                            <div class="matupload position-relative">
                                                <mat-form-field>
                                                        <input matInput onpaste="return false" (keypress)="Service.inputFilter($event)" readonly="true" name="check_list_name" [(ngModel)]="workPermitForm.check_list_name" placeholder="Upload International Standard" required>
                                                </mat-form-field>
                                                <span class="fileupload">
                                                    <input type="file" name="check_list_file" [(ngModel)]="workPermitForm.check_list_file" (change)="validateFile($event,'check_list_file')"  required>
                                                    <span class="icon-attach attach-data"></span>
                                                </span>            
                                            </div>
                                            <p class="error" *ngIf="!file_validation4">Please Upload a valid file (ex: pdf,png)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="assess-dir">
                        <div class="row m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-12 p-0">
                                            <div class="cab-info">
                                                <h5>3. PLEDGE</h5>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row  ">
                                        <div class="col-12">
                                            <div class="pledge">
                                                <p>I, the undersigned confirm that the above-mentioned Conformity Assessment Body have been 
                                                    processed in accordance with Law No. 2/ 2010 regarding organizing work of conformity assessment 
                                                    bodies operating in the emirate of Dubai, and pledge to abide by the application requirements 
                                                    described below:</p>
                                                    <ol>
                                                        <li>Providing all the required documents at the site by the time of audit visit as per the 
                                                            requirements of the system and its executive administrative.</li>
                                                        <li>The presence of the Director and the staff involved at the site during the audit visit.</li>
                                                        <li>Notify the Accreditation Department in the event of any amendments to the Quality Management System.</li>
                                                        <li>Tolerate all the consequences and legal sanctions in case of violation of any of the conditions.</li>
                                                    </ol>
                                                <p>Therefore, kindly make an appointment for on-site audit in preparation for issuing the permit activity.</p>
                                                <p><b>Important Note: </b>Entity must submit the application by e-mail to <span>dacinfo@dm.gov.ae</span> to 
                                                    obtain an appointment for on-site disclosure.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="confirm">
                                <mat-checkbox name="authorization_confirm1" [(ngModel)]="authorizationList.authorization_confirm1" >I confirm that the information given in this form are true, complete and accurate. 
                                I understand & agree that inaccurate information provided could delay or reject my application.</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <!-- <div class="col-md-3 col-sm-12 p-0">
                        </div> -->
                        <div class="form-group col-md-6">
                            <div class="md-form">
                                <label for="form1"></label>
                                <re-captcha (resolved)="resolvedSecurity($event)"></re-captcha>
                                <span *ngIf="checkCaptchaValidation != true">
                                    <mat-error>Security Check is required</mat-error>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-8 col-sm-12">
                            <div class="bttns-health">
                                <!-- <button class="cancel-bttn">CANCEL</button> -->
                                <button class="submit-bttn submit-health">SUBMIT</button>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 p-0">
                            <div class="bttns-health bttns-rig">
                                <button class="review-bttn">REVIEW DOCUMENTS</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="service_bg">
        <div class="container-fluid h-100">
            <div class="row justify-content-end h-100 m-0">
                <div class="col-lg-4 col-sm-6 p-0 align-self-center">
                    <form>
                        <div class="service-exp">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="heading">Get accredited, remain certified, and increase your impact.</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- <app-footer></app-footer> -->