<app-loader *ngIf="!loader"></app-loader>
<div class="main-content">

    <section>
        <div class="form_main">
            <div class="container-fluid">
                <div class="form-hdr">
                    <div class="row">
                        <div class="col-md-12 p-0 mb-3">
                            <div class="dashbrd-hdr">
                                <h3>Work Permit</h3>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="cust-stepper" id="application_information">
                    <form #ngForm1="ngForm" (ngSubmit)="onSubmit(ngForm1)" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr form_subhdr">
                                                <h5>DETAILS OF CONFORMITY ASSESSMENT BODY (CAB)</h5>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                   
                                    <div class="row">
                                        <div class="col-md-3">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Name of CAB</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" placeholder="Official Website" name="name_of_cab" [(ngModel)]="workPermitForm.name_of_cab">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-9">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Address</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" placeholder="Address" name="address" [(ngModel)]="workPermitForm.address">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>License no.</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" placeholder="License no." name="cab_license_no" [(ngModel)]="workPermitForm.cab_license_no">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Issued Date</mat-label>
                                                <input readonly matInput [matDatepicker]="cab_issue_date" [max]="today" 
                                                  placeholder="Issued Date" (click)="Service._openCalendar(cab_issue_date)" name="cab_issue_date" [(ngModel)]="workPermitForm.cab_issue_date">
                                                <mat-datepicker-toggle matSuffix [for]="cab_issue_date"></mat-datepicker-toggle>
                                                <mat-datepicker #cab_issue_date disabled="false"></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Applicant Name</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" placeholder="License no." name="applicant_name" [(ngModel)]="workPermitForm.applicant_name">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Designation</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" placeholder="Designation" name="designation" [(ngModel)]="workPermitForm.designation">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Tel. No.</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput placeholder="Issued Date" name="tel_no" [(ngModel)]="workPermitForm.tel_no">
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Email Address</mat-label>
                                                <input  matInput autocomplete="off" placeholder="Email Address"  name="email_address"  [(ngModel)]="workPermitForm.email_address"  required>
                                                <mat-error></mat-error> 
                                            </mat-form-field>
                                            <p class="error" *ngIf="workPermitForm.email_address && !Service.checkInput('email',workPermitForm.email_address)">Please Enter Correct Email Id</p>
                                        </div>
                                    </div>

                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Activity Section</mat-label>
                                                <mat-select placeholder="Select" name="activity_section" [(ngModel)]="workPermitForm.activity_section" required>
                                                    <mat-option value="Yes">Yes</mat-option>
                                                    <mat-option value="No">No</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-6">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Scope to be Authorized</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" placeholder="Scope to be Authorized" name="scopes_to_be_authorized" [(ngModel)]="workPermitForm.scopes_to_be_authorized">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr form_subhdr">
                                                <h5>DOCUMENTS ATTACHED TO THE APPLICATION</h5>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>License No.</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" placeholder="License No." name="license_no" [(ngModel)]="workPermitForm.license_no">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Date of Issue</mat-label>
                                                <input readonly matInput [matDatepicker]="date_of_issue" [max]="today" 
                                                  placeholder="Issued Date" (click)="Service._openCalendar(date_of_issue)" name="date_of_issue" [(ngModel)]="workPermitForm.date_of_issue">
                                                <mat-datepicker-toggle matSuffix [for]="date_of_issue"></mat-datepicker-toggle>
                                                <mat-datepicker #date_of_issue disabled="false"></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Date of Expiry</mat-label>
                                                <input readonly matInput [matDatepicker]="date_of_expiry" [max]="today" 
                                                  placeholder="Issued Date" (click)="Service._openCalendar(date_of_expiry)" name="date_of_expiry" [(ngModel)]="workPermitForm.date_of_expiry">
                                                <mat-datepicker-toggle matSuffix [for]="date_of_expiry"></mat-datepicker-toggle>
                                                <mat-datepicker #date_of_expiry disabled="false"></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="matupload position-relative view_file">
                                                <mat-form-field  class="lng-data">
                                                    <input matInput readonly="true" name="licence_document" [(ngModel)]="workPermitForm.licence_document" placeholder="Upload License Documents" required>
                                        
                                                    <a href="{{hcabLogo1Path}}" target="_blank">
                                                        <span class="icon-eye visible-pwd"></span>
                                                    </a>
                                                </mat-form-field>
                                        
                                                <span class="fileupload">
                                                    <input type="file" name="id_issuedEsma" [(ngModel)]="licence_document_file" (change)="validateFile($event,'licence_document_file')">
                                                    <span class="icon-attach attach-data"></span>
                                                </span>
                                                <p class="error" *ngIf="!licence_document_validation">Please Upload a valid file (ex: pdf)</p>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="matupload position-relative view_file">
                                                <mat-form-field  class="lng-data">
                                                    <input matInput readonly="true" name="quality_manual" [(ngModel)]="workPermitForm.quality_manual" placeholder="Upload License Documents" required>
                                        
                                                    <a href="{{hcabLogo1Path}}" target="_blank">
                                                        <span class="icon-eye visible-pwd"></span>
                                                    </a>
                                                </mat-form-field>
                                        
                                                <span class="fileupload">
                                                    <input type="file" name="id_issuedEsma" [(ngModel)]="quality_manual_file" (change)="validateFile($event,'quality_manual_file')">
                                                    <span class="icon-attach attach-data"></span>
                                                </span>
                                                <p class="error" *ngIf="!quality_manual_validation">Please Upload a valid file (ex: pdf)</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="matupload position-relative view_file">
                                                <mat-form-field  class="lng-data">
                                                    <input matInput readonly="true" name="work_instruction" [(ngModel)]="workPermitForm.work_instruction" placeholder="Upload License Documents" required>
                                        
                                                    <a href="{{hcabLogo1Path}}" target="_blank">
                                                        <span class="icon-eye visible-pwd"></span>
                                                    </a>
                                                </mat-form-field>
                                        
                                                <span class="fileupload">
                                                    <input type="file" name="id_issuedEsma" [(ngModel)]="work_instruction_file" (change)="validateFile($event,'work_instruction_file')">
                                                    <span class="icon-attach attach-data"></span>
                                                </span>
                                                <p class="error" *ngIf="!work_instruction_validation">Please Upload a valid file (ex: pdf)</p>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="matupload position-relative view_file">
                                                <mat-form-field  class="lng-data">
                                                    <input matInput readonly="true" name="check_list" [(ngModel)]="workPermitForm.check_list" placeholder="Upload License Documents" required>
                                        
                                                    <a href="{{hcabLogo1Path}}" target="_blank">
                                                        <span class="icon-eye visible-pwd"></span>
                                                    </a>
                                                </mat-form-field>
                                        
                                                <span class="fileupload">
                                                    <input type="file" name="id_issuedEsma" [(ngModel)]="check_list_file" (change)="validateFile($event,'check_list_file')">
                                                    <span class="icon-attach attach-data"></span>
                                                </span>
                                                <p class="error" *ngIf="!check_list_validation">Please Upload a valid file (ex: pdf)</p>
                                            </div>
                                        </div>

                                    </div>
                                    
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr form_subhdr">
                                                <h5>ON THE BEHALF OF THE APPLICANT COMPANY</h5>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr">
                                                <h5>SIGNED FOR AND ON BEHALF OF APPLICANT</h5>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Organization Name</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" placeholder="Organization Name" name="organization_name" [(ngModel)]="workPermitForm.organization_name">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Full Name of Authorized Representative</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" placeholder="Full Name of Authorized Representative" name="representative_name" [(ngModel)]="workPermitForm.representative_name">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Behalf Designation</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" placeholder="Behalf Designation" name="organization_name" [(ngModel)]="workPermitForm.behalf_designation">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Digital Signature</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" placeholder="Digital Signature" name="organization_name" [(ngModel)]="workPermitForm.digital_signature">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-6">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Date</mat-label>
                                                <input matInput placeholder="Date" name="onbehalf_representative_date" 
                                                [(ngModel)]="workPermitForm.application_date" [value]="Service.returnCurrentDate()">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <div class="button-content"> 
                                        <button class="cancel-bttn" (click)="savedraftStep('step1')" type="button">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health">CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>
<!-- <app-footer (onData)="getData($event)"></app-footer> -->