<app-loader *ngIf="!loader"></app-loader>
<div class="main-content">
       
    <section>
        <div class="form_main">
            <div class="container-fluid"> 
                <div class="form-hdr">
                    <div class="row">
                        <div class="col-md-12 p-0 mb-3">
                            <div class="dashbrd-hdr">
                                <h3>Apply Public Course</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-container>
                    <div class="row user_main">
                        <div class="col-md-12">
                            <div class="user-steps">
                                <!--  (click)="Service.headerStepMove(item.title, headerSteps,'menu')" [ngStyle]="{'cursor':'pointer'}" -->
                                <ng-container *ngFor="let item of headerSteps; let k=index;">
                                    <div class="user-next" [ngClass]="(item.activeClass != '') ? item.activeClass : ''">
                                        <div class="usernext-icon">
                                            <span [ngClass]="(item.activeClass === 'user-done') ? 'icon-tick' : item.icon"></span>
                                        </div>
                                        <!-- (click)="Service.headerStepMove(item.title, headerSteps,'menu')"  [ngStyle]="{'cursor':'pointer'}" -->
                                        <div class="user-details-pending" id="course_header" >
                                            <span [innerHTML]="item.desc"></span>
                                        </div>
                                    </div>
                                    <div class="next-step" *ngIf="k < headerSteps.length-1">
                                        <span class="icon-arrow-right"></span>
                                    </div>
                                </ng-container>                              
                            </div>
                        </div>
                    </div>
                </ng-container>

                <div class="cust-stepper" id="application_information">
                    <form #ngForm1="ngForm" (ngSubmit)="onSubmitStep1(ngForm1)" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr">
                                                <h5>1. APPLICANT INFORMATION</h5>
                                                
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                   
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Organization / Candidate Name</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" [readonly]="userType =='cab_client' ? true : false" placeholder="Organization / Candidate Name" name="organization_name" [(ngModel)]="step1Data.organization_name">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Mailing Address</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" [readonly]="userType =='cab_client' ? true : false" placeholder="Mailing Address" name="mailing_address" [(ngModel)]="step1Data.mailing_address">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>PO Box No./ZIP Code</mat-label>
                                                <input matInput (keypress)="Service.IsNumeric($event)" autocomplete="off" placeholder="Mailing Address" [readonly]="userType =='cab_client' ? true : false" name="zip_code" [(ngModel)]="step1Data.zip_code">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Country</mat-label>
                                                <mat-select placeholder="Select" name="country" [(ngModel)]="step1Data.country" required>
                                                    <mat-option [value]="item.name" (click)="statelistById(item.id)" *ngFor="let item of getCountryLists; let i = index;">{{item.name}}</mat-option>
                                                </mat-select> 
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>State</mat-label>
                                                <mat-select placeholder="Select" name="state" [(ngModel)]="step1Data.state"  required>
                                                    <mat-option [value]="item.name" (click)="citylistById(item.id)" *ngFor="let item of allStateList; let i = index;">{{item.name}}</mat-option>
                                                </mat-select>    
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>City</mat-label>
                                                <mat-select placeholder="Select" name="city" [(ngModel)]="step1Data.city"  required>
                                                    <mat-option [value]="item.name" *ngFor="let item of allCityList; let i = index;">{{item.name}}</mat-option>
                                                </mat-select>      
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Telephone Number</mat-label>
                                                <input (keypress)="Service.IsNumeric($event)" [readonly]="userType =='cab_client' ? true : false" autocomplete="off" matInput placeholder="Issued Date" name="telephone_number" [(ngModel)]="step1Data.telephone_number">
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Fax No.</mat-label>
                                                <input matInput [readonly]="userType =='cab_client' ? true : false" (keypress)="Service.IsNumeric($event)" autocomplete="off" placeholder="Fax No." name="fax_no" [(ngModel)]="step1Data.fax_no">
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Official Email Address</mat-label>
                                                <input matInput autocomplete="off" placeholder="Official Email Address"  name="official_email" [(ngModel)]="step1Data.official_email" [readonly]="userType =='cab_client' ? true : false">
                                                <mat-error></mat-error> 
                                            </mat-form-field>
                                            <p class="error" *ngIf="step1Data.official_email && !Service.checkInput('email',step1Data.official_email)">Please Enter Correct Email Id</p>
                                        </div>
                                    </div>

                                    
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Official Website</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" [readonly]="userType =='cab_client' ? true : false" matInput autocomplete="off" placeholder="Official Website" name="official_website" [(ngModel)]="step1Data.official_website">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Mobile Phone Number</mat-label>
                                                <input matInput (keypress)="Service.IsNumeric($event)" [readonly]="userType =='cab_client' ? true : false" autocomplete="off" placeholder="Mobile Phone Number" name="mobile_phone_number" [(ngModel)]="step1Data.mobile_phone_number">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Designation</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" [readonly]="userType =='cab_client' ? true : false" matInput autocomplete="off" placeholder="Designation" name="designation" [(ngModel)]="step1Data.designation">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Authorized Contact Person Name</mat-label>
                                                <input (keypress)="Service.inputFilter($event, Service.regExName)" matInput autocomplete="off" placeholder="Authorized Contact Person Name" name="authorized_contact_person" [readonly]="userType =='cab_client' ? true : false" [(ngModel)]="step1Data.authorized_contact_person">
                                                <mat-error></mat-error>  
                                            </mat-form-field>
                                        </div>
                                    </div>

                                </div>
                                
                            </div>
                                
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <div class="button-content">
                                        <a class="cancel-bttn" routerLink="/dashboard/cab_client/training-course" type="button">CANCEL</a>
                                        <button class="cancel-bttn" (click)="savedraftStep('step1')" type="button">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health">CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>


                <div class="cust-stepper" id="participant"  [ngStyle]="{'display':'none'}">
                    <form #ngForm2="ngForm" (ngSubmit)="onSubmitStep2(ngForm2)" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr form_subhdr">
                                                <h5>2. PARTICIPANT/TRAINEES DETAILS</h5>
                                                <span>* Your certiticate will be issued in the same name so ensure the candidate names are entered correctly</span>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row" >
                                        <div class="col-md-12">
                                            <div class="table-content-health">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>Participant/Trainee Name</th>
                                                            <th>E-mail Address</th>
                                                            <th>Phone Number</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of participantTraineeDetails; let i = index;">
                                                            <td>
                                                                <div class="participant_trainee">
                                                                    <mat-form-field class="cab-data mr-2">
                                                                        <mat-label>First Name</mat-label>
                                                                        <input  (keypress)="Service.inputFilter($event, Service.regExAlphaNum)" matInput placeholder="First Name" name="first_name_{{i}}" [(ngModel)]="participantTraineeDetails[i].first_name" required> 
                                                                    </mat-form-field>

                                                                    <mat-form-field class="cab-data">
                                                                        <mat-label>Last Name</mat-label>
                                                                        <input  (keypress)="Service.inputFilter($event, Service.regExAlphaNum)" matInput placeholder="Last Name" name="last_name_{{i}}" [(ngModel)]="participantTraineeDetails[i].last_name" required> 
                                                                    </mat-form-field>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                <mat-form-field class="cab-data">
                                                                    <mat-label>E-mail Address</mat-label>
                                                                    <input  (keypress)="Service.inputFilter($event, Service.regExAlphaNum)" matInput placeholder="E-mail Address" name="email_address_{{i}}" [(ngModel)]="participantTraineeDetails[i].email_address" required> 
                                                                </mat-form-field>
                                                                <p class="error" *ngIf="participantTraineeDetails[i].email_address && !Service.checkInput('email',participantTraineeDetails[i].email_address)">Please Enter Correct Email Id</p>
                                                            </td>

                                                            <td>
                                                                <mat-form-field class="cab-data">
                                                                    <mat-label>Phone Number</mat-label>
                                                                    <input (keypress)="Service.IsNumeric($event)" matInput placeholder="Phone Number" name="phone_number_{{i}}" [(ngModel)]="participantTraineeDetails[i].phone_number" required> 
                                                                </mat-form-field>
                                                            </td>
                                                            
                                                            <td class="content-icn">
                                                                <span *ngIf="i >= 0" class="icon-add" (click)="addRow(participantTraineeDetails)"></span> &nbsp;
                                                                <span *ngIf="i >= 1" class="icon-cross" (click)="removeRow(participantTraineeDetails,i)"></span>
                                                            </td> 
                                                        </tr>
                                                    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <!-- (click)="onSubmitTestingParticipation()" -->
                                    <div class="button-content">
                                        <a href="javascript:void(0)" class="cancel-bttn"  type="button" (click)="Service.headerStepMove('application_information',headerSteps,'menu','profciency_testing_participation')">BACK</a> 
                                        <button class="cancel-bttn" (click)="savedraftStep('step2')" type="button">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health" >CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="cust-stepper" id="training_details"  [ngStyle]="{'display':'none'}">
                    <form #ngForm3="ngForm" (ngSubmit)="onSubmitStep3(ngForm3)" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr">
                                                <h5>3. TRAINING DETAILS</h5>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    
                                    <div class="row mt-3">
                                        <div class="col-md-6 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Requested Training Course Title</mat-label>
                                                <input matInput placeholder="Requested Training Course Title" name="course_title" [(ngModel)]="step3Data.course_title" required>
                                            </mat-form-field>

                                        </div>

                                        <!-- {{step3Data.training_duration}}
                                        {{trainingDurationSelectbox}} -->
                                        <div class="col-md-6 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Training Duration</mat-label>
                                                <mat-select placeholder="Select" [disabled]="trainingDurationSelectbox" name="training_duration" [(ngModel)]="step3Data.training_duration" required>
                                                    <mat-option [value]="item.key" *ngFor="let item of trainingDuration; let i = index;">{{item.title}}</mat-option>
                                                </mat-select> 
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <!-- (click)="onSubmitPersonalInformation()" -->
                                    <!-- <div class="button-content">
                                        <button class="cancel-bttn" type="button" (click)="Service.headerStepMove('profciency_testing_participation',headerSteps,'menu','personal_information')">BACK</button> 
                                    </div> -->
                                    <div class="button-content">
                                        <a class="cancel-bttn" href="javascript:void(0)" type="button" (click)="Service.headerStepMove('participant',headerSteps,'menu','training_details')">BACK</a> 
                                        <button class="cancel-bttn" type="button" (click)="savedraftStep('step3')">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health" >CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="cust-stepper" id="fees_details"  [ngStyle]="{'display':'none'}">
                    <form #ngForm4="ngForm" (ngSubmit)="onSubmitStep4(ngForm4)" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr">
                                                <h5>4. FEES DETAILS</h5>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-training">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Program Name</th>
                                                            <th>Fee/Day Per Trainee</th>
                                                            <th>No. of Participants</th>
                                                            <th>Amount (AED)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="fee">
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Tuition Fees</td>
                                                            <td>{{fee_day_pertime1}}</td>
                                                            <td>
                                                                <input type="text" class="fee-inp" name="no_of_participants1" [disabled]="!editable" [(ngModel)]="noofParticipants">
                                                            </td>
                                                            <td>{{tutionFees}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>TAX (VAT)</td>
                                                            <td>{{fee_day_pertime2}}</td>
                                                            <td>
                                                                <input type="text" class="fee-inp" name="no_of_participants2" [disabled]="!editable" [(ngModel)]="noofParticipants">
                                                            </td>
                                                            <td>{{taxVat}}</td>
                                                        </tr>
                                                        <!-- <tr>
                                                            <td>3</td>
                                                            <td>Knowledge Fees - Per Participant درهم المعرفة</td>
                                                            <td>{{fee_day_pertime3}}</td>
                                                            <td>
                                                                <input type="text" class="fee-inp" name="no_of_participants3" [disabled]="!editable" [(ngModel)]="noofParticipants">
                                                            </td>
                                                            <td>{{knowledgeFees}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Innovetion Fees - Per Participant درهم الابتكار</td>
                                                            <td>{{fee_day_pertime4}}</td>
                                                            <td>
                                                                <input type="text" class="fee-inp" name="no_of_participants4" [disabled]="!editable" [(ngModel)]="noofParticipants">
                                                            </td>
                                                            <td>{{innovationFees}}</td>
                                                        </tr> -->
                                                        <tr>
                                                            <td></td>
                                                            <td colspan="3"><b>Total</b></td>
                                                            <td><b>{{subTotal}}</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <!-- (click)="onSubmitInformationAuditManagement()" -->
                                    <div class="button-content">
                                        <a class="cancel-bttn" href="javascript:void(0)" type="button" (click)="Service.headerStepMove('training_details',headerSteps,'menu','fees_details')">BACK</a> 
                                        <button class="cancel-bttn" type="button" (click)="savedraftStep('step4')">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health" >CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="cust-stepper" id="authorization"  [ngStyle]="{'display':'none'}">
                    <form #ngForm5="ngForm" (ngSubmit)="onSubmitStep5(ngForm5)" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr form_subhdr">
                                                <h5>5. AUTHORIZATION OF THE APPLICATION</h5>
                                                <!-- <span>*If you want the certificate issued on a different address please update below</span> -->
                                            </div>
                                            <hr>
                                        </div>
                                        
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-12 p-0">
                                            <div class="form-subheader-data subhead-dt">
                                                <h5>TERMS AND CONDITIONS</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="auth_data_main">
                                        <ul>
                                            <li>
                                                Training materials electronic format pdf files will be provided by EIAC.
                                            </li>
                                            <li>
                                                This quotation is based on the law no.2/2010 of Government of Dubai.
                                            </li>
                                            <li>
                                                A list of participant(s)/trainee(s) with their exact names & contacts ( e.g: e-mail, phone No., ..... etc) must be provided to EIAC by the CAB(s) in advance.
                                            </li>
                                            <li>
                                                A copy of applicants tax certificate (if available) must be submitted with this request.
                                            </li>
                                            <li>
                                                Attach all participants/trainees ID card. Names on certificates will be exactly as the name on the ID cards must be present with the trainees during the course.
                                            </li>
                                            <li>
                                                Registration must be completed by filling all cells in this contract & send it to EIAC's officer(s) prior the course scheduled time by one month - one month in advance - in order to enroll the trainee(s) on the course.
                                            </li>
                                            <li>
                                                Payment of full course amount shall be in advance 15 days from the date of training start.
                                            </li>
                                            <li>
                                                CAB will bear the fees in case of any cancellation due to any reasons or circumstances from their side.
                                            </li>
                                            <li>
                                                Shifting the course time is prohibited for Public Group Training. In all cases, fees paid will not be found.
                                            </li>
                                            <li>
                                                The programs could include an evaluation exam to evaluate of the course.
                                            </li>
                                        </ul>

                                        <mat-checkbox name="undertaking_confirmTop3" 
                                        [(ngModel)]="authorizationList.undertaking_confirmTop3">Agree to all terms and conditions</mat-checkbox>
                                    </div>
                                </div>


                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr">
                                                <h5>5. ON THE BEHALF OF THE APPLICANT COMPANY</h5>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    
                                    <div class="row mt-3">
                                        <div class="col-12 p-0">
                                            <div class="form-subheader-data subhead-dt">
                                                <h5>SIGNED FOR AND ON BEHALF OF APPLICANT</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Organization Name</mat-label>
                                                <input 
                                                matInput placeholder="Organization Name" name="onbehalf_company_name" 
                                                [(ngModel)]="step5Data.organization_name" required>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Full Name of Authorized Representative</mat-label>
                                                <input  
                                                (keypress)="Service.inputFilter($event, Service.regExName)" matInput 
                                                placeholder="Full Name of Authorized Representative" name="onbehalf_representative_name" 
                                                [(ngModel)]="step5Data.representative_name" required>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Designation</mat-label>
                                                <input  (keypress)="Service.inputFilter($event, Service.regExName)" 
                                                matInput placeholder="Designation" name="behalf_designation" [(ngModel)]="step5Data.designation" required>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Digital Signature</mat-label>
                                                <input  
                                                (keypress)="Service.inputFilter($event, Service.regExName)" matInput 
                                                placeholder="Digital Signature" name="digi_sign" [(ngModel)]="step5Data.digital_signature" required>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Date</mat-label>
                                                <input matInput [matDatepicker]="onbehalf_representative_date" 
                                                placeholder="Date" name="onbehalf_representative_date" readonly="true"
                                                [(ngModel)]="step5Data.application_date" [value]="Service.returnCurrentDate()">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <div class="button-content">
                                        <a class="cancel-bttn" href="javascript:void(0)" type="button" (click)="Service.headerStepMove('fees_details',headerSteps,'menu','authorization')">BACK</a> 
                                        <button class="cancel-bttn" type="button" (click)="savedraftStep('step5')">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health" >SUBMIT</button>
                                </div>
                            </div>
                        </div>

                        <div class="row"> 
                            <span id="openPayDialog" (click)="openView(payComp)"></span>
                            <ng-template #payComp let-modal>
                                <div class="main_pop">
                                    <!-- <div class="pop_close">
                                        <span class="icon-close"></span>
                                    </div> -->
                                    <div class="pop_thanks">
                                        <h5>Thank you</h5>
                                        <p>Your Application has been received, please wait for the Proforma Invoice to be generated, to proceed with 
                                            payment</p>
                                        <button class="submit-bttn" (click)="closeDialog()"
                                        routerLink="/dashboard/training-status">Return to Status</button>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </form>
                </div>

                <div class="cust-stepper" id="proforma_invoice" [ngStyle]="{'display':'none'}">
                    <form #ngForm8="ngForm" (ngSubmit)="onSubmitStep6(ngForm6)" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <!--  (ngSubmit)="onSubmitPaymentInformation(ngForm8)" -->
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr">
                                                <h5>6. Proforma Invoice</h5>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    <!-- paymentFilePath -->
                                    <div class="row">
                                        <app-loader *ngIf="loaderPdf"></app-loader>
                                        <p *ngIf="errorLoader">Error Loading PDF</p>
                                        <pdf-viewer [src]="paymentFilePath" [show-all]="true" [stick-to-page]="true"
                                            [zoom]="1.0" [original-size]="false" [autoresize]="true"
                                            [show-borders]="true" (error)="onError($event)" (on-progress)="onProgress($event)"
                                            (after-load-complete)="completeLoadPDF($event)"
                                            [render-text]="true" [ngStyle]="{'margin':'0 auto'}">
                                        </pdf-viewer>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <!-- <div class="button-content">
                                        <a href="javascript:void(0)" class="cancel-bttn" type="button" (click)="Service.headerStepMove('authorization',headerSteps,'menu','proforma_invoice')">BACK</a>
                                    </div> -->
                                    <div class="bttn_wrap" *ngIf="paymentFilePath != ''">
                                        <button class="submit-bttn submit-health mr-5">PROCEED TO PAYMENT</button>
                                        <button class="submit-bttn submit-health" type="button" (click)="step_payment()">UPDATE PAYMENT</button>
                                    </div>
                                    <ng-container *ngIf="transactions.length && paymentMode == 'Sandbox'">
                                        <div id="paypalPayment"></div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="cust-stepper" id="payment_update" [ngStyle]="{'display':'none'}">
                    <form #ngForm7="ngForm" (ngSubmit)="onSubmitPaymentInformation(ngForm7)" autocomplete="off">
                        <div class="row form-bdy m-0">
                            <div class="wrapper">
                                <!--  (ngSubmit)="onSubmitPaymentInformation(ngForm8)" -->
                                
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="form-subhdr">
                                                <h5>7. Payment Update</h5>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mt-3">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Voucher Code</mat-label>
                                                <input type="text" readonly="true" [ngModelOptions]="{standalone: true}" required="true"
                                                matInput placeholder="Voucher Code" 
                                                [(ngModel)]="voucherSentData.voucher_code">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4  mt-3">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Payment Date</mat-label>
                                                <input matInput (click)="Service._openCalendar(payment_date)" [matDatepicker]="payment_date" name="payment_date" 
                                                [(ngModel)]="voucherSentData.payment_date" placeholder="Payment Date" required>
                                                <mat-datepicker-toggle (click)="Service._openCalendar(payment_date)" matSuffix [for]="payment_date"></mat-datepicker-toggle>
                                                <mat-datepicker #payment_date disabled="false"></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4  mt-3">
                                            <mat-form-field class="cab-data cur-aed" [floatLabel]="'always'">
                                                <input type="number" readonly="true" [ngModelOptions]="{standalone: true}" required="true"
                                                matInput placeholder="Payment Amount" 
                                                [(ngModel)]="voucherSentData.amount">
                                                <span matPrefix>AED&nbsp;</span>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Transaction Number</mat-label>
                                                <input type="text" [ngModelOptions]="{standalone: true}" required="true"
                                                matInput placeholder="Transaction Number" 
                                                [(ngModel)]="voucherSentData.transaction_no">
                                            </mat-form-field>
                                        </div>
                                        <!-- <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-select placeholder="Select" name="payment_method" [(ngModel)]="voucherSentData.payment_method" required="true">
                                                    <mat-option value="Cash">Cash</mat-option>
                                                    <mat-option value="Online">Online</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div> -->
                                        <div class="col-md-4">
                                            <mat-label [ngStyle]="{'font-size': '16px'}">Payment Method</mat-label>
                                            <mat-radio-group name="payment_method" 
                                            [(ngModel)]="voucherSentData.payment_method" required>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label class="check-rdo">
                                                            <mat-radio-button value="Cash">Cash</mat-radio-button>
                                                        </label>
                                                    </div>  
                                                    <div class="col-md-4">
                                                        <label class="check-rdo">
                                                            <mat-radio-button value="Online">Online</mat-radio-button>
                                                        </label>
                                                    </div>  
                                            
                                                </div>
                                            </mat-radio-group>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Payment Made By</mat-label>
                                                <input type="text" [ngModelOptions]="{standalone: true}" required="true"
                                                matInput placeholder="Payment Made By" 
                                                [(ngModel)]="voucherSentData.payment_made_by">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="cab-data">
                                                <mat-label>Mobile Number</mat-label>
                                                <input type="text" [ngModelOptions]="{standalone: true}" (keypress)="Service.IsNumeric($event)" required="true"
                                                matInput placeholder="Mobile Number" maxlength="13" 
                                                [(ngModel)]="voucherSentData.mobile_no" required>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="fileupload">
                                                <input type="file" name="payment_receipt"                                
                                                (change)="validateFile1($event, 'payment_receipt')" required>
                                                <span class="icon-attach attach-data"></span>
                                            </span>
                                            <a class="image_file_link" *ngIf="paymentFile != false && paymentFile != true" target="_blank" [href]="paymentFile">Link</a>
                                            <p class="error" *ngIf="paymentReceiptValidation == false">Please Upload a valid file (ex: pdf)</p>
                                        </div>

                                    </div>
                                </div>

                                <span id="openAppDialog" (click)="openView(appComp)"></span>
                                <ng-template #appComp let-modal>
                                    <div class="main_pop">
                                        <!-- <div class="pop_close" (click)="closeChecklistDialog()">
                                            <span class="icon-close"></span>
                                        </div> -->
                                        <div class="pop_thanks">
                                            <h5>Thank you</h5>
                                            <p>Your form has been successfully submitted and it is under review. We will update you shortly.</p>
                                            <button class="submit-bttn" (click)="closeChecklistDialog()" routerLink="/dashboard/training-status">Return to Status</button>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bttns-health bttn-staff">
                                    <div class="button-content">
                                        <ng-container *ngIf="!paymentStepComp">
                                        <a class="cancel-bttn" type="button" (click)="Service.headerStepMove('proforma_invoice',headerSteps,'menu','payment_update')">BACK</a>
                                        </ng-container>
                                        <button class="cancel-bttn" type="button" (click)="onSubmitPaymentInformation(ngForm7, true)">SAVE AS DRAFT</button>
                                    </div>
                                    <button class="submit-bttn submit-health" >SUBMIT</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                

                <div class="cust-stepper" id="payment_update" [ngStyle]="{'display':'none'}">

                </div>
                
            </div>
        </div>
    </section>
</div>