<app-loader *ngIf="!loaderData"></app-loader>
<div class="main-content">
    <section>
        <div class="form-wrapper-course">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dashbrd-hdr">
                            <h3>Apply InPremise course</h3>
                        </div>
                    </div>
                </div>
                <ng-container *ngFor="let item of courseDetails; let k = index;">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- {{item.public_course_dtls | json}} -->
                            <h1>{{item.public_course_dtls.course}}</h1>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-lg-6 ">
                            <div class="course-list">
                                <div class="description-course" *ngIf="item.public_course_dtls && item.public_course_dtls.course_image != ''">
                                    <img src="{{_constant.mediaPath}}{{item.public_course_dtls.course_image}}" [alt] = "item.public_course_dtls.course"
                                    [title] = "item.public_course_dtls.course">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 pl-sm-0">
                            <div class="service-course-block">
                                <div class="course-data">
                                    <div class="course-info">
                                        <h3>COURSE INFORMATION</h3>
                                    </div>
                                    <div class="course-info">
                                        <div class="course-det">
                                            <h5>Date : 
                                                <div  *ngIf="item.eventDates && courseDetails?.event.eventDates[0].event_date; then Dateshow else Datehide" ></div>

                                                <ng-template #Dateshow>
                                                    <span>{{courseDetails?.event.eventDates[0].event_date | date}}</span>
                                                </ng-template>
                                                <ng-template #Datehide>
                                                    <span>N/A</span>
                                                </ng-template>
                                            </h5>
                                        </div>
                                        
                                        <div class="course-det">
                                            <h5>Duration : <span *ngIf="item.public_course_dtls?.training_days != ''">{{item.public_course_dtls?.training_days}} Days</span>
                                            <span *ngIf="item.public_course_dtls?.training_days == ''">N/A</span>
                                            </h5>
                                        </div>
                                    </div>
                                    
                                    <div class="course-info">
                                        <div class="course-det">
                                            <h5>Fees in AED : <span *ngIf="item.public_course_dtls?.fees_per_trainee != ''">{{item.public_course_dtls?.fees_per_trainee}}</span>
                                            <span *ngIf="item.public_course_dtls?.fees_per_trainee == ''">N/A</span>
                                            </h5>
                                        </div>

                                        <div class="course-det">
                                            <h5>Capacity : <span *ngIf="item.public_course_dtls?.capacity != ''">{{item.public_course_dtls?.capacity}}</span>
                                            <span *ngIf="item.public_course_dtls?.capacity == ''">N/A</span>
                                            </h5>
                                        </div>
                                    </div>

                                    <div class="course-info">
                                        <h5>Trainer : </h5>
                                        <!-- <h5>Trainer : <span *ngIf="courseDetails?.tutor != ''">{{courseDetails?.event.tutor}}</span>
                                        <span *ngIf="courseDetails?.tutor == ''">N/A</span>
                                        </h5> -->
                                    </div>

                                    <div class="course-info">
                                        <h5>Location : <span *ngIf="item.public_course_dtls?.location == 'eiac_training_center'">EIAC Training Center</span>
                                        <span *ngIf="item.public_course_dtls?.location === ''">N/A</span>
                                        </h5>
                                    </div>

                                    <div class="course-info">
                                        <!-- <h5>Audience : <span *ngIf="item.public_course?.allTargatedAud && item.public_course?.allTargatedAud[0].target_aud_name.title">{{courseDetails?.allTargatedAud[0].target_aud_name.title}}</span>
                                        <span *ngIf="!courseDetails?.allTargatedAud && !courseDetails?.allTargatedAud[0].target_aud_name.title">{{courseDetails?.allTargatedAud[0].target_aud_name.title}}</span>
                                        </h5> -->
                                        <!-- <ng-container *ngIf="item.public_course_dtls.allTargatedAud != undefined && item.public_course_dtls.allTargatedAud.length > 0">
                                            <ng-container *ngFor="let data of item.public_course_dtls.allTargatedAud">
                                                <span>{{data.target_aud_name.title}}</span>|
                                            </ng-container>
                                        </ng-container> -->
                                        <ng-container *ngIf="audienceData[k].audience != undefined && audienceData[k].audience != ''">
                                            {{audienceData[k].audience}}
                                        </ng-container>
                                        <ng-container *ngIf="audienceData[k].audience == ''">
                                            NA
                                        </ng-container>
                                        <!-- <span *ngIf="audienceData != ''">{{audienceData}}</span>
                                        <span *ngIf="audienceData === ''">NA</span> -->
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="progs-up">
                                <div class="prog-details">
                                    <p [innerHtml]="item.public_course_dtls?.course_description"></p>
                                </div>                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="course-bttn">
                                <div class="course-btn">
                                    <a class="curs-apply" routerLink = "/dashboard/cab_client/training-inpremise-form/{{item.training_course}}">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                
                
                </ng-container>
                        
            </div>
        </div>
    </section>
        
</div>