<div class="main-detail">
          <div class="user-header"> 
              <div class="container-fluid p-0">
                  <div class="main-dashboard-cnt">
                      <div class="row">                          
                          <div class="col-md-4">
                            <a routerLink="/dashboard/candidate/training-public-course">
                                <p>Public Course</p>
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    