
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">

                <form [formGroup]="forgotPassword" (ngSubmit)="resetPassword()">
                    <div class="login-frm">
                        <div class="logos">
                            <img src="/assets/images/logo-left.png" alt="">
                            <img src="/assets/images/logo-right.png" alt="">
                        </div>
                    <div class="login-data">
                        <div class="login-hdr">
                            <h3>Reset your Password</h3>
                            <!-- <h4>Enter your email address which you used during the on-boarding and change your password.</h4> -->
                            
                        </div>
                        <div class="usr-details" >
                            <!-- <mat-form-field class="cab-data" >
                                <mat-label>Email Address</mat-label>
                                <input matInput  type="text" formControlName="email" required placeholder="Email">
                            </mat-form-field> -->
                            <mat-form-field class="cab-data" >
                                    <mat-label>Password</mat-label>
                                    <input matInput [type]="passblock ? 'text' : 'password'"
                                    autocomplete='off' formControlName="password" required 
                                    (keyup)="checkPassword($event,'password')"
                                    [(ngModel)]="changePasswordForm.password" placeholder="New Password">
                                    <a href="javascript:void(0)" (click)="passwordDisplay('normal')"><span class="icon-invisible visible-pwd"></span></a>
                            </mat-form-field>
                            <!-- Pass strength -->
                            <ul class="passwordsuggestion pl-0">
                                <li [ngClass]="(changePasswordForm.passwordStrength['password'].pcLengthValue == 1) ? 'greensuggest' : (changePasswordForm.password == '') ? '' : 'redsuggest'"><div>8+</div></li>
                                <li [ngClass]="(changePasswordForm.passwordStrength['password'].pcLowerValue == 1) ? 'greensuggest' : (changePasswordForm.password == '') ? '' : 'redsuggest'"><div>a-z</div></li>
                                <li [ngClass]="(changePasswordForm.passwordStrength['password'].pcUpperValue == 1) ? 'greensuggest' : (changePasswordForm.password == '') ? '' : 'redsuggest'"><div>A-Z</div></li>
                                <li [ngClass]="(changePasswordForm.passwordStrength['password'].pcNumberValue == 1) ? 'greensuggest' : (changePasswordForm.password == '') ? '' : 'redsuggest'"><div>0-9</div></li>
                                <li [ngClass]="(changePasswordForm.passwordStrength['password'].pcSpecialValue == 1) ? 'greensuggest' : (changePasswordForm.password == '') ? '' : 'redsuggest'"><div>!#?</div></li>
                            </ul>
                            <a href="javascript:void(0)" [ngClass]="validCheckPassword('password')">
                                <!-- <i class="fa fa-check-circle" aria-hidden="true"></i> -->
                            </a>
                            <mat-form-field class="cab-data" >
                                <mat-label>Confirm Password</mat-label>
                                <input matInput [type]="passConfBlock ? 'text' : 'password'"
                                autocomplete='off' formControlName="confirmPassword" required 
                                (keyup)="checkPassword($event,'confirmPassword')"
                                [(ngModel)]="changePasswordForm.confirmPassword" placeholder="Confirm Password">
                                <a href="javascript:void(0)" (click)="passwordDisplay('confirm')"><span class="icon-invisible visible-pwd"></span></a>
                            </mat-form-field>
                            <!-- confirm Pass strength -->
                            <ul class="passwordsuggestion pl-0">
                                <li [ngClass]="(changePasswordForm.passwordStrength['confirmPassword'].pcLengthValue == 1) ? 'greensuggest' : (changePasswordForm.confirmPassword == '') ? '' : 'redsuggest'"><div>8+</div></li>
                                <li [ngClass]="(changePasswordForm.passwordStrength['confirmPassword'].pcLowerValue == 1) ? 'greensuggest' : (changePasswordForm.confirmPassword == '') ? '' : 'redsuggest'"><div>a-z</div></li>
                                <li [ngClass]="(changePasswordForm.passwordStrength['confirmPassword'].pcUpperValue == 1) ? 'greensuggest' : (changePasswordForm.confirmPassword == '') ? '' : 'redsuggest'"><div>A-Z</div></li>
                                <li [ngClass]="(changePasswordForm.passwordStrength['confirmPassword'].pcNumberValue == 1) ? 'greensuggest' : (changePasswordForm.confirmPassword == '') ? '' : 'redsuggest'"><div>0-9</div></li>
                                <li [ngClass]="(changePasswordForm.passwordStrength['confirmPassword'].pcSpecialValue == 1) ? 'greensuggest' : (changePasswordForm.confirmPassword == '') ? '' : 'redsuggest'"><div>!#?</div></li>
                            </ul>
                            <a href="javascript:void(0)" [ngClass]="validCheckPassword('confirmPassword')">
                                <!-- <i class="fa fa-check-circle" aria-hidden="true"></i> -->
                            </a>

                        </div>
                        
                            <div class="login-bttn">
                                <button type="submit" class="login">RESET PASSWORD</button>
                            </div>
                            <div class="no-acc">
                                <p>Remember your password? <a href="/user/sign-in">Backto Sign-In</a></p>
                            </div>
                      </div>

                    </div>
                </form>

                <div class="copyright">
                    <p>Copyright © EIAC Center 2020, All Rights Reserved.</p>
                </div>
            </div>
            <div class="col-lg-4 p-0">
                <div class="bg-img"></div>
            </div>
        </div>
    </div>
</div>
